Repository cert-manager/cert-manager, pull requests merged in 2019-04, with the labels that each got.

#1512 Update certificate if issuer changes
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  pkg/controller/ingress-shim/sync.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/L

#1521 use authoritative nameservers for CAA checks
  pkg/issuer/acme/dns/util/wait.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note, size/S

#1531 Bump repo-infra dependency
  WORKSPACE
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1544 Fixing username field in credentials secret
  docs/tasks/issuers/setup-venafi.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1543 Automated cherry pick of #1521
  pkg/issuer/acme/dns/util/wait.go
Labels: approved, area/acme, area/acme/dns01, cherry-pick-approved, dco-signoff: yes, lgtm, size/S

#1542 Bump WORKSPACE dependencies
  WORKSPACE
  hack/update-bazel.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#1429 Bump to Go 1.12
  WORKSPACE
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/XS

#1549 Automatically generate LICENSES file from dependency licenses
  Gopkg.lock
  Gopkg.toml
  LICENSES
  Makefile
  WORKSPACE
  go.mod
  go.sum
  hack/bin/BUILD.bazel
  hack/update-vendor-licenses.sh
  hack/update-vendor.sh
  hack/verify-vendor-licenses.sh
  vendor/github.com/munnerz/goautoneg/LICENSE
  vendor/modules.txt
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XXL

#1546 fix typo in the deployment template for leader election
  deploy/charts/cert-manager/Chart.yaml
  deploy/charts/cert-manager/requirements.lock
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M

#1559 Add ACME webhook package
  go.mod
  hack/update-codegen.sh
  pkg/acme/BUILD.bazel
  pkg/acme/webhook/BUILD.bazel
  pkg/acme/webhook/apis/acme/BUILD.bazel
  pkg/acme/webhook/apis/acme/doc.go
  pkg/acme/webhook/apis/acme/v1alpha1/BUILD.bazel
  pkg/acme/webhook/apis/acme/v1alpha1/doc.go
  pkg/acme/webhook/apis/acme/v1alpha1/register.go
  pkg/acme/webhook/apis/acme/v1alpha1/types.go
  pkg/acme/webhook/apis/acme/v1alpha1/zz_generated.deepcopy.go
  pkg/acme/webhook/apiserver/BUILD.bazel
  pkg/acme/webhook/apiserver/apiserver.go
  pkg/acme/webhook/cmd/BUILD.bazel
  pkg/acme/webhook/cmd/cmd.go
  pkg/acme/webhook/cmd/server/BUILD.bazel
  pkg/acme/webhook/cmd/server/start.go
  pkg/acme/webhook/registry/challengepayload/BUILD.bazel
  pkg/acme/webhook/registry/challengepayload/challenge_payload.go
  pkg/acme/webhook/webhook.go
  vendor/modules.txt
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/XXL

#1560 Allow controller constructor to return errors and pass RESTClient on context
  cmd/controller/app/controller.go
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/util_test.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/certificates/controller.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/context.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/issuers/controller.go
  pkg/controller/register.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/M

#1561 Export dnsQuery function & refactor DNS01Record function
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/util/dns.go
  pkg/issuer/acme/dns/util/wait.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note-none, size/M

#1562 Add DNS01 provider conformance test suite
  BUILD.bazel
  LICENSES
  WORKSPACE
  go.mod
  hack/bin/BUILD.bazel
  test/acme/dns/BUILD.bazel
  test/acme/dns/fixture.go
  test/acme/dns/options.go
  test/acme/dns/suite.go
  test/acme/dns/util.go
  vendor/BUILD.bazel
  vendor/github.com/onsi/gomega/BUILD.bazel
  vendor/github.com/onsi/gomega/gbytes/BUILD.bazel
  vendor/github.com/onsi/gomega/gbytes/buffer.go
  vendor/github.com/onsi/gomega/gbytes/io_wrappers.go
  vendor/github.com/onsi/gomega/gbytes/say_matcher.go
  vendor/github.com/onsi/gomega/gexec/BUILD.bazel
  vendor/github.com/onsi/gomega/gexec/build.go
  vendor/github.com/onsi/gomega/gexec/exit_matcher.go
  vendor/github.com/onsi/gomega/gexec/prefixed_writer.go
  vendor/github.com/onsi/gomega/gexec/session.go
  vendor/modules.txt
  vendor/sigs.k8s.io/testing_frameworks/LICENSE
  vendor/sigs.k8s.io/testing_frameworks/integration/BUILD.bazel
  vendor/sigs.k8s.io/testing_frameworks/integration/addr/BUILD.bazel
  vendor/sigs.k8s.io/testing_frameworks/integration/addr/manager.go
  vendor/sigs.k8s.io/testing_frameworks/integration/apiserver.go
  vendor/sigs.k8s.io/testing_frameworks/integration/control_plane.go
  vendor/sigs.k8s.io/testing_frameworks/integration/doc.go
  vendor/sigs.k8s.io/testing_frameworks/integration/etcd.go
  vendor/sigs.k8s.io/testing_frameworks/integration/internal/BUILD.bazel
  vendor/sigs.k8s.io/testing_frameworks/integration/internal/apiserver.go
  vendor/sigs.k8s.io/testing_frameworks/integration/internal/arguments.go
  vendor/sigs.k8s.io/testing_frameworks/integration/internal/bin_path_finder.go
  vendor/sigs.k8s.io/testing_frameworks/integration/internal/etcd.go
  vendor/sigs.k8s.io/testing_frameworks/integration/internal/process.go
  vendor/sigs.k8s.io/testing_frameworks/integration/kubectl.go
Labels: approved, area/acme, area/acme/dns01, area/testing, dco-signoff: yes, lgtm, release-note, size/XXL

#1564 Improve RFC2136 test DNS server
  pkg/issuer/acme/dns/rfc2136/BUILD.bazel
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note-none, size/M

#1563 Add webhook dns provider implementation
  docs/generated/reference/output/reference/api-docs/index.html
  docs/generated/reference/output/reference/api-docs/navData.js
  pkg/apis/certmanager/v1alpha1/BUILD.bazel
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/sync_test.go
  pkg/issuer/acme/dns/BUILD.bazel
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/webhook/BUILD.bazel
  pkg/issuer/acme/dns/webhook/webhook.go
Labels: approved, area/acme, area/acme/dns01, area/api, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1573 Bump manifests for v0.7.1
  deploy/charts/cert-manager/Chart.yaml
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/Chart.yaml
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/requirements.lock
  deploy/charts/cert-manager/requirements.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/charts/cert-manager/webhook/Chart.yaml
  deploy/charts/cert-manager/webhook/values.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  docs/getting-started/install.rst
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#1577 Automated cherry pick of #1576
  deploy/manifests/00-crds.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  pkg/apis/certmanager/v1alpha1/types_certificate.go
  pkg/apis/certmanager/v1alpha1/types_issuer.go
Labels: approved, area/api, area/deploy, cherry-pick-approved, dco-signoff: yes, lgtm, size/M

#1578 Pin controller-runtime dependency to use munnerz/controller-runtime fork
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/apiutil/apimachinery.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/deleg.go
  vendor/sigs.k8s.io/controller-runtime/pkg/source/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/source/source.go
Labels: approved, dco-signoff: yes, lgtm, priority/critical-urgent, release-note-none, size/L

#1576 Add omitempty to fields on conditions
  deploy/manifests/00-crds.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  pkg/apis/certmanager/v1alpha1/types_certificate.go
  pkg/apis/certmanager/v1alpha1/types_issuer.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/M

#1579 Use v1beta1 API version in cainjector controller
  pkg/api/BUILD.bazel
  pkg/api/scheme.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/injectors.go
  pkg/controller/cainjector/setup.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/BUILD.bazel
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/BUILD.bazel
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/generated.pb.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/generated.proto
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/register.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XL

#1580 Automated cherry pick of #1579
  Gopkg.lock
  cmd/cainjector/BUILD.bazel
  cmd/cainjector/start.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/injectors.go
  pkg/controller/cainjector/setup.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/BUILD.bazel
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/BUILD.bazel
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/generated.pb.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/generated.proto
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/register.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/zz_generated.deepcopy.go
Labels: approved, cherry-pick-approved, dco-signoff: yes, lgtm, size/XL

#1572 Use webhook interface for rfc2136 solver & run test suite
  pkg/issuer/acme/dns/BUILD.bazel
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/rfc2136/BUILD.bazel
  pkg/issuer/acme/dns/rfc2136/provider.go
  pkg/issuer/acme/dns/rfc2136/provider_test.go
  pkg/issuer/acme/dns/rfc2136/rfc2136.go
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
  pkg/issuer/acme/dns/rfc2136/testdata/config.json
  pkg/issuer/acme/dns/rfc2136/testdata/rfc2136-tsig-secret.yaml
  pkg/issuer/acme/dns/util_test.go
  test/acme/dns/options.go
  test/acme/dns/util.go
Labels: approved, area/acme, area/acme/dns01, area/testing, dco-signoff: yes, lgtm, release-note-none, size/L

#1575 Added static label for solver identification. Solves #1529
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/pod.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#1591 Refactor test DNS server into separate package
  pkg/issuer/acme/dns/rfc2136/BUILD.bazel
  pkg/issuer/acme/dns/rfc2136/provider_test.go
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
  test/acme/dns/BUILD.bazel
  test/acme/dns/server/BUILD.bazel
  test/acme/dns/server/doc.go
  test/acme/dns/server/rfc2136.go
  test/acme/dns/server/server.go
Labels: approved, area/acme, area/acme/dns01, area/testing, dco-signoff: yes, lgtm, release-note-none, size/L

#1592 Update webhook apiserver Scheme to add webhook API types
  pkg/acme/webhook/apiserver/BUILD.bazel
  pkg/acme/webhook/apiserver/apiserver.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/XS

#1593 Fix runtime errors with webhook apiserver library
  pkg/acme/webhook/apiserver/apiserver.go
  pkg/acme/webhook/cmd/server/BUILD.bazel
  pkg/acme/webhook/cmd/server/start.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/XS

#1595 Use 'kind load docker-image' command for faster image loads
  WORKSPACE
  hack/ci/lib/build_images.sh
  test/fixtures/kind/config-v1alpha3.yaml
  test/fixtures/kind/config-v1beta1.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#1597 Set Reason field on ACME challenges during Present/CleanUp
  pkg/controller/acmechallenges/sync.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/XS

#1598 Expose ginkgo.focus and skip-globals flags in e2e_test
  Makefile
  test/e2e/e2e.go
  test/e2e/framework/config/addons.go
  test/e2e/framework/framework.go
  test/e2e/framework/helper/certificates.go
Labels: approved, area/acme, area/acme/dns01, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#1600 Fix webhook DNS provider bugs
  pkg/api/BUILD.bazel
  pkg/api/scheme.go
  pkg/apis/certmanager/validation/issuer.go
  pkg/issuer/acme/dns/webhook/webhook.go
Labels: approved, area/acme, area/acme/dns01, area/api, dco-signoff: yes, lgtm, release-note-none, size/S

#1585 Add feature gate for ValidateCAA functionality and default it to off
  BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/controller/start.go
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/feature/BUILD.bazel
  pkg/feature/features.go
  vendor/modules.txt
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/L

#1527 Add log level
  deploy/charts/cert-manager/Chart.yaml
  deploy/charts/cert-manager/cainjector/templates/deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/charts/cert-manager/webhook/templates/deployment.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M, tide/squash

#1594 Add acme dns01 webhook provider e2e test case
  hack/ci/lib/build_images.sh
  test/e2e/BUILD.bazel
  test/e2e/framework/addon/BUILD.bazel
  test/e2e/framework/addon/certmanager/addon.go
  test/e2e/framework/addon/samplewebhook/BUILD.bazel
  test/e2e/framework/addon/samplewebhook/addon.go
  test/e2e/framework/addon/samplewebhook/sample/BUILD.bazel
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/.helmignore
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/Chart.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/NOTES.txt
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/_helpers.tpl
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/apiservice.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/deployment.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/pki.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/rbac.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/service.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/values.yaml
  test/e2e/framework/addon/samplewebhook/sample/main.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/webhook.go
  test/fixtures/example-webhook-values.yaml
Labels: approved, area/acme, area/acme/dns01, area/api, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XL
