Repository cert-manager/cert-manager, pull requests merged in 2019-06, with the labels that each got.

#1692 Add metric to count number of sync calls
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificates/sync.go
  pkg/controller/clusterissuers/BUILD.bazel
  pkg/controller/clusterissuers/sync.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/sync.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/sync.go
  pkg/metrics/metrics.go
Labels: approved, area/acme, area/monitoring, dco-signoff: yes, lgtm, release-note, size/M

#1663 Switch to gcr.io/distroless/static base image
  WORKSPACE
  hack/def.bzl
  test/e2e/charts/pebble/BUILD.bazel
  test/e2e/framework/addon/samplewebhook/sample/BUILD.bazel
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note, size/M

#1658 Split up RBAC permissions and make them more granular
  deploy/charts/cert-manager/cainjector/templates/rbac.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/L

#1724 Add solvers fields in Let's Encrypt/nginx quick start guide
  docs/tutorials/acme/quick-start/example/ingress-tls-final.yaml
  docs/tutorials/acme/quick-start/example/ingress-tls.yaml
  docs/tutorials/acme/quick-start/example/ingress.yaml
  docs/tutorials/acme/quick-start/example/production-issuer.yaml
  docs/tutorials/acme/quick-start/example/staging-issuer.yaml
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1648 Add support for ACMEv2 POST-as-GET
  test/e2e/charts/pebble/templates/deployment.yaml
  test/e2e/charts/pebble/values.yaml
  test/e2e/framework/addon/pebble/pebble.go
  test/e2e/framework/config/pebble.go
  third_party/crypto/acme/acme.go
  third_party/crypto/acme/acme_test.go
  third_party/crypto/acme/jws.go
Labels: approved, area/acme, area/testing, dco-signoff: yes, lgtm, release-note, size/L

#1748 Fixed manifest file link for openshift
  docs/getting-started/install/openshift.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1717 Fix solver selection logic to return the selected solver rather than always returning the last one
  pkg/controller/acmeorders/sync.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#1758 Fix panic in HTTP01 solver if ingress field is not specified
  pkg/issuer/acme/http/http.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, lgtm, release-note, size/XS

#1754 Bump vcert to latest version
  go.mod
  go.sum
  pkg/issuer/venafi/BUILD.bazel
  pkg/issuer/venafi/connector_test.go
  pkg/issuer/venafi/issue.go
  pkg/issuer/venafi/issue_test.go
  pkg/issuer/venafi/venafi.go
  vendor/github.com/Venafi/vcert/client.go
  vendor/github.com/Venafi/vcert/config.go
  vendor/github.com/Venafi/vcert/pkg/certificate/certificate.go
  vendor/github.com/Venafi/vcert/pkg/certificate/certificateCollection.go
  vendor/github.com/Venafi/vcert/pkg/endpoint/endpoint.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/certificatePolicies.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/cloud.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/company.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/connector.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/search.go
  vendor/github.com/Venafi/vcert/pkg/venafi/fake/connector.go
  vendor/github.com/Venafi/vcert/pkg/venafi/fake/fake.go
  vendor/github.com/Venafi/vcert/pkg/venafi/tpp/connector.go
  vendor/github.com/Venafi/vcert/pkg/venafi/tpp/search.go
  vendor/github.com/Venafi/vcert/pkg/venafi/tpp/tpp.go
  vendor/github.com/Venafi/vcert/vcert.go
  vendor/modules.txt
Labels: approved, area/venafi, dco-signoff: yes, lgtm, priority/critical-urgent, release-note, size/XXL

#1649 Typo. should tenantID ?
  pkg/issuer/acme/dns/dns.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#1742 Quick-Start example clarity suggestions
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/M

#1670 Ensure only the sole owner of a certificate can modify it
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#1757 Fix ECDSA certificate issuance with ACME issuer
  pkg/issuer/acme/issue.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/http01_new.go
Labels: approved, area/acme, area/testing, dco-signoff: yes, lgtm, release-note, size/S

#1749 Expose pod tempting on acme http issuer
  docs/generated/reference/output/reference/api-docs/index.html
  docs/generated/reference/output/reference/api-docs/navData.js
  docs/tasks/issuers/setup-acme/http01/index.rst
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/certmanager/validation/BUILD.bazel
  pkg/apis/certmanager/validation/issuer.go
  pkg/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
Labels: approved, area/acme, area/acme/http01, area/api, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1786 Add documentation on taking care when setting `renewBefore` to be close to `duration`
  docs/tasks/issuing-certificates/index.rst
  pkg/controller/helper_test.go
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1785 Fix indentation on ACME setup examples
  docs/tasks/issuers/setup-acme/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/S

#1779 Add documentation on cnameStrategy
  docs/tasks/issuers/setup-acme/dns01/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1753 cert-manager-webhook secret exists in cert-manager ns
  docs/getting-started/troubleshooting.rst
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/XS

#1722 Add BaseController as a refactoring of common controller code
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/checks.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/base_controller.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/checks.go
  pkg/controller/certificates/controller.go
  pkg/controller/clusterissuers/BUILD.bazel
  pkg/controller/clusterissuers/controller.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/controller.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/controller.go
  vendor/modules.txt
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/XL

#1761 Add support for Prometheus Operator ServiceMonitor object in Helm Chart
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M

#1689 Validate that only one Certificate is using a secretName per namespace
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  test/unit/gen/certificate.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note, size/L

#1704 Ensure managed zone picked for CloudDNS is public
  pkg/issuer/acme/dns/clouddns/BUILD.bazel
  pkg/issuer/acme/dns/clouddns/clouddns.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note, size/S

#1765 Add truncation of certificate name when forming order name
  pkg/issuer/acme/issue.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/XS

#1792 Fix code rendering in docs
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1481 Update troubleshooting.rst
  docs/getting-started/troubleshooting.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1308 Allows certificates to use PKCS#8 Issue 1155
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  docs/reference/certificates.rst
  pkg/apis/certmanager/v1alpha1/types_certificate.go
  pkg/apis/certmanager/validation/certificate.go
  pkg/issuer/acme/issue.go
  pkg/issuer/ca/issue.go
  pkg/issuer/ca/issue_test.go
  pkg/issuer/selfsigned/issue.go
  pkg/issuer/vault/issue.go
  pkg/issuer/venafi/issue.go
  pkg/util/pki/generate.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_test.go
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/unit/gen/certificate.go
Labels: approved, area/acme, area/api, area/ca, area/deploy, area/testing, area/vault, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/L, tide/squash

#1705 Add the removal of unrequired certificates
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#1796 Bump version numbers for v0.8.1
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1681 Clean up Prometheus metrics for deleted Certificates
  pkg/controller/certificates/controller.go
  pkg/metrics/BUILD.bazel
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Labels: approved, area/acme, area/monitoring, dco-signoff: yes, lgtm, release-note, size/L

#1797 Bump manifests for v0.8.1
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1798 Fix loggableAddon interface in test framework
  test/e2e/framework/framework.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#1801 Document configuring nodeSelector for webhook and cainjector
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/webhook/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#1805 Use find + sort to ensure we list CRD files consistently across multiple dev environments
  hack/update-crds.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1815 Removing use of kubectl --show-all in docs
  docs/getting-started/troubleshooting.rst
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1804 Refactor controllers to not reference BaseController
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/util_test.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/checks.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/util_test.go
  pkg/controller/base_controller.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/checks.go
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/util_test.go
  pkg/controller/clusterissuers/BUILD.bazel
  pkg/controller/clusterissuers/checks.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/clusterissuers/sync.go
  pkg/controller/clusterissuers/util_test.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/checks.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/checks.go
  pkg/controller/issuers/controller.go
  pkg/controller/issuers/sync.go
  pkg/controller/issuers/util_test.go
  pkg/controller/test/context_builder.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/XXL

#1789 Adds CertificateRequest resource
  deploy/manifests/00-crds.yaml
  hack/update-crds.sh
  pkg/apis/certmanager/v1alpha1/BUILD.bazel
  pkg/apis/certmanager/v1alpha1/register.go
  pkg/apis/certmanager/v1alpha1/types.go
  pkg/apis/certmanager/v1alpha1/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/BUILD.bazel
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/certificaterequest.go
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/certmanager_client.go
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/fake/BUILD.bazel
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/fake/fake_certificaterequest.go
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/fake/fake_certmanager_client.go
  pkg/client/clientset/versioned/typed/certmanager/v1alpha1/generated_expansion.go
  pkg/client/informers/externalversions/certmanager/v1alpha1/BUILD.bazel
  pkg/client/informers/externalversions/certmanager/v1alpha1/certificaterequest.go
  pkg/client/informers/externalversions/certmanager/v1alpha1/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/certmanager/v1alpha1/BUILD.bazel
  pkg/client/listers/certmanager/v1alpha1/certificaterequest.go
  pkg/client/listers/certmanager/v1alpha1/expansion_generated.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/XL

#1823 Remove use of klog from more places
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/scheduler/BUILD.bazel
  pkg/controller/acmechallenges/scheduler/scheduler.go
  pkg/controller/acmechallenges/scheduler/scheduler_test.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/sync.go
  pkg/controller/helper.go
  pkg/controller/helper_test.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/sync.go
  pkg/issuer/acme/dns/BUILD.bazel
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
  pkg/issuer/acme/issue.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note-none, size/L

#1807 Adds sign interfaces for Issuers
  pkg/issuer/acme/BUILD.bazel
  pkg/issuer/acme/sign.go
  pkg/issuer/ca/BUILD.bazel
  pkg/issuer/ca/sign.go
  pkg/issuer/fake/fake.go
  pkg/issuer/issuer.go
  pkg/issuer/selfsigned/BUILD.bazel
  pkg/issuer/selfsigned/sign.go
  pkg/issuer/vault/BUILD.bazel
  pkg/issuer/vault/sign.go
  pkg/issuer/venafi/BUILD.bazel
  pkg/issuer/venafi/sign.go
Labels: approved, area/acme, area/api, area/ca, area/deploy, area/vault, dco-signoff: yes, lgtm, release-note, size/L

#1827 Bump to vcert v4.1.0
  go.mod
  go.sum
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/certificatePolicies.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/cloud.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/company.go
  vendor/github.com/Venafi/vcert/pkg/venafi/cloud/connector.go
  vendor/modules.txt
Labels: approved, area/venafi, dco-signoff: yes, lgtm, release-note, size/L

#1831 Fix typo
  docs/getting-started/webhook.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS
