Repository cert-manager/cert-manager, pull requests merged in 2019-08, with the labels that each got.

#1941 include helmfile alternative installation
  docs/getting-started/install/kubernetes.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/S

#1945 CertificateRequest event reporter + passing issuer to Sign
  BUILD.bazel
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/ca/BUILD.bazel
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificaterequests/fake/fake.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/util/BUILD.bazel
  pkg/controller/certificaterequests/util/reporter.go
  test/unit/listers/BUILD.bazel
  test/unit/listers/secret.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/L

#1949 Do not validate issuerRef's Kind field if group is not recognised
  pkg/apis/certmanager/validation/certificate.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note, size/S

#1950 Adds the CertificateRequest annotations section to JEP
  design/20190708.certificate-request-crd.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/S

#1906 SelfSigned Sign Implementation
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  pkg/apis/certmanager/v1alpha1/types.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/selfsigned/BUILD.bazel
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificates/certificate_request.go
  pkg/controller/certificates/certificate_request_test.go
  pkg/util/pki/generate.go
  test/e2e/suite/issuers/selfsigned/BUILD.bazel
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/e2e/suite/issuers/selfsigned/certificaterequest.go
  test/e2e/suite/issuers/selfsigned/fixtures.go
  test/unit/gen/certificaterequest.go
Labels: approved, area/acme, area/api, area/ca, area/testing, area/vault, dco-signoff: yes, lgtm, release-note, size/XXL

#1939 Fix enum type validation schema in API
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha1/types.go
  pkg/apis/certmanager/v1alpha1/types_certificate.go
  pkg/apis/certmanager/v1alpha1/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha1/types_challenge.go
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/v1alpha1/types_order.go
  pkg/apis/certmanager/validation/issuer.go
  pkg/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/dns/dns.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/L

#1942 helm: fix lables and add Service for Prometheus ServiceMonitor
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M

#1956 Fix functionality of metrics cleanUp function
  pkg/metrics/metrics.go
Labels: approved, area/monitoring, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#1957 Add omitempty to spec and status fields
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha1/types_challenge.go
  pkg/apis/certmanager/v1alpha1/types_order.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#1958 Only run 10 e2e test cases in parallel
  Makefile
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1965 Backport fix for panic in orders controller
  pkg/controller/acmeorders/controller.go
Labels: approved, area/acme, cherry-pick-approved, dco-signoff: yes, lgtm, release-note, size/XS

#1917 feat: add option to assume-role in route53
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  docs/tasks/issuers/setup-acme/dns01/route53.rst
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
  pkg/issuer/acme/dns/route53/BUILD.bazel
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
  pkg/issuer/acme/dns/util_test.go
  vendor/github.com/aws/aws-sdk-go/service/sts/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/sts/stsiface/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/sts/stsiface/interface.go
  vendor/modules.txt
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/XL

#1960 Update documentation on service principal creation
  docs/tasks/issuers/setup-acme/dns01/azuredns.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/S

#1977 Adds FailureTime and ACME behaviour to CertificateRequest JEP
  design/20190708.certificate-request-crd.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/M

#1970 Improve ServiceMonitor resource by adding custom namespace and custom labels
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#1980 Fix concurrent map write panic
  pkg/controller/certificates/sync.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#1982 Bump version strings for v0.9.1
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1979 Adds CertificateRequest FailureTime
  deploy/manifests/00-crds.yaml
  pkg/api/util/conditions.go
  pkg/apis/certmanager/v1alpha1/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/ca/BUILD.bazel
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificaterequests/selfsigned/BUILD.bazel
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/util/BUILD.bazel
  pkg/controller/certificaterequests/util/reporter.go
  pkg/controller/certificaterequests/util/reporter_test.go
  pkg/controller/certificates/certificate_request.go
  pkg/controller/certificates/certificate_request_test.go
  test/unit/gen/certificaterequest.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, lgtm, release-note, size/XL

#1987 Move TLSCAKey to v1alpha1 package
  pkg/apis/certmanager/v1alpha1/types.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/controller.go
  pkg/controller/certificates/certificate_request.go
  pkg/controller/certificates/certificate_request_test.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/L

#1989 Remove dead code in apis package
  pkg/apis/certmanager/v1alpha1/BUILD.bazel
  pkg/apis/certmanager/v1alpha1/conversion.go
  pkg/apis/certmanager/v1alpha1/defaults.go
  pkg/apis/certmanager/v1alpha1/register.go
  pkg/apis/certmanager/v1alpha1/zz_generated.defaults.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/M

#1986 Move API webhook validation package
  BUILD.bazel
  cmd/webhook/BUILD.bazel
  cmd/webhook/main.go
  pkg/apis/certmanager/validation/BUILD.bazel
  pkg/webhook/validation/BUILD.bazel
  pkg/webhook/validation/certificate.go
  pkg/webhook/validation/clusterissuer.go
  pkg/webhook/validation/issuer.go
  vendor/modules.txt
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/S

#1988 Add generate-groups-internal.sh script from code-generator
  hack/BUILD.bazel
  hack/update-codegen.sh
  third_party/k8s.io/code-generator/BUILD.bazel
  third_party/k8s.io/code-generator/generate-groups-internal.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#1990 Extend cainjector to support injecting from secrets
  cmd/cainjector/start.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/controller.go
  pkg/controller/cainjector/indexers.go
  pkg/controller/cainjector/setup.go
  pkg/controller/cainjector/sources.go
  test/e2e/suite/serving/cainjector.go
Labels: approved, area/api, area/testing, dco-signoff: yes, lgtm, release-note, size/XL

#1995 Include the shared controller Sync function in all CR controller tests
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/ca/BUILD.bazel
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/BUILD.bazel
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/test/BUILD.bazel
  pkg/controller/certificaterequests/test/util.go
  pkg/controller/certificaterequests/util/reporter.go
  pkg/controller/certificaterequests/util/reporter_test.go
  pkg/controller/certificaterequests/vault/BUILD.bazel
  pkg/controller/certificaterequests/vault/vault.go
  pkg/controller/certificaterequests/vault/vault_test.go
  test/unit/gen/certificaterequest.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XXL

#1993 Use dedicated controller for bootstrapping webhook TLS
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  deploy/charts/cert-manager/requirements.yaml
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-apiservice.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/charts/cert-manager/webhook/.helmignore
  deploy/charts/cert-manager/webhook/Chart.yaml
  deploy/charts/cert-manager/webhook/templates/NOTES.txt
  deploy/charts/cert-manager/webhook/templates/_helpers.tpl
  deploy/charts/cert-manager/webhook/templates/pki.yaml
  deploy/charts/cert-manager/webhook/values.yaml
  pkg/apis/certmanager/v1alpha1/types.go
  pkg/controller/BUILD.bazel
  pkg/controller/cainjector/indexers.go
  pkg/controller/cainjector/sources.go
  pkg/controller/context.go
  pkg/controller/webhookbootstrap/BUILD.bazel
  pkg/controller/webhookbootstrap/controller.go
  pkg/controller/webhookbootstrap/controller_test.go
  test/e2e/suite/serving/BUILD.bazel
  test/e2e/suite/serving/cainjector.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, lgtm, release-note, size/XXL

#1998 Bump cert-manager version strings v0.9.0 -> v0.10.0
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tasks/issuing-certificates/index.rst
  docs/tasks/upgrading/index.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1999 Adds documentation to describe how to perform 0.8->0.9 process
  docs/tasks/upgrading/upgrading-0.8-0.9.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2004 #1931 clarify you have to manually add the jetstack helm repo
  docs/tasks/upgrading/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2008 Refactor base controller and allow Running additional informers
  cmd/controller/app/controller.go
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/base_controller.go
  pkg/controller/builder.go
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificaterequests/vault/vault.go
  pkg/controller/certificaterequests/venafi/venafi.go
  pkg/controller/certificates/certificate_request.go
  pkg/controller/certificates/controller.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/controller.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/issuers/controller.go
  pkg/controller/register.go
  pkg/controller/util.go
  pkg/controller/webhookbootstrap/controller.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/XL

#2003 Watch only the webhookboostrap namespace in bootstrap controller
  pkg/controller/acmechallenges/sync_test.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/vault/vault_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificates/certificate_request_test.go
  pkg/controller/certificates/sync_test.go
  pkg/controller/clusterissuers/sync_test.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/controller/issuers/sync_test.go
  pkg/controller/test/BUILD.bazel
  pkg/controller/test/context_builder.go
  pkg/controller/webhookbootstrap/BUILD.bazel
  pkg/controller/webhookbootstrap/controller.go
  pkg/controller/webhookbootstrap/controller_test.go
  pkg/issuer/acme/dns/util_test.go
  pkg/issuer/acme/http/util_test.go
  pkg/issuer/acme/setup_test.go
  pkg/issuer/acme/util_test.go
  pkg/issuer/ca/util_test.go
  pkg/issuer/helper_test.go
  vendor/modules.txt
Labels: approved, area/acme, area/acme/dns01, area/acme/http01, area/ca, dco-signoff: yes, lgtm, release-note-none, size/L

#2016 Update kubectl output result with kubectl 12+
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2014 test/acme/dns: poll interval and propagation limit configurable
  test/acme/dns/fixture.go
  test/acme/dns/options.go
  test/acme/dns/suite.go
  test/acme/dns/util.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/M

#2024 Fix docs on how to generate docs
  docs/devel/generate-docs.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS
