Repository cert-manager/cert-manager, pull requests merged in 2019-07, with the labels that each got.

#1835 Adds Sign function to CA issuer
  pkg/issuer/ca/BUILD.bazel
  pkg/issuer/ca/issue.go
  pkg/issuer/ca/issue_test.go
  pkg/issuer/ca/sign.go
  pkg/issuer/ca/sign_test.go
  pkg/issuer/ca/util_test.go
  pkg/util/pki/BUILD.bazel
  pkg/util/pki/csr.go
  test/unit/gen/BUILD.bazel
  test/unit/gen/certificaterequest.go
Labels: approved, area/api, area/ca, area/testing, dco-signoff: yes, lgtm, release-note, size/XL

#1845 Change bazel build to only build for current --platform
  BUILD.bazel
  Makefile
  cmd/acmesolver/BUILD.bazel
  cmd/cainjector/BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/webhook/BUILD.bazel
  hack/def.bzl
  hack/release/pkg/bazel/flags.go
  hack/release/pkg/build/images/plugin.go
  test/e2e/charts/pebble/BUILD.bazel
  test/e2e/framework/addon/samplewebhook/sample/BUILD.bazel
Labels: approved, area/acme, area/testing, dco-signoff: yes, lgtm, release-note-none, size/L

#1842 Bump Bazel dependencies and tidy up build files
  .bazelversion
  WORKSPACE
  docs/generated/reference/generate/BUILD.bazel
  hack/def.bzl
  test/acme/dns/options.go
  test/e2e/BUILD.bazel
  test/e2e/bin/BUILD.bazel
Labels: approved, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1505 Add support for CRDs to the CA injector
  deploy/charts/cert-manager/cainjector/templates/rbac.yaml
  pkg/api/BUILD.bazel
  pkg/api/scheme.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/controller.go
  pkg/controller/cainjector/injectors.go
  pkg/controller/cainjector/setup.go
  test/e2e/framework/BUILD.bazel
  test/e2e/framework/framework.go
  test/e2e/suite/serving/BUILD.bazel
  test/e2e/suite/serving/cainjector.go
Labels: approved, area/deploy, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note, size/L

#1764 Allow disabling issuing temporary certificates
  docs/devel/develop-with-minikube.rst
  docs/tasks/issuing-certificates/index.rst
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/sync.go
  pkg/feature/features.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/M

#1848 [GH-597] add cache-control header
  pkg/issuer/acme/http/solver/solver.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#1763 Add handling of updates to ACME email field in Issuers
  deploy/manifests/00-crds.yaml
  pkg/acme/client/fake.go
  pkg/acme/client/interfaces.go
  pkg/acme/client/middleware/logger.go
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/issuer/acme/setup.go
  test/e2e/suite/issuers/acme/issuer.go
Labels: approved, area/acme, area/api, area/deploy, area/testing, dco-signoff: yes, lgtm, release-note, size/L

#1849 Respect --namespace flag in rfc2136 provider
  cmd/controller/app/controller.go
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync_test.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/rfc2136/provider.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note, size/M

#1806 Add support for dnsZones in ACME solver selectors & rewrite selection logic
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/selectors/BUILD.bazel
  pkg/controller/acmeorders/selectors/dns_names.go
  pkg/controller/acmeorders/selectors/dns_zones.go
  pkg/controller/acmeorders/selectors/labels.go
  pkg/controller/acmeorders/selectors/selector.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XXL

#1830 make azure endpoint configurable
  docs/generated/reference/output/reference/api-docs/index.html
  docs/tasks/issuers/setup-acme/dns01/azuredns.rst
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/validation/issuer.go
  pkg/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/util_test.go
Labels: approved, area/acme, area/acme/dns01, area/api, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/M

#1850 Use proxy from env in self check request
  pkg/issuer/acme/http/http.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#1853 Remove myself from top-level reviewers list
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1769 Replace labels to use the newer ones
  deploy/charts/cert-manager/cainjector/templates/deployment.yaml
  deploy/charts/cert-manager/cainjector/templates/rbac.yaml
  deploy/charts/cert-manager/cainjector/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/webhook/templates/apiservice.yaml
  deploy/charts/cert-manager/webhook/templates/deployment.yaml
  deploy/charts/cert-manager/webhook/templates/pki.yaml
  deploy/charts/cert-manager/webhook/templates/rbac.yaml
  deploy/charts/cert-manager/webhook/templates/service.yaml
  deploy/charts/cert-manager/webhook/templates/serviceaccount.yaml
  deploy/charts/cert-manager/webhook/templates/validating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/L

#1777 Fix incorrect `issuewild` handling in matchCAA
  pkg/issuer/acme/dns/util/BUILD.bazel
  pkg/issuer/acme/dns/util/wait.go
  pkg/issuer/acme/dns/util/wait_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, release-note, size/L

#1567 Update Venafi Issuer doc
  docs/tasks/issuers/setup-venafi.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1818 Add validation for CommonName and DNSNames length
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  pkg/apis/certmanager/v1alpha1/types_certificate.go
  pkg/apis/certmanager/validation/certificate.go
  pkg/apis/certmanager/validation/certificate_test.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/http01_new.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1855 Use latest rules_go to fix crossbuild issues with Bazel 0.26+
  .bazelversion
  WORKSPACE
  hack/ci/lib/build_images.sh
  hack/release/pkg/bazel/flags.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#1856 Fire an Event when no acme solver matches an identifier being validated
  pkg/controller/acmeorders/sync.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/XS

#1828 enable-certificate-owner-ref chart placeholder
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#1862 Skip Venafi issuer e2e tests
  test/e2e/suite/issuers/venafi/tpp/certificate.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#1861 Fix fetching logs in e2e test framework
  test/e2e/framework/addon/chart/addon.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/S

#1803 Add support for nodeSelector, tolerations & affinity in podTemplate
  docs/generated/reference/output/reference/api-docs/index.html
  docs/generated/reference/output/reference/api-docs/navData.js
  docs/tasks/issuers/setup-acme/http01/index.rst
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/certmanager/validation/issuer.go
  pkg/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
Labels: approved, area/acme, area/acme/http01, area/api, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1852 Fix issues with updating ACME account email
  pkg/issuer/acme/setup.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/M

#1864 hack/release: add --stamp=true when running 'bazel run'
  hack/release/pkg/bazel/flags.go
  hack/release/pkg/log/log.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1863 Bump version strings for v0.9 alpha
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tasks/issuing-certificates/index.rst
  docs/tasks/upgrading/index.rst
  docs/tasks/upgrading/upgrading-0.5-0.6.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1865 Add logo in svg format
  logo/logo.svg
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1866 CertificateRequest "KEP"
  design/20190708.certificate-request-crd.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note, size/L

#1872 CR KEP: Updates the beta strategy for Certificates controller
  design/20190708.certificate-request-crd.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/S

#1867 Create separate files for various Bazel dependencies
  WORKSPACE
  docs/generated/reference/deps.bzl
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/ci/lib/lib.sh
  test/e2e/BUILD.bazel
  test/e2e/bin/BUILD.bazel
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XXL

#1860 Include Group name in IssuerRef for CertificateRequest controller ownership distinction
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  pkg/apis/certmanager/v1alpha1/types.go
  pkg/apis/certmanager/v1alpha1/types_certificaterequest.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1876 Adds design and proposals to docs website
  docs/design/index.rst
  docs/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XS

#1881 Fix bug where solver with no selector causes nil pointer
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/M

#1878 Update google.rst
  docs/tasks/issuers/setup-acme/dns01/google.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/S

#1884 Encode CSR on Order into PEM format and properly handle decoding
  pkg/controller/acmeorders/sync.go
  pkg/issuer/acme/issue.go
  pkg/issuer/acme/issue_test.go
Labels: approved, area/acme, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#1890 Adds release-notes to be in tree
  design/release-notes/release-0.1/draft-release-notes.md
  design/release-notes/release-0.2/draft-release-notes.md
  design/release-notes/release-0.3/draft-release-notes.md
  design/release-notes/release-0.4/draft-release-notes.md
  design/release-notes/release-0.5/draft-release-notes.md
  design/release-notes/release-0.6/draft-release-notes.md
  design/release-notes/release-0.7/draft-release-notes.md
  design/release-notes/release-0.8/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/XL

#1811 Add Prometheus metrics for Certificate ready status
  pkg/controller/certificates/sync.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Labels: approved, area/monitoring, dco-signoff: yes, lgtm, release-note, size/L

#1875 Adds CertificateRequest docs
  docs/reference/certificaterequests.rst
  docs/reference/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1895 Changes CertificateRequest conditions to only Pending/Failed/Issued
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#1899 Adds release-0.9 upgrade guide
  docs/tasks/upgrading/index.rst
  docs/tasks/upgrading/upgrading-0.8-0.9.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1879 Implement new Certificate controller that manages CertificateRequest resources
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/certificate_request.go
  pkg/controller/certificates/certificate_request_test.go
  pkg/controller/certificates/checks.go
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/sync.go
  pkg/issuer/acme/issue.go
  pkg/issuer/vault/issue.go
  pkg/util/pki/csr.go
  test/unit/gen/certificate.go
  test/unit/gen/certificaterequest.go
Labels: approved, area/acme, area/testing, area/vault, dco-signoff: yes, lgtm, release-note, size/XXL

#1898 Adds joshvanl to OWNERS
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1891 0.9 Release Notes
  design/release-notes/release-0.8/draft-release-notes.md
  design/release-notes/release-0.9/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/L

#1894 Bump version numbers for v0.9.0-alpha.0 to v0.9.0-beta.0
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1900 Updates release process
  docs/devel/release-process.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1729 1439 eks docs
  docs/tutorials/index.rst
  docs/tutorials/venafi/securing-ingress.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XL

#1904 doc: mark MD code as golang for readability
  design/20190708.certificate-request-crd.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, ok-to-test, release-note-none, size/XS

#1912 Fix two typos in Venafi tutorial & add TPP details
  docs/tasks/issuers/setup-venafi.rst
  docs/tutorials/venafi/securing-ingress.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1911 Update high level overview diagram
  README.md
  docs/images/high-level-overview.png
  docs/images/high-level-overview.svg
  docs/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1913 Update Deployment manifests to use apps/v1
  deploy/charts/cert-manager/cainjector/templates/deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/webhook/templates/deployment.yaml
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/deployment.yaml
Labels: approved, area/deploy, area/testing, dco-signoff: yes, lgtm, release-note, size/XS

#1920 Bump version strings for v0.9.0
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1919 Bump rules_go and gazelle
  WORKSPACE
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#1918 Add intro to 0.9 release notes
  design/release-notes/release-0.9/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/M

#1910 Move CA signer into ./pkg/controller/certificaterequests/ca
  pkg/api/util/issuers.go
  pkg/apis/certmanager/v1alpha1/types_certificaterequest.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/ca/BUILD.bazel
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/ca/util_test.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificaterequests/fake/BUILD.bazel
  pkg/controller/certificaterequests/fake/fake.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/util_test.go
  pkg/controller/certificates/certificate_request.go
  pkg/controller/certificates/sync.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/controller/test/BUILD.bazel
  pkg/controller/test/context_builder.go
  pkg/controller/test/recorder.go
  pkg/issuer/acme/BUILD.bazel
  pkg/issuer/acme/sign.go
  pkg/issuer/ca/BUILD.bazel
  pkg/issuer/ca/sign.go
  pkg/issuer/issuer.go
  pkg/issuer/selfsigned/BUILD.bazel
  pkg/issuer/vault/BUILD.bazel
  pkg/issuer/vault/sign.go
  pkg/issuer/venafi/BUILD.bazel
  pkg/issuer/venafi/sign.go
  pkg/util/util.go
Labels: approved, area/acme, area/api, area/ca, area/vault, dco-signoff: yes, lgtm, release-note-none, size/XXL

#1928 Add CheckFn to testpkg.Builder & use it in CertificateRequest controller
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/ca/BUILD.bazel
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/ca/util_test.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/util_test.go
  pkg/controller/test/context_builder.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XL

#1936 chart: fix formatting of values table in README.md
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS
