Repository cert-manager/cert-manager, pull requests merged in 2019-05, with the labels that each got.

#1601 Build under MacOS.
  Makefile
  docs/devel/develop-with-minikube.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/XS

#1603 Handle expired challenge responses in acmechallenges controller
  pkg/controller/acmechallenges/sync.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/M

#1604 Set global.logLevel to 4 during e2e tests
  test/fixtures/cert-manager-values.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#1602 Fix update loop due to changing notAfter struct
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/sync.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#1606 Automated cherry pick of #1585
  BUILD.bazel
  Gopkg.lock
  cmd/controller/BUILD.bazel
  cmd/controller/start.go
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/feature/BUILD.bazel
  pkg/feature/features.go
Labels: approved, area/acme, cherry-pick-approved, dco-signoff: yes, lgtm, size/L

#1616 Fix string escaping in CRD additionalPrinterColumns
  deploy/manifests/00-crds.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  pkg/apis/certmanager/v1alpha1/types_certificate.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#1617 Automated cherry pick of #1616
  deploy/manifests/00-crds.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  pkg/apis/certmanager/v1alpha1/types_certificate.go
Labels: approved, area/api, area/deploy, cherry-pick-approved, dco-signoff: yes, lgtm, size/S

#1615 Bump manifests and docs for v0.8
  deploy/charts/cert-manager/Chart.yaml
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/Chart.yaml
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/requirements.lock
  deploy/charts/cert-manager/requirements.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/charts/cert-manager/webhook/Chart.yaml
  deploy/charts/cert-manager/webhook/values.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  docs/getting-started/install.rst
  docs/getting-started/webhook.rst
  docs/tasks/issuing-certificates/index.rst
  docs/tasks/upgrading/index.rst
  docs/tasks/upgrading/upgrading-0.5-0.6.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#1618 Bump manifests for v0.7.2
  deploy/charts/cert-manager/Chart.yaml
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/Chart.yaml
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/requirements.lock
  deploy/charts/cert-manager/requirements.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/charts/cert-manager/webhook/Chart.yaml
  deploy/charts/cert-manager/webhook/values.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
  docs/getting-started/install.rst
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#1619 Fix update loop due to changing notAfter struct
  pkg/controller/certificates/sync.go
Labels: approved, cherry-pick-approved, dco-signoff: yes, lgtm, release-note, size/XS

#1622 Update OWNERS
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1620 Fix issue when migrating ingress-shim managed certificates from old to new format
  pkg/controller/ingress-shim/sync.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1623 Rearrange docs after new solver changes and remove old content
  docs/redirects
  docs/tasks/acme/debugging-failing-orders.rst
  docs/tasks/acme/index.rst
  docs/tasks/acme/issuing-certificates.rst
  docs/tasks/index.rst
  docs/tasks/issuers/index.rst
  docs/tasks/issuers/setup-acme/dns01/acme-dns.rst
  docs/tasks/issuers/setup-acme/dns01/akamai.rst
  docs/tasks/issuers/setup-acme/dns01/azuredns.rst
  docs/tasks/issuers/setup-acme/dns01/cloudflare.rst
  docs/tasks/issuers/setup-acme/dns01/digitalocean.rst
  docs/tasks/issuers/setup-acme/dns01/google.rst
  docs/tasks/issuers/setup-acme/dns01/index.rst
  docs/tasks/issuers/setup-acme/dns01/rfc2136.rst
  docs/tasks/issuers/setup-acme/dns01/route53.rst
  docs/tasks/issuers/setup-acme/http01/index.rst
  docs/tasks/issuers/setup-acme/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1395 Fix RBAC for openshift and add openshift compatibility
  deploy/charts/cert-manager/Chart.yaml
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/requirements.lock
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
Labels: approved, area/acme, area/acme/dns01, area/acme/http01, area/api, area/ca, area/deploy, area/monitoring, area/testing, area/vault, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/M

#1626 Fix chart version accidentally being ahead
  deploy/charts/cert-manager/Chart.yaml
  deploy/manifests/cert-manager-no-webhook.yaml
  deploy/manifests/cert-manager.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/S

#1628 Make lastTransitionTime a pointer
  pkg/api/util/conditions.go
  pkg/apis/certmanager/v1alpha1/types_certificate.go
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/certificates/sync_test.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note, size/S

#1632 Fix wrong helm repo reference in "Migrating from kube-lego"
  docs/tutorials/acme/migrating-from-kube-lego.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1633 Update release script to support more options
  hack/release.sh
  hack/release/main.go
  hack/release/pkg/build/chart/plugin.go
  hack/release/pkg/build/images/plugin.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#1639 Correctly suffix image names with architecture & fix authentication
  hack/ci/lib/build_images.sh
  hack/def.bzl
  hack/release/pkg/build/images/plugin.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#1624 Fix missing line-feeds in Helm chart
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/webhook/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#1641 Fix use of --config flag when calling docker
  hack/release/pkg/build/images/plugin.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1640 Bump brodocs dependencies
  WORKSPACE
  docs/generated/reference/generate/bin/package-lock.json
  docs/generated/reference/output/reference/api-docs/index.html
  docs/generated/reference/output/reference/api-docs/node_modules/bootstrap/dist/css/bootstrap.min.css
  docs/generated/reference/output/reference/api-docs/node_modules/jquery/dist/jquery.min.js
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XL

#1643 Pass path to docker config directory instead of file
  hack/release/pkg/build/images/plugin.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1483 make email address an optional field in ACME issuers
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha1/types_issuer.go
  pkg/apis/certmanager/validation/issuer.go
  pkg/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/setup.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#1644 Bump version numbers for beta.0
  deploy/charts/cert-manager/README.md
  docs/getting-started/install.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1645 release: read github token from file
  hack/release/pkg/build/manifests/github.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#1653 Namespace parameter missing in troubleshooting document
  docs/getting-started/troubleshooting.rst
Labels: approved, dco-signoff: no, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS, tide/squash

#1654 Add cainjector to list of images to build
  hack/release/pkg/build/images/plugin.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1647 Update install guide for GitHub assets installation
  docs/getting-started/install.rst
  docs/getting-started/webhook.rst
  docs/tasks/upgrading/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#1657 [docs] Fix Venafi link
  docs/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1660 Add installing on OpenShift guide
  docs/getting-started/index.rst
  docs/getting-started/install/index.rst
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/redirects
  hack/release/pkg/build/manifests/plugin.go
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#1662 Fix linkcheck errors
  docs/conf.py
  docs/reference/cainjector.rst
  docs/reference/index.rst
  docs/reference/issuers.rst
  docs/requirements.txt
  docs/tasks/issuers/index.rst
  docs/tasks/issuers/setup-acme/dns01/google.rst
  docs/tasks/issuers/setup-acme/dns01/index.rst
  docs/tasks/issuers/setup-acme/dns01/rfc2136.rst
  docs/tasks/issuers/setup-acme/http01/index.rst
  docs/tasks/issuers/setup-acme/index.rst
  docs/tasks/issuers/setup-vault.rst
  docs/tasks/issuers/setup-venafi.rst
  docs/tasks/upgrading/upgrading-0.5-0.6.rst
  docs/tutorials/acme/quick-start/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#1668 Prepend when adding paths to ingress
  pkg/issuer/acme/http/ingress.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, lgtm, release-note, size/XS

#1671 Make MaxConcurrentChallenges a configurable parameter
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/scheduler/scheduler.go
  pkg/controller/acmechallenges/scheduler/scheduler_test.go
  pkg/controller/context.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/M

#1675 fix ChallengeRequest resource creation
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/webhook/webhook.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, ok-to-test, release-note-action-required, size/M

#1680 Fix up 1.11 e2e tests
  test/fixtures/kind/config-v1alpha2.yaml
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#1677 Add project logo
  README.md
  logo/LICENSE
  logo/README.md
  logo/logo.png
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#1696 Add v0.8 upgrade notes document
  docs/tasks/upgrading/upgrading-0.6-0.7.rst
  docs/tasks/upgrading/upgrading-0.7-0.8.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#1699 Fixup oc login command in openshift guide
  docs/getting-started/install/openshift.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1695 Log warning Event if edit-in-place is enabled with new solver format
  pkg/controller/ingress-shim/sync.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1698 Copy labels from Ingress to Certificate resource in ingress-shim
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/controller/test/context_builder.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#1703 Add logo to Helm chart
  deploy/charts/cert-manager/Chart.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#1706 Fix broken links in docs
  docs/tasks/upgrading/index.rst
  docs/tasks/upgrading/upgrading-0.7-0.8.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1712 Add ChartVersion to helm install when running tests
  test/e2e/framework/addon/chart/addon.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#1720 Fix-up version number in docs
  docs/getting-started/install/kubernetes.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1683 Correct test/e2e/framework/cleanup.go license header
  test/e2e/framework/cleanup.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#1715 Fix logic to select the solver that has the most labels
  pkg/controller/acmeorders/sync.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#1733 Change name of issuer to issuer from contextual example
  docs/tasks/issuers/setup-acme/dns01/google.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#1723 Add solvers field in kube-lego migration guide
  docs/tutorials/acme/migrating-from-kube-lego.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M
