Repository cert-manager/cert-manager, pull requests merged in 2019-10, with the labels that each got.

#2137 Disable atomicalign vet check due to panic on linux/arm
  hack/build/BUILD.bazel
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#2105 Support out of tree issuers in ingress-shim
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/controller/context.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/controller.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/internal/apis/certmanager/types.go
  pkg/issuer/acme/http/BUILD.bazel
  pkg/issuer/acme/http/ingress.go
  pkg/util/BUILD.bazel
  pkg/util/ingress.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/suite.go
Labels: approved, area/acme, area/acme/http01, area/api, area/deploy, area/testing, dco-signoff: yes, lgtm, release-note, size/XL

#2126 Fix end-to-end test suite for Kubernetes 1.16
  docs/tutorials/acme/quick-start/example/deployment.yaml
  hack/ci/lib/build_images.sh
  test/e2e/BUILD.bazel
  test/e2e/charts/BUILD.bazel
  test/e2e/charts/pebble/templates/deployment.yaml
  test/e2e/charts/vault/templates/vault-deployment.yaml
  test/e2e/framework/addon/nginxingress/nginx.go
  test/e2e/framework/config/nginx.go
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#2097 Adds status sub resource and changes updates
  deploy/manifests/00-crds.yaml
  docs/getting-started/install/kubernetes.rst
  pkg/apis/acme/v1alpha2/types_challenge.go
  pkg/apis/acme/v1alpha2/types_order.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/vault/vault_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  pkg/controller/certificates/util.go
  pkg/controller/clusterissuers/sync.go
  pkg/controller/issuers/sync.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, priority/important-longterm, release-note, size/L

#1854 chart: support podsecuritypolicy
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/templates/psp-clusterrole.yaml
  deploy/charts/cert-manager/cainjector/templates/psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/cainjector/templates/psp.yaml
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/templates/psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/psp.yaml
  deploy/charts/cert-manager/values.yaml
  test/fixtures/cert-manager-values.yaml
Labels: approved, area/deploy, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/L

#2121 Update Makefile and add update-all.sh script
  Makefile
  hack/update-all.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#2141 Bump version strings for v0.11.0-beta.0
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2135 Updates documentation to remove outdated information and namespace validation
  deploy/charts/cert-manager/README.md
  deploy/manifests/01-namespace.yaml
  docs/devel/develop-with-minikube.rst
  docs/getting-started/index.rst
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/troubleshooting.rst
  docs/getting-started/webhook.rst
  docs/tasks/upgrading/index.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#2143 how to set --dns01-recursive-nameservers in helm
  docs/tasks/issuers/setup-acme/dns01/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2144 Remove use of deprecated client.MatchingField
  pkg/controller/cainjector/indexers.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2149 Fix values and README for helm chart
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/S

#2085 Adds URISANs field to Certificate
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  docs/tasks/issuing-certificates/index.rst
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/controller/certificaterequests/acme/BUILD.bazel
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
  pkg/controller/webhookbootstrap/controller.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/internal/vault/vault.go
  pkg/internal/venafi/sign.go
  pkg/internal/venafi/sign_test.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/util.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/certificates.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/featureset.go
  test/e2e/suite/conformance/certificates/suite.go
  test/unit/gen/certificate.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, priority/important-longterm, release-note, size/XL

#2145 Add v0.11 draft release notes
  design/release-notes/release-0.11/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/M

#1946 Update controller-tools to correctly set x-kubernetes-preserve-unknown-fields
  LICENSES
  deploy/manifests/00-crds.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/L

#2153 The ingress shim checks certificate common names and ensures they are empty
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#2151 Adds uninstallation documentation
  docs/getting-started/index.rst
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/tasks/index.rst
  docs/tasks/uninstall/index.rst
  docs/tasks/uninstall/kubernetes.rst
  docs/tasks/uninstall/openshift.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#2154 Add jq bash magic to find Ingress resources with old annotations
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2155 Update default leader election namespace to be kube-system
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/cainjector/templates/deployment.yaml
  deploy/charts/cert-manager/cainjector/templates/rbac.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/M

#2156 Adds some notable items to 0.11 release notes
  design/release-notes/release-0.11/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/M

#2160 Adds comment to helm chart with the verbosity levels
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#2173 Fix regression in certificates controller setting owner references
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  pkg/controller/context.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#2179 Fix name of a conformance test
  test/e2e/suite/conformance/certificates/suite.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#2171 Fix to handle error
  pkg/internal/vault/vault.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2174 Bump version strings for v0.11.0
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2180 Add additional sections to release notes
  design/release-notes/release-0.11/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/M

#2165 Adds CLI migration tool with docs on how to use it
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
  hack/BUILD.bazel
  hack/api-migration/BUILD.bazel
  hack/api-migration/main.go
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#2181 Fix order of tasks and rst table in 0.10 upgrade
  docs/tasks/index.rst
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2183 Advise users to set --validate=false when installing with kubectl
  docs/getting-started/install/kubernetes.rst
  docs/tasks/upgrading/index.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2184 Add changelog for v0.11.0
  design/release-notes/release-0.11/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/S

#2185 Add contributor list to release notes
  design/release-notes/release-0.11/draft-release-notes.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/S

#2192 Fix uninstall link in upgrade guide 0.11
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#2191 Fix e2e jobs on Kubernetes 1.14 and below
  test/e2e/framework/addon/certmanager/addon.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#2201 Remove deprecated arguments from helm chart deployment
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/S

#2211 Change update-deps to set GOROOT
  hack/update-deps.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#2210 Fix documentation relating to issuer solvers
  docs/reference/issuers.rst
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
  docs/tutorials/acme/http-validation.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/M

#2206 Add sideEffects: None to MutatingWebhookConfiguration
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2207 Removes leaderelection ClusterRoleBinding
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/S

#2198 Mark Order & Challenge resources as Errored if 4xx error is received
  pkg/acme/BUILD.bazel
  pkg/acme/helper.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmeorders/sync.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note-none, size/M

#2195 Add cainjector usage documentation.
  docs/reference/cainjector.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2103 Better YAML structure
  deploy/manifests/00-crds.yaml
  deploy/manifests/01-namespace.yaml
  hack/build/crds.bzl
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/S

#2216 Move IngressEditInPlaceAnnotationKey into acme API
  pkg/apis/acme/v1alpha2/types.go
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/S

#2199 Print 'kubectl apply' output during e2e tests
  test/e2e/framework/addon/certmanager/BUILD.bazel
  test/e2e/framework/addon/certmanager/addon.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#2146 Cleanup clouddns package
  pkg/issuer/acme/dns/clouddns/BUILD.bazel
  pkg/issuer/acme/dns/clouddns/clouddns.go
  pkg/issuer/acme/dns/clouddns/clouddns_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/S

#2227 Fix the enrollment URL for Venafi Cloud.
  docs/tutorials/venafi/securing-ingress.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2225 Make ACMEAuthorization.Wildcard field a pointer
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  pkg/apis/acme/v1alpha2/types_challenge.go
  pkg/apis/acme/v1alpha2/types_order.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/util.go
  pkg/controller/acmeorders/util_test.go
  pkg/internal/apis/acme/types_challenge.go
  pkg/internal/apis/acme/types_order.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note, size/M

#2230 Create multi-arch manifest lists when publish docker images
  hack/release/pkg/build/images/plugin.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/M

#2241 Allow setting flakeAttempts when running e2e suite
  Makefile
  hack/ci/run-e2e-kind.sh
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#2224 enable cert-manager using --kubeconfig to connect API Server with kubeconfig file
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  pkg/util/kube/BUILD.bazel
  pkg/util/kube/config.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M

#2245 Use standard golang http server for webhook
  LICENSES
  cmd/webhook/BUILD.bazel
  cmd/webhook/main.go
  deploy/charts/cert-manager/templates/webhook-apiservice.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/webhook/BUILD.bazel
  pkg/webhook/handlers/BUILD.bazel
  pkg/webhook/handlers/interfaces.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
  pkg/webhook/server/source.go
  pkg/webhook/server/tls_file_source.go
Labels: approved, area/deploy, area/webhook, dco-signoff: yes, lgtm, release-note-none, size/XL

#2242 No longer use arch-specific acmesolver image
  cmd/controller/app/options/options.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#2219 Make Order resource status & Challenge spec fields immutable
  cmd/webhook/BUILD.bazel
  cmd/webhook/main.go
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  pkg/apis/acme/v1alpha2/types.go
  pkg/internal/apis/acme/BUILD.bazel
  pkg/internal/apis/acme/validation/BUILD.bazel
  pkg/internal/apis/acme/validation/challenge.go
  pkg/internal/apis/acme/validation/challenge_test.go
  pkg/internal/apis/acme/validation/order.go
  pkg/internal/apis/acme/validation/order_test.go
  pkg/webhook/BUILD.bazel
  pkg/webhook/certmanager.go
  pkg/webhook/handlers/BUILD.bazel
  pkg/webhook/handlers/interfaces.go
  pkg/webhook/handlers/mutation.go
  pkg/webhook/handlers/mutation_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/BUILD.bazel
  pkg/webhook/handlers/testdata/apis/testgroup/types.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/types.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.conversion.go
  pkg/webhook/handlers/testdata/apis/testgroup/validation/BUILD.bazel
  pkg/webhook/handlers/testdata/apis/testgroup/validation/validation.go
  pkg/webhook/handlers/testdata/apis/testgroup/validation/validation_test.go
  pkg/webhook/handlers/validation.go
  pkg/webhook/handlers/validation_test.go
  pkg/webhook/server/server.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XXL

#2244 Run a single instance of Pebble during the e2e suite
  test/e2e/framework/addon/BUILD.bazel
  test/e2e/framework/addon/globals.go
  test/e2e/suite/conformance/certificates/acme/BUILD.bazel
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/webhook.go
  test/e2e/suite/issuers/acme/certificaterequest/BUILD.bazel
  test/e2e/suite/issuers/acme/certificaterequest/http01.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#2287 Fix infinite symlink expansion errors
  hack/update-bazel.sh
  hack/update-codegen.sh
  hack/update-crds.sh
  hack/update-deps-licenses.sh
  hack/update-deps.sh
  hack/update-gofmt.sh
  hack/update-reference-docs.sh
  hack/verify-bazel.sh
  hack/verify-errexit.sh
  hack/verify-gofmt.sh
  hack/verify-links.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#2296 add '--validate=false' for deploy instruction with 00-crds.yaml #2208
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2283 Enable validation and mutation for subresources
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#2286 Use controller-gen schemapatch to generate CRD schemas
  LICENSES
  deploy/BUILD.bazel
  deploy/charts/cert-manager/crds/certificaterequests.yaml
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/charts/cert-manager/crds/orders.yaml
  deploy/manifests/00-crds.yaml
  deploy/manifests/BUILD.bazel
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/build/crds.bzl
  hack/build/repos.bzl
  hack/update-crds.sh
  hack/verify-crds.sh
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XXL

#2275 Bump Helm and Tiller to 2.15.1
  hack/bin/deps.bzl
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note, size/S

#2278 Default webhook port to 10250 for better compatibility with GKE
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#2285 Remove nested cainjector subchart
  deploy/charts/cert-manager/cainjector/.helmignore
  deploy/charts/cert-manager/cainjector/Chart.yaml
  deploy/charts/cert-manager/cainjector/templates/NOTES.txt
  deploy/charts/cert-manager/cainjector/templates/_helpers.tpl
  deploy/charts/cert-manager/cainjector/values.yaml
  deploy/charts/cert-manager/requirements.yaml
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/cainjector-psp.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/L

#2252 Add documentation for the webhook
  docs/tasks/issuers/setup-acme/dns01/index.rst
  docs/tasks/issuers/setup-acme/dns01/webhook.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/M

#2298 fix typo
  docs/reference/certificaterequests.rst
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2270 Chart.yaml: add missing apiVersion
  deploy/charts/cert-manager/Chart.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS
