Repository cert-manager/cert-manager, pull requests merged in 2019-11, with the labels that each got.

#2261 Surface ACME Challenge failure reason on Challenge resource if available
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
Labels: approved, area/acme, dco-signoff: yes, lgtm, release-note, size/L

#2323 Creates a proper wrapper for vault port-forwarding to keep it alive and healthy
  test/e2e/framework/addon/vault/BUILD.bazel
  test/e2e/framework/addon/vault/proxy.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/framework/addon/vault/vault.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/approle_custom_mount.go
  test/e2e/suite/issuers/vault/certificaterequest/approle.go
  test/e2e/suite/issuers/vault/certificaterequest/approle_custom_mount.go
  test/e2e/suite/issuers/vault/issuer.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/L

#2250 serviceAccountSecretRef is not always required
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1alpha2/BUILD.bazel
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/dns/dns.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#2260 Ensure key usages are set on CertificateRequests created by the Certificate controller
  pkg/api/util/usages.go
  pkg/controller/certificates/sync.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/certificates.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/featureset.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/L

#2316 Ensure we check all the secrets that vault cluster issuers may be
  pkg/controller/clusterissuers/checks.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#2324 Correct order api group owner reference when creating challenges
  pkg/controller/acmeorders/util.go
Labels: approved, area/acme, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2326 Increases issuer CLI output
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_issuer.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/M

#2351 Catalina
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/util/pki/csr_test.go
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/certificates.go
Labels: approved, area/api, area/testing, dco-signoff: yes, lgtm, release-note, size/M

#2350 Docs/aws iam policy
  docs/tasks/issuers/setup-acme/dns01/route53.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#2349 Changes the vault issuer Kubernetes auth path to require the full *mount* path
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  docs/generated/reference/output/reference/api-docs/index.html
  pkg/apis/certmanager/v1alpha2/const.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/internal/vault/vault.go
  test/e2e/suite/issuers/vault/issuer.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note-action-required, size/M

#2355 Disables API Service cainjector.go e2e test
  test/e2e/suite/serving/BUILD.bazel
  test/e2e/suite/serving/cainjector.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/M

#2348 Make vault issuer to point to resource namespace over certificaterequest
  pkg/controller/certificaterequests/vault/vault.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/ca/BUILD.bazel
  test/e2e/suite/conformance/certificates/ca/ca.go
  test/e2e/suite/conformance/certificates/selfsigned/selfsigned.go
  test/e2e/suite/conformance/certificates/vault/BUILD.bazel
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/conformance/certificates/venafi/BUILD.bazel
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/issuers/vault/certificate/BUILD.bazel
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/approle_custom_mount.go
  test/e2e/suite/issuers/vault/certificaterequest/BUILD.bazel
  test/e2e/suite/issuers/vault/certificaterequest/approle.go
  test/e2e/suite/issuers/vault/certificaterequest/approle_custom_mount.go
  test/e2e/suite/issuers/vault/issuer.go
  test/e2e/suite/issuers/venafi/addon/tpp.go
  test/e2e/util/util.go
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XL

#2360 Bump Helm chart README for v0.12.0-beta.0
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/S

#2236 Add Bazel image targets with coverage enabled
  Makefile
  cmd/acmesolver/BUILD.bazel
  cmd/cainjector/BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/controller/app/controller.go
  cmd/controller/main.go
  cmd/webhook/BUILD.bazel
  hack/build/docker.bzl
  pkg/util/BUILD.bazel
  pkg/util/coverage/BUILD.bazel
  pkg/util/coverage/coverage.go
  pkg/util/coverage/faketestdeps.go
Labels: approved, area/acme, area/testing, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#2363 Adds all key usage possible values to key usage comment
  deploy/charts/cert-manager/crds/certificaterequests.yaml
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/M

#2325 Add update permission to certificaterequests/finalizers to the cert-manager-controller-certificates clusterrole.
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2311 Updated read me
  README.md
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2368 Mark 'csr' field as required in CertificateRequest
  deploy/charts/cert-manager/crds/certificaterequests.yaml
  deploy/manifests/00-crds.yaml
  design/20190708.certificate-request-crd.md
  pkg/apis/certmanager/v1alpha2/types_certificaterequest.go
  pkg/internal/apis/certmanager/types_certificaterequest.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/design, lgtm, release-note, size/S

#2366 Build using go 1.13.4
  WORKSPACE
Labels: approved, dco-signoff: yes, lgtm, release-note, size/S

#2290 Bump Kubernetes dependencies to 1.16.3
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/controller/test/context_builder.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#2372 Add '// +gencrdrefdocs:force' to meta/v1 package
  pkg/apis/meta/v1/doc.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/XS

#2373 Fix up whitespace around doc.go in apis package
  pkg/apis/acme/v1alpha2/doc.go
  pkg/apis/certmanager/v1alpha2/doc.go
  pkg/apis/meta/v1/doc.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/XS

#2374 Update Helm chart README for v0.12.0-beta.1
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#2382 Check for Issuer readiness in CR controllers
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/vault/vault_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/L

#2387 deploy/charts/cert-manager: Fixes typo in webhook-psp definition
  deploy/charts/cert-manager/templates/webhook-psp.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2170 Add API token authentication option to Cloudflare issuer
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
  pkg/issuer/acme/dns/cloudflare/cloudflare_test.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
  pkg/issuer/acme/dns/util_test.go
  test/e2e/suite/issuers/acme/dnsproviders/cloudflare.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note, size/L

#2400 Allow secrets with legacy annotations for issuer name and kind to match
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
  test/unit/gen/BUILD.bazel
  test/unit/gen/secret.go
Labels: approved, area/api, area/testing, dco-signoff: yes, lgtm, release-note, size/L

#2404 Release 0.11 secret annotation deprecated
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
  test/unit/gen/BUILD.bazel
  test/unit/gen/secret.go
Labels: approved, area/api, area/testing, cherry-pick-approved, dco-signoff: yes, lgtm, release-note, size/L

#2405 deploy/charts/cert-manager: explicitly define ContainerPort protocol
  deploy/charts/cert-manager/templates/deployment.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2406 Bump version strings for v0.11.1
  deploy/charts/cert-manager/README.md
  docs/getting-started/install/kubernetes.rst
  docs/getting-started/install/openshift.rst
  docs/getting-started/webhook.rst
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S
