Repository cert-manager/cert-manager, pull requests merged in 2019-12, with the labels that each got.

#2418 correcting upgrade docs as the 11.1 release does not include an api-migration artifact
  docs/tasks/upgrading/upgrading-0.10-0.11.rst
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#2383 Fixes false/null fields in the helm chart.
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2427 Upgrade to Pebble containing letsencrypt/pebble#294
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, lgtm, release-note-none, size/XS

#2422 Switch to using upstream golang.org/x/crypto
  BUILD.bazel
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/acme/BUILD.bazel
  pkg/acme/cache.go
  pkg/acme/client/BUILD.bazel
  pkg/acme/client/fake.go
  pkg/acme/client/interfaces.go
  pkg/acme/client/middleware/BUILD.bazel
  pkg/acme/client/middleware/logger.go
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/issuer/acme/BUILD.bazel
  pkg/issuer/acme/setup.go
  third_party/BUILD.bazel
  third_party/crypto/acme/BUILD.bazel
  third_party/crypto/acme/OWNERS
  third_party/crypto/acme/acme.go
  third_party/crypto/acme/acme_test.go
  third_party/crypto/acme/integration_test.go
  third_party/crypto/acme/jws.go
  third_party/crypto/acme/jws_test.go
  third_party/crypto/acme/types.go
  third_party/crypto/acme/types_test.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XXL

#2416 Fix certificate controller expiry metrics
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/util.go
Labels: approved, area/monitoring, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#2392 acme: external account binding support
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/controller/clusterissuers/checks.go
  pkg/controller/issuers/checks.go
  pkg/internal/apis/acme/fuzzer/fuzzer.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/setup.go
  test/e2e/charts/pebble/templates/configmap.yaml
  test/e2e/images.bzl
  test/e2e/suite/conformance/certificates/acme/BUILD.bazel
  test/e2e/suite/conformance/certificates/acme/acme.go
Labels: approved, area/acme, area/api, area/deploy, area/testing, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XL

#2449 issue 2448 - Optional securityContext for cainjector and webhook char…
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#2450 webhook: register http handlers for pprof debug endpoints
  cmd/webhook/main.go
  pkg/util/BUILD.bazel
  pkg/util/profiling/BUILD.bazel
  pkg/util/profiling/profiling.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/M

#2447 issue 2443 - annotations for cert-manager deployments
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#2436 Bump default 'image.tag' value in helm chart README.md
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2428 Remove IP address validation on dns01-recursive-nameservers to allow domain names
  cmd/controller/app/options/options.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#2465 Bump Helm chart strings for v0.13.0-alpha.0
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#2467 webhook: don't use time.Tick to prevent leaks
  pkg/webhook/server/tls_file_source.go
Labels: approved, area/webhook, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#2469 Don't overwrite existing certificates when issuing a temporary certificate
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#2460 ACME HTTP01 solver: clean up ingresses if the service name changes
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/M
