Repository cert-manager/cert-manager, pull requests merged in 2020-02, with the labels that each got.

#2562 Add cipher suites configuration and defaults
  cmd/webhook/main.go
  devel/BUILD.bazel
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M

#2570 Update README with new docs links
  README.md
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#2577 Remove json field tags from internal API structs
  pkg/internal/apis/acme/types_challenge.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/types_order.go
  pkg/internal/apis/certmanager/types.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/types_certificaterequest.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/internal/apis/meta/types.go
Labels: approved, area/api, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XL

#2568 Make the Venafi Cloud URL field optional
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/internal/apis/certmanager/types_issuer.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#2589 Exports cluster logs to artifacts after CI run
  devel/ci-run-e2e.sh
  devel/cluster/export-logs.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M

#2588 Update community section
  README.md
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/S

#2574 Webhook cert bootsrap single reconcile
  pkg/controller/builder.go
  pkg/controller/controller.go
  pkg/controller/webhookbootstrap/BUILD.bazel
  pkg/controller/webhookbootstrap/controller.go
  pkg/controller/webhookbootstrap/controller_test.go
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/L

#2584 Add note that CommonName is not looked at when any SAN is set
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/S

#2563 Enable conversion webhook and publish v1alpha3 apiVersion
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/crds/certificaterequests.yaml
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/charts/cert-manager/crds/orders.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/manifests/00-crds.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/apis/certmanager/v1alpha3/types_certificaterequest.go
  pkg/internal/apis/certmanager/types_issuer.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/XXL

#2598 Fix including CRDs as part of static manifests
  deploy/manifests/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/S

#2592 Export cluster logs during e2e even if test succeed
  devel/ci-run-e2e.sh
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#2593 Certificate KeySize encode openapi validation
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/M

#2609 Write CRD filter for OpenShift
  deploy/manifests/BUILD.bazel
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/build/repos.bzl
  hack/filter-crd/BUILD.bazel
  hack/filter-crd/main.go
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/L

#2608 Bump Helm chart README for v0.13.1
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#2613 Truncate message displayed to user if fetched key does not match presented key
  pkg/issuer/acme/http/http.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, lgtm, release-note, size/S

#2611 Only allow a single TLS entry per secret name in an Ingress resource
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, area/ingress-shim, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#2621 dynamic namespace for webhook RoleBinding
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2624 Spelling
  WORKSPACE
  cmd/controller/app/options/options.go
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/charts/cert-manager/crds/orders.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/manifests/00-crds.yaml
  design/20190708.certificate-request-crd.md
  design/acme-orders-challenges-crd.md
  design/release-notes/release-0.11/draft-release-notes.md
  design/release-notes/release-0.7/draft-release-notes.md
  devel/ci-run-e2e.sh
  hack/verify-crds.sh
  hack/verify-errexit.sh
  pkg/api/util/usages.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/types_order.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/types_order.go
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/controller/acmeorders/checks.go
  pkg/controller/cainjector/setup.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/checks.go
  pkg/controller/certificaterequests/util/reporter_test.go
  pkg/controller/certificates/checks.go
  pkg/controller/certificates/util_test.go
  pkg/controller/clusterissuers/checks.go
  pkg/controller/context.go
  pkg/controller/ingress-shim/checks.go
  pkg/controller/issuers/checks.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/types_order.go
  pkg/internal/apis/certmanager/types.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/internal/apis/certmanager/validation/util/nameserver.go
  pkg/internal/venafi/sign.go
  pkg/internal/venafi/sign_test.go
  pkg/issuer/acme/dns/akamai/akamai_test.go
  pkg/issuer/acme/dns/akamai/edgegridauth.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
  pkg/issuer/vault/setup.go
  pkg/scheduler/scheduler.go
  pkg/util/context.go
  test/e2e/framework/config/config.go
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/suite/conformance/certificates/featureset.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/serving/cainjector.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, area/testing, area/vault, dco-signoff: yes, kind/design, lgtm, ok-to-test, release-note-none, size/L
