Repository cert-manager/cert-manager, pull requests merged in 2020-04, with the labels that each got.

#2771 helm.bzl: correctly set 'user' attribute on all image targets
  build/container.bzl
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/XS

#2775 Add installCRDs option to Helm chart
  BUILD.bazel
  build/BUILD.bazel
  build/files.bzl
  build/go_binary.bzl
  build/helm.bzl
  build/version.bzl
  cmd/acmesolver/BUILD.bazel
  cmd/cainjector/BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/webhook/BUILD.bazel
  deploy/BUILD.bazel
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/BUILD.bazel
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/crds/BUILD.bazel
  deploy/crds/README.md
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  deploy/manifests/00-crds.yaml
  deploy/manifests/BUILD.bazel
  devel/addon/certmanager/install.sh
  hack/build/print-workspace-status.sh
  hack/update-crds.sh
  hack/verify-chart-version.sh
  pkg/api/BUILD.bazel
  pkg/api/testing/BUILD.bazel
  pkg/api/testing/bazel.go
  pkg/internal/apis/acme/install/BUILD.bazel
  pkg/internal/apis/acme/install/pruning_test.go
  pkg/internal/apis/certmanager/install/BUILD.bazel
  pkg/internal/apis/certmanager/install/pruning_test.go
  pkg/util/BUILD.bazel
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
  test/integration/framework/paths.go
Labels: approved, area/acme, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#2787 Bump version strings for v0.14.2
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#2790 Avoid duplicate CRDs in static manifests
  deploy/manifests/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#2791 Remove empty 'annotations' blocks from resources and add missing 'metata.namespace' field
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#2806 Expose webhook deployment container port
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/XS

#2809 expcertificates: create 'predicate' package and standardise list and enqueue predicates
  pkg/controller/expcertificates/BUILD.bazel
  pkg/controller/expcertificates/informers.go
  pkg/controller/expcertificates/internal/predicate/BUILD.bazel
  pkg/controller/expcertificates/internal/predicate/certificate.go
  pkg/controller/expcertificates/internal/predicate/certificate_test.go
  pkg/controller/expcertificates/internal/predicate/certificaterequest.go
  pkg/controller/expcertificates/internal/predicate/certificaterequest_test.go
  pkg/controller/expcertificates/internal/predicate/generic.go
  pkg/controller/expcertificates/internal/predicate/generic_test.go
  pkg/controller/expcertificates/internal/predicate/predicate.go
  pkg/controller/expcertificates/internal/predicate/predicate_test.go
  pkg/controller/expcertificates/issuing/BUILD.bazel
  pkg/controller/expcertificates/issuing/issuing_controller.go
  pkg/controller/expcertificates/listers.go
  pkg/controller/expcertificates/trigger/BUILD.bazel
  pkg/controller/expcertificates/trigger/trigger_controller.go
  pkg/controller/expcertificates/util.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XL

#2807 Limit the scope of leadership configmap role to specific configmaps
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/S

#2815 Bump contoller-tools and controller-runtime to latest of master
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/controller/cainjector/sources.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#2816 Add licences to Docker images
  build/container.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XS

#2027 Add auditsinks in auditregistration.k8s.io/v1alpha1 to the supported injector targets
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  pkg/api/BUILD.bazel
  pkg/api/scheme.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/controller.go
  pkg/controller/cainjector/injectors.go
  pkg/controller/cainjector/setup.go
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#2681 feat(azure): add usage of Managed Identities for azuredns
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/util_test.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#2810 expcertificates: add keymanager controller
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/controller/expcertificates/BUILD.bazel
  pkg/controller/expcertificates/issuing/issuing_controller.go
  pkg/controller/expcertificates/keymanager/BUILD.bazel
  pkg/controller/expcertificates/keymanager/keymanager_controller.go
  pkg/controller/expcertificates/keymanager/keymanager_controller_test.go
  pkg/controller/expcertificates/listers.go
  pkg/controller/expcertificates/util.go
  pkg/controller/expcertificates/util_test.go
  pkg/internal/apis/certmanager/validation/certificate.go
Labels: approved, area/api, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/XXL

#2730 Update field comments on ChallengeSpec
  deploy/crds/crd-challenges.yaml
  pkg/apis/acme/v1alpha2/types_challenge.go
  pkg/apis/acme/v1alpha2/types_order.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/types_challenge.go
  pkg/apis/acme/v1alpha3/types_order.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/acmeorders/util.go
  pkg/controller/acmeorders/util_test.go
  pkg/internal/apis/acme/types_challenge.go
  pkg/internal/apis/acme/types_order.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
  pkg/issuer/acme/http/service_test.go
Labels: approved, area/acme, area/acme/dns01, area/acme/http01, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#2814 keymanager: support private key rotationPolicy field
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/controller/expcertificates/BUILD.bazel
  pkg/controller/expcertificates/keymanager/keymanager_controller.go
  pkg/controller/expcertificates/requestmanager/requestmanager_controller.go
  pkg/controller/expcertificates/util.go
  pkg/controller/expcertificates/util_test.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/util/pki/csr.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/suite.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XL

#2824 Add `certificate.spec.keystores` and 'native' P12 and JKS keystore support
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/keystore.go
  pkg/controller/certificates/keystore_test.go
  pkg/controller/certificates/sync.go
  pkg/controller/context.go
  pkg/controller/expcertificates/issuing/keystore.go
  pkg/controller/expcertificates/issuing/keystore_test.go
  pkg/controller/expcertificates/issuing/secret.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#2825 Add cert-manager origin tag in Venafi
  pkg/internal/venafi/sign.go
  pkg/internal/venafi/sign_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, release-note, size/S

#2830 Make directory name the correct "licenses"
  build/container.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#2831 Fixes for the validating and mutating webhook configuration
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#2837 Set Issuer kind specific to Issuer if /issuer is specified
  pkg/controller/ingress-shim/sync.go
Labels: approved, area/ingress-shim, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#2851 Support Kubernetes 1.15 and below properly in validating webhook
  pkg/webhook/handlers/validation.go
  pkg/webhook/handlers/validation_test.go
Labels: approved, area/webhook, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/M

#2856 cloudfare: update per_page max to 100
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/bug, lgtm, ok-to-test, priority/critical-urgent, release-note, size/XS

#2836 Build ctl binaries
  build/BUILD.bazel
  build/platforms.bzl
  build/release-tars/BUILD.bazel
Labels: approved, dco-signoff: yes, kind/feature, lgtm, priority/critical-urgent, release-note, size/M

#2758 Adds the `convert` subcommand to cert-manager-ctl
  LICENSES
  cmd/ctl/BUILD.bazel
  cmd/ctl/cmd.go
  cmd/ctl/pkg/convert/BUILD.bazel
  cmd/ctl/pkg/convert/convert.go
  cmd/ctl/pkg/version/version.go
  go.sum
  test/integration/BUILD.bazel
  test/integration/ctl/BUILD.bazel
  test/integration/ctl/ctl_convert_test.go
  test/integration/ctl/testdata/convert_resource1.yaml
  test/integration/ctl/testdata/convert_resource2.yaml
  test/integration/ctl/testdata/convert_resource3.yaml
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, priority/critical-urgent, release-note, size/XL

#2843 Issuing controller temporary certificate support
  pkg/controller/expcertificates/BUILD.bazel
  pkg/controller/expcertificates/internal/secretsmanager/BUILD.bazel
  pkg/controller/expcertificates/internal/secretsmanager/keystore.go
  pkg/controller/expcertificates/internal/secretsmanager/keystore_test.go
  pkg/controller/expcertificates/internal/secretsmanager/secret.go
  pkg/controller/expcertificates/internal/secretsmanager/secret_test.go
  pkg/controller/expcertificates/internal/test/BUILD.bazel
  pkg/controller/expcertificates/internal/test/test.go
  pkg/controller/expcertificates/issuing/BUILD.bazel
  pkg/controller/expcertificates/issuing/issuing_controller.go
  pkg/controller/expcertificates/issuing/issuing_controller_test.go
  pkg/controller/expcertificates/issuing/temporary.go
  pkg/controller/expcertificates/util.go
  test/unit/gen/certificate.go
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, priority/critical-urgent, release-note, size/XXL

#2844 Adds cobra to all commands and separates out from main
  BUILD.bazel
  LICENSES
  cmd/cainjector/BUILD.bazel
  cmd/cainjector/app/BUILD.bazel
  cmd/cainjector/app/start.go
  cmd/cainjector/main.go
  cmd/controller/BUILD.bazel
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/start.go
  cmd/controller/main.go
  cmd/ctl/BUILD.bazel
  cmd/ctl/cmd/BUILD.bazel
  cmd/ctl/cmd/cmd.go
  cmd/ctl/main.go
  go.mod
  go.sum
  tools/cobra/BUILD.bazel
  tools/cobra/main.go
  tools/cobra/main_test.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, size/L

#2845 Add 'renew' subcommand to CLI (without --wait functionality)
  .gitignore
  cmd/ctl/BUILD.bazel
  cmd/ctl/cmd/BUILD.bazel
  cmd/ctl/cmd/cmd.go
  cmd/ctl/main.go
  cmd/ctl/pkg/renew/BUILD.bazel
  cmd/ctl/pkg/renew/renew.go
  cmd/ctl/pkg/renew/renew_test.go
  test/integration/ctl/BUILD.bazel
  test/integration/ctl/ctl_renew_test.go
  test/unit/gen/certificate.go
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, priority/critical-urgent, release-note, size/XL

#2841 chart service account improvments
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/templates/psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#2864 Remove serverAuth default usage & remove unused DefaultKeyUsage functions
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/apis/certmanager/v1alpha3/types.go
  pkg/internal/apis/certmanager/types.go
  pkg/util/pki/csr_test.go
Labels: approved, area/api, dco-signoff: yes, kind/bug, lgtm, release-note-action-required, size/M
