Repository cert-manager/cert-manager, pull requests merged in 2020-12, with the labels that each got.

#3464 Fix and deprecate the --renew-before-expiration-duration flag
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  pkg/controller/BUILD.bazel
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
  pkg/controller/context.go
  pkg/controller/helper.go
  pkg/controller/helper_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#3485 Strip X-Amzn-RequestId to avoid spurious challenge updates
  pkg/issuer/acme/dns/route53/BUILD.bazel
  pkg/issuer/acme/dns/route53/fixtures_test.go
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
  pkg/issuer/acme/dns/route53/testutil_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#3433 Handle Vault issuer working as intermediate correctly
  pkg/internal/vault/vault.go
  pkg/internal/vault/vault_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note-action-required, size/L

#3478 Bug: the issuing controller does not wait until the request matches the certificate before setting the certificate to "Issuing = False"
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/M

#3476 Move the 'back off for 1 hour' logic to a unit-tested func
  pkg/controller/certificates/trigger/BUILD.bazel
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#3487 Remove the legacy release
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/BUILD.bazel
  deploy/crds/BUILD.bazel
  deploy/crds/README.md
  deploy/crds/crd-certificaterequests.v1beta1.yaml
  deploy/crds/crd-certificates.v1beta1.yaml
  deploy/crds/crd-challenges.v1beta1.yaml
  deploy/crds/crd-clusterissuers.v1beta1.yaml
  deploy/crds/crd-issuers.v1beta1.yaml
  deploy/crds/crd-orders.v1beta1.yaml
  deploy/manifests/BUILD.bazel
  deploy/manifests/README.md
  hack/filter-crd/main.go
  test/integration/framework/BUILD.bazel
  tools/setup-integration-test-dependencies.sh
Labels: approved, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XXL

#3504 Remove legacy kind + old kind kubernetes versions
  devel/cluster/config/v1alpha2.yaml
  devel/cluster/config/v1alpha3.yaml
  devel/cluster/config/v1beta1.yaml
  devel/cluster/create-kind.sh
  devel/lib/lib.sh
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3489 Add creation of truststore.p12 from CA
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/controller/certificates/internal/secretsmanager/keystore.go
  pkg/controller/certificates/internal/secretsmanager/keystore_test.go
  pkg/controller/certificates/internal/secretsmanager/secret.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#3477 Added profiling for controller
  LICENSES
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  go.mod
  go.sum
  pkg/metrics/BUILD.bazel
  pkg/metrics/metrics.go
  test/integration/certificates/metrics_controller_test.go
Labels: approved, area/monitoring, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#3503 Add Kubernetes 1.20 to the kind setup script
  devel/cluster/create-kind.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#3499 Migrate Ingress to networking.k8s.io/v1beta1
  deploy/charts/cert-manager/templates/rbac.yaml
  hack/api-migration/BUILD.bazel
  hack/api-migration/main.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/checks.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/issuer/acme/http/BUILD.bazel
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
Labels: approved, area/acme, area/acme/http01, area/api, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#3440 Update ingress-nginx addon
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/M

#3515 Rename the User Agent fields
  pkg/issuer/venafi/client/request.go
  pkg/util/useragent.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XS

#3465 Add duration and renew-before Ingress annotations to set those fields on the Certificate
  pkg/apis/certmanager/v1/types.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/helper.go
  pkg/controller/ingress-shim/helper_test.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
  test/e2e/suite/conformance/certificates/tests.go
Labels: approved, area/api, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3463 Wait for order-controller to add certificate data to the Order
  pkg/controller/certificaterequests/acme/BUILD.bazel
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/acme/acme_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/L

#3522 Remove api-migration tool
  hack/BUILD.bazel
  hack/api-migration/BUILD.bazel
  hack/api-migration/main.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3519 Remove Helm hack for webhook API versions
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#3527 Make leader-election settings customizable for cainjector
  cmd/cainjector/app/start.go
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#3526 Remove a deprecated script and some lingering references to an old make e2e_test target
  Makefile
  hack/ci/run-e2e-kind.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#3529 Fix release tar content of manifests
  deploy/manifests/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS
