Repository cert-manager/cert-manager, pull requests merged in 2020-03, with the labels that each got.

#2638 Mark filter-crd target as a tool dependency instead of src
  deploy/manifests/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#2597 Add Email SANs
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/controller/webhookbootstrap/controller.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/util/pki/csr.go
  test/e2e/framework/helper/certificates.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/featureset.go
  test/e2e/suite/conformance/certificates/suite.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, lgtm, release-note, size/L

#2643 Add --experimental-issue-pkcs12 flag to enable PKCS12 bundle generation
  LICENSES
  cmd/controller/app/options/options.go
  go.mod
  go.sum
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/keystore.go
  pkg/controller/certificates/sync.go
  pkg/controller/context.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#2642 Put OpenShift specific RBAC in all manifests
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/manifests/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/XS

#2647 Add --experimental-issue-jks flag to enable JKS bundle generation
  LICENSES
  cmd/controller/app/options/options.go
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/keystore.go
  pkg/controller/certificates/sync.go
  pkg/controller/context.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#2648 Replace openshift/no-webhook manifests with legacy
  deploy/manifests/BUILD.bazel
  hack/filter-crd/main.go
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/L

#2649 Remove webhook.enabled from Helm chart
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note, size/S

#2650 Tag v0.14 in the Helm chart readme
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/S

#2654 chart: update Deployment 'selector' and use recommended label keys
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/cainjector-psp.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/psp.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/webhook-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/webhook-psp.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-action-required, size/L

#2657 Remove the verify-links.sh script
  hack/BUILD.bazel
  hack/verify-links.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#2655 Add meyskens to reviewers and approvers
  OWNERS
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#2656 Upgrade to Go 1.14
  WORKSPACE
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#2659 webhook: don't log messages during normal operation
  pkg/webhook/handlers/BUILD.bazel
  pkg/webhook/handlers/conversion.go
  pkg/webhook/handlers/mutation.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#2661 Skip test initialisation if test case utilises unsupported features
  test/e2e/suite/conformance/certificates/suite.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#2658 Mark all build/ targets as manual
  build/BUILD.bazel
  build/container.bzl
  build/release-tars/BUILD.bazel
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#2662 Bump Helm version in docs to v0.14.0-alpha.1
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#2664 Fix end-to-end tests running against Kubernetes 1.14 and below
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  devel/addon/certmanager/install.sh
  devel/cluster/create.sh
  devel/lib/lib.sh
  hack/filter-crd/main.go
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#2666 Only include the 'sideEffects' field on webhooks in Kubernetes 1.12+
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#2665 Include CRDs as part of release assets published to GitHub
  deploy/manifests/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/XS

#2668 Deploy bind during e2e tests, remove use of Let's Encrypt staging and fix e2e on older Kube versions
  devel/BUILD.bazel
  devel/addon/bind/BUILD.bazel
  devel/addon/bind/install.sh
  devel/addon/bind/manifests/configmap.yaml
  devel/addon/bind/manifests/deployment.yaml
  devel/addon/bind/manifests/service.yaml
  devel/addon/certmanager/install.sh
  devel/addon/pebble/chart/templates/deployment.yaml
  devel/cluster/create.sh
  devel/setup-e2e-deps.sh
  pkg/controller/clusterissuers/sync.go
  pkg/controller/issuers/sync.go
  pkg/issuer/acme/setup.go
  test/e2e/framework/config/ingress_controller.go
  test/e2e/framework/framework.go
  test/e2e/framework/helper/secret.go
  test/e2e/images.bzl
  test/e2e/suite/conformance/certificates/acme/BUILD.bazel
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/issuers/acme/certificate/dns01.go
  test/e2e/suite/issuers/acme/certificaterequest/dns01.go
  test/e2e/suite/issuers/acme/dnsproviders/BUILD.bazel
  test/e2e/suite/issuers/acme/dnsproviders/rfc2136.go
Labels: approved, area/acme, area/testing, dco-signoff: yes, kind/flake, lgtm, priority/critical-urgent, release-note-none, size/L

#2673 Increase timeout for sample DNS01 webhook e2e tests
  test/e2e/suite/issuers/acme/certificate/webhook.go
Labels: approved, area/testing, dco-signoff: yes, kind/flake, lgtm, release-note-none, size/XS

#2670 Silence helm package output when building chart
  build/helm.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#2674 Bump controller-runtime dependency
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#2669 Re-use net.Dialer on repeat calls to DialContext
  pkg/acme/cache.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#2663 Bump vcert to v4.9.3
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#2679 Adds a duration gap for the app role Vault e2e issuer test
  test/e2e/framework/framework.go
  test/e2e/suite/issuers/ca/certificaterequest.go
  test/e2e/suite/issuers/selfsigned/certificaterequest.go
  test/e2e/suite/issuers/vault/certificaterequest/approle.go
Labels: approved, area/testing, dco-signoff: yes, kind/flake, lgtm, release-note-none, size/S

#2684 Automatically prepend license boilerplate header to release manifests
  build/licensing.bzl
  deploy/manifests/BUILD.bazel
  hack/boilerplate/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, priority/important-soon, release-note, size/M

#2685 Bump Helm version in readme to v0.14.0
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#2635 Add integration testing framework with a basic conversion test
  BUILD.bazel
  cmd/webhook/BUILD.bazel
  cmd/webhook/app/BUILD.bazel
  cmd/webhook/app/options/BUILD.bazel
  cmd/webhook/app/options/options.go
  cmd/webhook/app/testing/BUILD.bazel
  cmd/webhook/app/testing/testwebhook.go
  cmd/webhook/app/webhook.go
  cmd/webhook/main.go
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/crds/BUILD.bazel
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/update-crds.sh
  test/integration/BUILD.bazel
  test/integration/conversion/BUILD.bazel
  test/integration/conversion/conversion_test.go
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
  test/integration/framework/paths.go
Labels: approved, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/XXL

#2708 Fix issue causing docker images to use UID 0 (root)
  BUILD.bazel
  build/BUILD.bazel
  cmd/acmesolver/BUILD.bazel
  cmd/cainjector/BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/webhook/BUILD.bazel
  devel/addon/certmanager/BUILD.bazel
  devel/addon/pebble/BUILD.bazel
  devel/addon/samplewebhook/sample/BUILD.bazel
  hack/build/docker.bzl
  test/e2e/BUILD.bazel
  test/e2e/charts/BUILD.bazel
Labels: approved, area/acme, area/deploy, area/testing, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/L

#2710 Fixup bazel build
  BUILD.bazel
  build/container.bzl
  devel/addon/certmanager/BUILD.bazel
  test/e2e/BUILD.bazel
Labels: approved, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, priority/critical-urgent, release-note-none, size/M

#2713 Adds acme client timeout of 30 seconds
  pkg/acme/client/middleware/logger.go
Labels: approved, area/acme, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#2714 Sets ACME client context to 10s and wraps controller ctx
  pkg/acme/client/middleware/logger.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#2682 Allow setting FQDN, hostname or IPv6 address in RFC2136 nameserver
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/internal/apis/certmanager/validation/util/nameserver.go
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#2719 Bump Go version to 1.14.1
  WORKSPACE
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XS

#2720 Cherrypick: fix up UID mapping in release-0.14
  BUILD.bazel
  build/BUILD.bazel
  build/container.bzl
  cmd/acmesolver/BUILD.bazel
  cmd/cainjector/BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/webhook/BUILD.bazel
  devel/addon/certmanager/BUILD.bazel
  devel/addon/pebble/BUILD.bazel
  devel/addon/samplewebhook/sample/BUILD.bazel
  hack/build/docker.bzl
  test/e2e/BUILD.bazel
  test/e2e/charts/BUILD.bazel
Labels: approved, area/acme, area/deploy, area/testing, cherry-pick-approved, dco-signoff: yes, kind/bug, lgtm, priority/important-soon, release-note, size/L

#2723 Fix JKS keystore functionality and add additional tests
  cmd/controller/app/controller.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/controller.go
  pkg/controller/certificates/keystore.go
  pkg/controller/certificates/keystore_test.go
  pkg/util/pki/parse.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#2023 Add option to set custom annotations for HTTP01 resolver Ingress resources.
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
Labels: approved, area/acme, area/acme/http01, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XL

#2729 cherrypick: set context deadline on ACME client calls
  pkg/acme/client/middleware/logger.go
Labels: approved, area/acme, cherry-pick-approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#2625 adds option to specify CRL Distribution Point. #2612
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#2733 Use correct service name in the --webhook-dns-names flag
  deploy/charts/cert-manager/templates/deployment.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, priority/important-soon, release-note, size/XS

#2734 Update Helm chart & other docs with new URLs and info
  README.md
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/NOTES.txt
  deploy/manifests/README.md
Labels: approved, area/deploy, cherrypick-candidate, dco-signoff: yes, kind/documentation, lgtm, release-note, size/M

#2739 webhookbootstrap: fix updating Secret resources
  pkg/controller/webhookbootstrap/controller.go
  pkg/controller/webhookbootstrap/controller_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#2745 release-0.14: bump Helm chart README for v0.14.1
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#2750 Use Bazel to automatically add version numbers to the Helm chart README
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/README.template.md
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#2747 devel: add k8s 1.18 support
  devel/cluster/create.sh
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/M

#2743 Remove webhookbootstrap and have webhook component dynamically generate certs
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  cmd/webhook/app/BUILD.bazel
  cmd/webhook/app/options/options.go
  cmd/webhook/app/testing/testwebhook.go
  cmd/webhook/app/webhook.go
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/crds/certificaterequests.yaml
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/charts/cert-manager/crds/challenges.yaml
  deploy/charts/cert-manager/crds/clusterissuers.yaml
  deploy/charts/cert-manager/crds/issuers.yaml
  deploy/charts/cert-manager/crds/orders.yaml
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/manifests/00-crds.yaml
  pkg/controller/BUILD.bazel
  pkg/controller/context.go
  pkg/controller/webhookbootstrap/BUILD.bazel
  pkg/controller/webhookbootstrap/controller.go
  pkg/controller/webhookbootstrap/controller_test.go
  pkg/logs/BUILD.bazel
  pkg/logs/testing/BUILD.bazel
  pkg/logs/testing/log_testing.go
  pkg/webhook/BUILD.bazel
  pkg/webhook/authority/BUILD.bazel
  pkg/webhook/authority/authority.go
  pkg/webhook/authority/authority_test.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
  pkg/webhook/server/tls/BUILD.bazel
  pkg/webhook/server/tls/dynamic_source.go
  pkg/webhook/server/tls/file_source.go
  pkg/webhook/server/tls/file_source_test.go
  pkg/webhook/server/tls/source.go
  test/integration/BUILD.bazel
  test/integration/webhook/BUILD.bazel
  test/integration/webhook/dynamic_authority_test.go
  test/integration/webhook/dynamic_source_test.go
Labels: approved, area/deploy, area/testing, area/webhook, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#2755 Remove AdditionalRunFuncs from base controller
  cmd/controller/app/controller.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/builder.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificates/controller.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/controller.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/issuers/controller.go
  pkg/controller/register.go
  pkg/controller/test/context_builder.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#2769 Use default Golang ciphersuites if none are specified
  cmd/webhook/app/options/BUILD.bazel
  cmd/webhook/app/options/options.go
  cmd/webhook/app/webhook.go
  pkg/webhook/server/server.go
Labels: approved, area/webhook, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/M

#2746 Add build targets for UBI based docker images
  WORKSPACE
  build/BUILD.bazel
  build/images.bzl
  build/platforms.bzl
  build/release-tars/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, priority/important-soon, release-note, size/L
