Repository cert-manager/cert-manager, pull requests merged in 2020-11, with the labels that each got.

#3419 Adds ability to Helm chart to set podLabels for the webhook and cainjector deployments
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/S

#3436 Change issue templates to use HTML comments + tip about code blocks
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#3443 Fix various typos found by codespell
  build/container.bzl
  build/files.bzl
  deploy/crds/BUILD.bazel
  design/acme-orders-challenges-crd.md
  devel/cluster/create-openshift3.sh
  devel/lib/lib.sh
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/vault/vault_test.go
  pkg/issuer/acme/dns/util/wait_test.go
  pkg/util/pki/csr_test.go
  pkg/webhook/authority/authority.go
  pkg/webhook/server/util/convert.go
  test/e2e/framework/helper/validate.go
  test/e2e/framework/helper/validations/certificates.go
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/framework/apiserver.go
Labels: approved, area/acme, area/acme/dns01, area/deploy, area/testing, dco-signoff: yes, kind/design, lgtm, ok-to-test, release-note-none, size/M

#3456 Add a blocklist to Pebble
  devel/addon/pebble/chart/templates/configmap.yaml
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#3384 Disable Go's ACME retry logic
  pkg/acme/util/BUILD.bazel
  pkg/acme/util/util.go
  pkg/acme/util/util_test.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#3347 Add duration into ACME
  deploy/crds/crd-clusterissuers.v1beta1.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.v1beta1.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.v1beta1.yaml
  deploy/crds/crd-orders.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/types_order.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/types_order.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/types_order.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/apis/acme/v1beta1/types_order.go
  pkg/apis/acme/v1beta1/zz_generated.deepcopy.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/types_order.go
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/notafter.go
Labels: approved, area/acme, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L
