Repository cert-manager/cert-manager, pull requests merged in 2020-01, with the labels that each got.

#2470 Don't log misleading error messages
  pkg/util/kube/BUILD.bazel
  pkg/util/kube/pki.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/M

#2481 Use upstream Pebble v2.3.0 for E2E tests.
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XS

#2489 Add configuration switch for use of apparmor in PSP
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/cainjector-psp.yaml
  deploy/charts/cert-manager/templates/psp.yaml
  deploy/charts/cert-manager/templates/webhook-psp.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#2455 support an arbitrary SecurityContext block for the main deployment
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
  design/20191218-security-context-deprecation.md
  hack/test-securitycontext-deprecation.sh
Labels: approved, area/deploy, area/testing, dco-signoff: yes, kind/design, lgtm, ok-to-test, release-note, size/L

#2509 updating serviceAccount reference in leaderelection rolebinding
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#2452 Bump Kubernetes dependencies to v0.17.0
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/issuer/acme/http/ingress_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.conversion.go
  test/e2e/framework/addon/samplewebhook/sample/chart/example-webhook/templates/rbac.yaml
Labels: approved, area/acme, area/acme/http01, area/testing, dco-signoff: yes, lgtm, release-note, size/XL

#2516 Fix issue in ComputeCertificateRequestName when 52nd is a dot
  pkg/api/util/BUILD.bazel
  pkg/api/util/names.go
  pkg/api/util/names_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#2518 X509 Name support
  deploy/charts/cert-manager/crds/certificates.yaml
  deploy/manifests/00-crds.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/util/pki/csr.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/L

#2504 Add support for volumes and volume mounts to cert-manager chart
  deploy/charts/cert-manager/README.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#2520 Fix clusterissuer not being able to provision certs
  pkg/controller/certificaterequests/venafi/venafi.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/XS

#2508 CertificateRequest InvalidRequest
  deploy/charts/cert-manager/crds/certificaterequests.yaml
  deploy/manifests/00-crds.yaml
  pkg/api/util/conditions.go
  pkg/apis/certmanager/v1alpha2/types_certificaterequest.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/util/reporter.go
  pkg/controller/certificaterequests/util/reporter_test.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  pkg/internal/apis/certmanager/types_certificaterequest.go
  pkg/internal/vault/vault.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, lgtm, release-note, size/L

#2506 Use vault api and sdk modules instead of tagged repo
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/internal/vault/BUILD.bazel
  pkg/internal/vault/fake/BUILD.bazel
  pkg/internal/vault/vault.go
  pkg/internal/vault/vault_test.go
  test/e2e/framework/addon/vault/BUILD.bazel
Labels: approved, area/testing, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/XXL

#2529 Update version tags in Helm chart
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#2532 fix: removes the need of Bazaar by updating github.com/digitalocean/godo to v1.29.0 Fixes issue #2432
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note, size/M

#2535 Update version numbers in Helm chart README
  deploy/charts/cert-manager/README.md
Labels: approved, area/deploy, dco-signoff: yes, lgtm, release-note-none, size/XS

#2539 Ensure fetched certificate is valid for CSRs public key before issuing
  pkg/controller/certificaterequests/acme/BUILD.bazel
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificates/sync.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/M

#2544 Fix Helm chart cainjector.enabled
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/cainjector-psp.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, lgtm, ok-to-test, release-note, size/S

#2546 Fix ownerReference GVK used during HTTP01 challenge solving
  pkg/issuer/acme/http/http.go
Labels: approved, area/acme, area/acme/http01, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#2531 v1alpha3: move Organization field into X509Subject as Organizations
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/BUILD.bazel
  pkg/internal/apis/certmanager/v1alpha2/conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/validation/certificate_for_issuer.go
  pkg/internal/apis/certmanager/validation/certificate_for_issuer_test.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
Labels: approved, area/api, dco-signoff: yes, lgtm, release-note-none, size/L
