Repository cert-manager/cert-manager, pull requests merged in 2020-06, with the labels that each got.

#2976 Add new line to clairify podLabels <-> podDNS
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#2923 Updates the metrics package + new metrics controller
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  pkg/acme/accounts/BUILD.bazel
  pkg/acme/accounts/client.go
  pkg/acme/accounts/registry.go
  pkg/acme/accounts/registry_test.go
  pkg/acme/client/http.go
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/sync.go
  pkg/controller/builder.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/metrics/BUILD.bazel
  pkg/controller/certificates/metrics/controller.go
  pkg/controller/certificates/sync.go
  pkg/controller/clusterissuers/BUILD.bazel
  pkg/controller/clusterissuers/sync.go
  pkg/controller/context.go
  pkg/controller/controller.go
  pkg/controller/expcertificates/issuing/issuing_controller.go
  pkg/controller/expcertificates/keymanager/keymanager_controller.go
  pkg/controller/expcertificates/readiness/readiness_controller.go
  pkg/controller/expcertificates/requestmanager/requestmanager_controller.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/sync.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/sync.go
  pkg/controller/test/BUILD.bazel
  pkg/controller/test/context_builder.go
  pkg/issuer/acme/BUILD.bazel
  pkg/issuer/acme/acme.go
  pkg/issuer/acme/setup.go
  pkg/metrics/BUILD.bazel
  pkg/metrics/acme.go
  pkg/metrics/certificates.go
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  test/e2e/framework/addon/vault/proxy.go
  test/integration/certificates/BUILD.bazel
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/trigger_controller_test.go
  test/unit/gen/BUILD.bazel
  test/unit/gen/certificate.go
Labels: approved, area/acme, area/monitoring, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XXL

#2898 Remove custom retry logic from route53 package
  pkg/issuer/acme/dns/route53/BUILD.bazel
  pkg/issuer/acme/dns/route53/route53.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/S

#2839 Update to the latest miekg/dns
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/issuer/acme/dns/util/wait.go
  test/acme/dns/server/server.go
Labels: approved, area/acme, area/acme/dns01, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#3001 Fix Docker architecture tag set by bazel
  WORKSPACE
  build/container.bzl
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#3017 Encode private keys to PKCS1/PKCS8 as requested by user
  pkg/controller/expcertificates/issuing/issuing_controller.go
  pkg/controller/expcertificates/issuing/temporary.go
  pkg/util/pki/generate.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#3018 Fix ctl convert cmd
  BUILD.bazel
  cmd/ctl/pkg/convert/BUILD.bazel
  cmd/ctl/pkg/convert/convert.go
  pkg/ctl/BUILD.bazel
  pkg/ctl/scheme.go
  test/integration/ctl/ctl_convert_test.go
  test/integration/ctl/testdata/convert_resource_with_organization_v1alpha2.yaml
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/bug, lgtm, priority/important-soon, release-note, size/L

#3028 expcertificates: add integration test for PKCS#8 keyFormat
  test/integration/certificates/issuing_controller_test.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3027 expcertificates: fix bug renewing certificates automatically near expiry
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/controller/certificates/controller.go
  pkg/controller/expcertificates/readiness/readiness_controller.go
  pkg/controller/expcertificates/trigger/BUILD.bazel
  pkg/controller/expcertificates/trigger/policies/BUILD.bazel
  pkg/controller/expcertificates/trigger/policies/policies.go
  pkg/controller/expcertificates/trigger/policies/policies_test.go
  pkg/controller/expcertificates/trigger/trigger_controller.go
  pkg/controller/expcertificates/util.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/scheduler/BUILD.bazel
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  test/integration/certificates/BUILD.bazel
  test/integration/certificates/trigger_controller_test.go
  test/integration/framework/apiserver.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/XL

#2989 Make Cloudflare email an optional field
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#3037 Add verify-staticcheck.sh script
  cmd/acmesolver/main.go
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/verify-staticcheck.sh
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificates/sync.go
  pkg/controller/expcertificates/internal/test/test.go
  pkg/controller/expcertificates/issuing/issuing_controller.go
  pkg/controller/expcertificates/readiness/readiness_controller.go
  pkg/controller/expcertificates/requestmanager/BUILD.bazel
  pkg/controller/expcertificates/requestmanager/requestmanager_controller_test.go
  pkg/controller/expcertificates/requestmanager/util_test.go
  pkg/controller/expcertificates/trigger/trigger_controller.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/controller/test/context_builder.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/venafi/sign.go
  pkg/internal/venafi/venafi.go
  pkg/issuer/acme/dns/digitalocean/digitalocean.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/rfc2136/provider_test.go
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
  pkg/issuer/acme/dns/util_test.go
  pkg/issuer/ca/BUILD.bazel
  pkg/issuer/ca/util_test.go
  pkg/issuer/venafi/setup_test.go
  pkg/issuer/venafi/venafi.go
  pkg/scheduler/scheduler_test.go
  pkg/util/pki/generate_test.go
  pkg/webhook/server/tls/dynamic_source.go
  pkg/webhook/server/tls/file_source_test.go
  test/acme/dns/server/server.go
Labels: approved, area/acme, area/acme/dns01, area/ca, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XL

#3036 Use ctl.Scheme in create cr ctl command
  cmd/ctl/pkg/create/certificaterequest/BUILD.bazel
  cmd/ctl/pkg/create/certificaterequest/certificaterequest.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#3031 Update API type documentation for 'certmanager', 'meta' and 'acme' API groups
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  pkg/apis/acme/v1alpha2/types.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/types_order.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/types_order.go
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/meta/v1/types.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificates/sync.go
  pkg/controller/certificates/sync_test.go
  pkg/controller/expcertificates/internal/test/test.go
  pkg/controller/expcertificates/requestmanager/requestmanager_controller.go
  pkg/controller/expcertificates/requestmanager/requestmanager_controller_test.go
  pkg/controller/expcertificates/requestmanager/util_test.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/types_order.go
  pkg/internal/apis/certmanager/types.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/types_certificaterequest.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/internal/apis/meta/types.go
  test/e2e/suite/issuers/selfsigned/certificaterequest.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XXL

#3042 Disable controller admission webhook in ingress nginx for e2e
  devel/addon/ingressnginx/install.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS
