Repository cert-manager/cert-manager, pull requests merged in 2020-08, with the labels that each got.

#3134 Updating docker-rules and allowing for Python3
  .bazelrc
  WORKSPACE
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/S

#3139 Add serviceAccountName to issuers CRDs for http01 solvers
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
Labels: approved, area/acme, area/acme/http01, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3138 Refactor status cmd
  cmd/ctl/pkg/status/certificate/BUILD.bazel
  cmd/ctl/pkg/status/certificate/certificate.go
  cmd/ctl/pkg/status/certificate/certificate_test.go
  cmd/ctl/pkg/status/certificate/types.go
  cmd/ctl/pkg/status/util/BUILD.bazel
  cmd/ctl/pkg/status/util/util.go
  test/integration/ctl/ctl_status_certificate_test.go
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XL

#3142 Add MutatingWebhook and ValidatingWebhook extra annotations sections …
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/S

#3150 User order as variable name in gen/order.go
  test/unit/gen/order.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#3151 Adds Issuer Group to Secret annotation
  pkg/controller/certificates/internal/secretsmanager/secret.go
  pkg/controller/certificates/internal/secretsmanager/secret_test.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/util/pki/csr.go
  test/integration/certificates/issuing_controller_test.go
Labels: approved, area/testing, dco-signoff: yes, kind/bug, lgtm, priority/critical-urgent, release-note, size/L

#3165 test/e2e/suite/issuers/acme: fix dropped error
  test/e2e/suite/issuers/acme/issuer.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#3162 Update to latest version of https://github.com/SSLMate/go-pkcs12
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/controller/certificates/internal/secretsmanager/keystore_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#3173 Add intermediate cert to P12 chain if ca.crt is empty
  pkg/controller/certificates/internal/secretsmanager/BUILD.bazel
  pkg/controller/certificates/internal/secretsmanager/keystore.go
  pkg/controller/certificates/internal/secretsmanager/keystore_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#3172 Use rbac.authorization.k8s.io/v1
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  devel/addon/samplewebhook/chart/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#3154 Ctl command `status certificate`: Add order output
  cmd/ctl/pkg/status/certificate/BUILD.bazel
  cmd/ctl/pkg/status/certificate/certificate.go
  cmd/ctl/pkg/status/certificate/types.go
  test/integration/ctl/BUILD.bazel
  test/integration/ctl/ctl_status_certificate_test.go
  test/unit/gen/order.go
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#2958 Improve integration tests with OpenAPI + webhook validation
  pkg/api/testing/bazel.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/conversion/BUILD.bazel
  test/integration/conversion/conversion_test.go
  test/integration/ctl/ctl_renew_test.go
  test/integration/ctl/ctl_status_certificate_test.go
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
  test/integration/framework/helpers.go
  tools/setup-integration-test-dependencies.sh
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#3167 Support v1 admission webhooks
  build/helm.bzl
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/manifests/BUILD.bazel
  pkg/webhook/handlers/BUILD.bazel
  pkg/webhook/handlers/interfaces.go
  pkg/webhook/handlers/mutation.go
  pkg/webhook/handlers/mutation_test.go
  pkg/webhook/handlers/validation.go
  pkg/webhook/handlers/validation_test.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#3179 Remove managed by Helm labels from static manifests and CRDs
  deploy/manifests/BUILD.bazel
  hack/filter-crd/main.go
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#3175 chart: add image digest option
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#3171 Ctl command status certificate: Refactor Run method
  cmd/ctl/pkg/status/certificate/BUILD.bazel
  cmd/ctl/pkg/status/certificate/certificate.go
  cmd/ctl/pkg/status/certificate/certificate_test.go
  cmd/ctl/pkg/status/certificate/types.go
  test/unit/gen/certificate.go
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3189 Add Atomist to users
  USERS.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#3186 Ctl command status certificate: Add challenge output
  cmd/ctl/pkg/status/certificate/certificate.go
  cmd/ctl/pkg/status/certificate/certificate_test.go
  cmd/ctl/pkg/status/certificate/types.go
  test/integration/ctl/ctl_status_certificate_test.go
  test/unit/gen/challenge.go
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3187 Refactor the cainjector to only have 1 leader election
  cmd/cainjector/app/start.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#3193 Add JFrog to users
  USERS.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#3192 Make webhook-probes configurable in helm-chart
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#3202 Tidy up some remaining references to v1alpha2
  cmd/ctl/pkg/create/certificaterequest/certificaterequest_test.go
  deploy/charts/cert-manager/README.template.md
  pkg/api/scheme.go
  pkg/controller/ingress-shim/controller.go
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#3141 Ability to disable generating new ACME account key for ACME issuers
  deploy/crds/crd-clusterissuers.v1beta1.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.v1beta1.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/issuer/acme/setup.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3209 pkg/controller/certificates/internal: fix dropped test errors
  pkg/controller/certificates/internal/secretsmanager/keystore_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#3207 Move ACME label keys to the external API package
  pkg/apis/acme/v1/types.go
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/ingress_test.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
Labels: approved, area/acme, area/acme/http01, area/api, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#3208 Add support for alternate certs with PrefferedChain in ACME
  deploy/crds/crd-clusterissuers.v1beta1.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.v1beta1.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/acme/client/fake.go
  pkg/acme/client/interfaces.go
  pkg/acme/client/middleware/logger.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
Labels: approved, area/acme, area/api, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3215 Provide a backoff function to ACME
  pkg/acme/client/interfaces.go
Labels: approved, area/acme, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#3227 Updates kind node 1.19 sha to use upstream
  devel/cluster/create-kind.sh
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XS

#3225 Update references to URISANs and EmailSANs in the validation
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#3228 Bump Go version to 1.15
  WORKSPACE
  go.mod
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#3224 Update some references to URISANs and EmailSANs in RequestMatchesSpec
  pkg/controller/certificates/util.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/S

#3166 Update k8s toolchain to 1.19.0
  LICENSES
  cmd/controller/app/controller.go
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/acme/webhook/cmd/server/start.go
  pkg/api/BUILD.bazel
  pkg/api/scheme.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/listers/acme/v1/challenge.go
  pkg/client/listers/acme/v1/order.go
  pkg/client/listers/acme/v1alpha2/challenge.go
  pkg/client/listers/acme/v1alpha2/order.go
  pkg/client/listers/acme/v1alpha3/challenge.go
  pkg/client/listers/acme/v1alpha3/order.go
  pkg/client/listers/acme/v1beta1/challenge.go
  pkg/client/listers/acme/v1beta1/order.go
  pkg/client/listers/certmanager/v1/certificate.go
  pkg/client/listers/certmanager/v1/certificaterequest.go
  pkg/client/listers/certmanager/v1/clusterissuer.go
  pkg/client/listers/certmanager/v1/issuer.go
  pkg/client/listers/certmanager/v1alpha2/certificate.go
  pkg/client/listers/certmanager/v1alpha2/certificaterequest.go
  pkg/client/listers/certmanager/v1alpha2/clusterissuer.go
  pkg/client/listers/certmanager/v1alpha2/issuer.go
  pkg/client/listers/certmanager/v1alpha3/certificate.go
  pkg/client/listers/certmanager/v1alpha3/certificaterequest.go
  pkg/client/listers/certmanager/v1alpha3/clusterissuer.go
  pkg/client/listers/certmanager/v1alpha3/issuer.go
  pkg/client/listers/certmanager/v1beta1/certificate.go
  pkg/client/listers/certmanager/v1beta1/certificaterequest.go
  pkg/client/listers/certmanager/v1beta1/clusterissuer.go
  pkg/client/listers/certmanager/v1beta1/issuer.go
  pkg/ctl/BUILD.bazel
  pkg/ctl/scheme.go
  pkg/internal/apis/acme/install/BUILD.bazel
  pkg/internal/apis/acme/install/install.go
  pkg/internal/apis/certmanager/install/BUILD.bazel
  pkg/internal/apis/certmanager/install/install.go
  pkg/logs/logs.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
  pkg/webhook/server/util/BUILD.bazel
  pkg/webhook/server/util/convert.go
  test/acme/dns/util.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/trigger_controller_test.go
  test/integration/ctl/ctl_create_cr_test.go
  test/integration/ctl/ctl_renew_test.go
  test/integration/ctl/ctl_status_certificate_test.go
  test/integration/webhook/dynamic_authority_test.go
  test/integration/webhook/dynamic_source_test.go
Labels: approved, area/acme, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XXL

#3211 Extended key usages into CSR
  deploy/crds/crd-certificaterequests.v1beta1.yaml
  deploy/crds/crd-certificaterequests.yaml
  pkg/apis/certmanager/v1/types_certificaterequest.go
  pkg/internal/apis/certmanager/validation/BUILD.bazel
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificaterequest.go
  pkg/internal/apis/certmanager/validation/clusterissuer.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/register.go
  pkg/util/pki/BUILD.bazel
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/keyusage.go
  pkg/webhook/handlers/validation.go
  pkg/webhook/handlers/validation_test.go
  test/integration/BUILD.bazel
  test/integration/validation/BUILD.bazel
  test/integration/validation/certificaterequest_test.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XL

#3213 Ctl command status certificate: Add Events of Issuer and Secret to output
  cmd/ctl/pkg/status/certificate/BUILD.bazel
  cmd/ctl/pkg/status/certificate/certificate.go
  cmd/ctl/pkg/status/certificate/certificate_test.go
  cmd/ctl/pkg/status/certificate/types.go
  test/integration/ctl/BUILD.bazel
  test/integration/ctl/ctl_status_certificate_test.go
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3235 Change convert cmd default behaviour
  pkg/internal/apis/certmanager/install/install.go
  test/integration/ctl/ctl_convert_test.go
  test/integration/ctl/testdata/convert/output/resource1_v1.yaml
  test/integration/ctl/testdata/convert/output/resource2_v1.yaml
  test/integration/ctl/testdata/convert/output/resource_with_organization_v1.yaml
  test/integration/ctl/testdata/convert/output/resources_as_list_v1.yaml
Labels: approved, area/ctl, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L
