Repository cert-manager/cert-manager, pull requests merged in 2021-06, with the labels that each got.

#4074 Reverts ACME issuer from forming a chain bundle and populating the ca.crt
  pkg/controller/certificaterequests/acme/acme.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#4056 deleting test/e2e/framework/config/framework.go
  test/e2e/framework/config/BUILD.bazel
  test/e2e/framework/config/config.go
  test/e2e/framework/config/framework.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/M

#4081 Certificate Signing Request CA e2e
  devel/addon/certmanager/install.sh
  pkg/controller/certificatesigningrequests/ca/ca.go
  pkg/controller/certificatesigningrequests/sync.go
  pkg/controller/certificatesigningrequests/util/BUILD.bazel
  pkg/controller/certificatesigningrequests/util/conditions.go
  pkg/controller/certificatesigningrequests/util/signername.go
  test/e2e/framework/helper/BUILD.bazel
  test/e2e/framework/helper/certificatesigningrequests.go
  test/e2e/suite/issuers/ca/BUILD.bazel
  test/e2e/suite/issuers/ca/certificatesigningrequest.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XL

#4090 Check certificate chain for Vault Issuer in E2E
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/approle_custom_mount.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4092 Remove the default renewBefore value
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/const.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1alpha2/const.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/const.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1beta1/const.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/trigger/policies/policies.go
  pkg/controller/certificates/trigger/policies/policies_test.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
  pkg/internal/apis/certmanager/fuzzer/fuzzer.go
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  test/integration/certificates/trigger_controller_test.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4079 support-ed25519
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/generate.go
  pkg/util/pki/generate_test.go
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/framework/helper/validations/certificates.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
  test/e2e/suite/issuers/ca/certificate.go
  test/e2e/suite/issuers/ca/certificaterequest.go
  test/e2e/suite/issuers/selfsigned/certificaterequest.go
  test/e2e/suite/issuers/selfsigned/fixtures.go
  test/e2e/util/util.go
  test/unit/gen/csr.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#4070 3969 parameterize and document image building
  Makefile
  WORKSPACE
  build/BUILD.bazel
  build/README.md
  build/container.bzl
  build/images.bzl
  build/release-tars/BUILD.bazel
  cmd/acmesolver/BUILD.bazel
  cmd/cainjector/BUILD.bazel
  cmd/controller/BUILD.bazel
  cmd/webhook/BUILD.bazel
  hack/bin/deps.bzl
  hack/build/docker.bzl
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#4105 Add clock_time_seconds metric
  cmd/controller/app/controller.go
  pkg/controller/test/context_builder.go
  pkg/metrics/BUILD.bazel
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  test/integration/acme/orders_controller_test.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/revisionmanager_controller_test.go
  test/integration/certificates/trigger_controller_test.go
Labels: approved, area/monitoring, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#4109 Add .PHONY next to make targets
  Makefile
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#4085 Use stable version of controller-runtime
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#4110 adding flags for config in the acme issuer tests
  test/e2e/framework/config/acme.go
  test/e2e/suite/issuers/acme/issuer.go
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/M

#4123 Disable running e2e tests for CertificateSigningRequests if feature gate not enabled
  test/e2e/suite/issuers/ca/BUILD.bazel
  test/e2e/suite/issuers/ca/certificatesigningrequest.go
Labels: approved, area/testing, cherry-pick-approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#4130 4082 Fix retrying of failed CertificateRequests
  pkg/controller/certificates/requestmanager/BUILD.bazel
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificates/requestmanager/requestmanager_controller_test.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/util.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4143 Remove the `experimental.cert-manager.io/ca` annotation from CertificateSigningRequests
  pkg/apis/experimental/v1alpha1/types.go
  pkg/controller/certificatesigningrequests/ca/BUILD.bazel
  pkg/controller/certificatesigningrequests/ca/ca.go
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned_test.go
  test/e2e/framework/helper/BUILD.bazel
  test/e2e/framework/helper/certificatesigningrequests.go
  test/e2e/framework/helper/validation/certificatesigningrequests/certificatesigningrequests.go
  test/e2e/framework/helper/validation/validation.go
  test/unit/gen/certificatesigningrequest.go
Labels: approved, area/api, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#4154 chore: deduplicate subDomainName generation logic in tests
  test/e2e/framework/util/BUILD.bazel
  test/e2e/suite/approval/BUILD.bazel
  test/e2e/suite/approval/approval.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/BUILD.bazel
  test/e2e/suite/conformance/certificatesigningrequests/suite.go
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/dns01.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/notafter.go
  test/e2e/suite/issuers/acme/certificaterequest/BUILD.bazel
  test/e2e/suite/issuers/acme/certificaterequest/dns01.go
  test/e2e/suite/issuers/acme/certificaterequest/http01.go
  test/e2e/suite/issuers/acme/dnsproviders/BUILD.bazel
  test/e2e/suite/issuers/acme/dnsproviders/dnsproviders.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/domains.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#4126 replacing consts with flags in http01 tests
  test/e2e/suite/issuers/acme/certificate/dns01.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/notafter.go
  test/e2e/suite/issuers/acme/certificate/webhook.go
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/M

#4157 cleanup tests: WaitForCertificateReady
  pkg/api/util/conditions.go
  test/e2e/framework/helper/BUILD.bazel
  test/e2e/framework/helper/certificates.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/suite.go
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/e2e/suite/issuers/acme/certificate/dns01.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/notafter.go
  test/e2e/suite/issuers/ca/certificate.go
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/approle_custom_mount.go
  test/e2e/suite/issuers/venafi/tpp/certificate.go
  test/e2e/suite/serving/cainjector.go
  test/e2e/util/util.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L
