Repository cert-manager/cert-manager, pull requests merged in 2021-08, with the labels that each got.

#4244 adding a new feature set for Public ACME servers
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/tests.go
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/M

#3828 feat: add support to secretTemplates
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
  pkg/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/certificates/internal/secretsmanager/secret.go
  pkg/controller/certificates/internal/secretsmanager/secret_test.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/validation/BUILD.bazel
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  test/unit/gen/certificate.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XL

#4072 Add a name to Prometheus scraping service port for Istio compatibillity
  deploy/charts/cert-manager/templates/service.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XS

#4226 add 'kubectl cert-manager version'
  cmd/ctl/cmd/cmd.go
  cmd/ctl/pkg/install/install.go
  cmd/ctl/pkg/version/BUILD.bazel
  cmd/ctl/pkg/version/version.go
  pkg/util/BUILD.bazel
  pkg/util/versionchecker/BUILD.bazel
  pkg/util/versionchecker/fromcrd.go
  pkg/util/versionchecker/fromlabels.go
  pkg/util/versionchecker/fromservice.go
  pkg/util/versionchecker/getpodfromtemplate_test.go
  pkg/util/versionchecker/testdata/.gitignore
  pkg/util/versionchecker/testdata/BUILD.bazel
  pkg/util/versionchecker/testdata/fetch.sh
  pkg/util/versionchecker/versionchecker.go
  pkg/util/versionchecker/versionchecker_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XL

#4161 Update makefile
  Makefile
  build/BUILD.bazel
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4293 Nil pointer exception: certificateRef and TLS can now be left empty
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4234 Add startup api check Job
  BUILD.bazel
  build/BUILD.bazel
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/startupapicheck-job.yaml
  deploy/charts/cert-manager/templates/startupapicheck-rbac.yaml
  deploy/charts/cert-manager/templates/startupapicheck-serviceaccount.yaml
  deploy/charts/cert-manager/values.yaml
  deploy/crds/BUILD.bazel
  deploy/manifests/BUILD.bazel
  devel/addon/certmanager/BUILD.bazel
  devel/addon/certmanager/install.sh
  hack/verify-upgrade.sh
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#4295 Correctly print conditions during tests
  test/e2e/util/util.go
Labels: approved, area/testing, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#4276 Experimental Gateway API support for ACME HTTP-01 Solving
  cmd/controller/app/controller.go
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  devel/BUILD.bazel
  devel/addon/bind/manifests/configmap.yaml
  devel/addon/haproxy/BUILD.bazel
  devel/addon/haproxy/install.sh
  devel/addon/traefik/BUILD.bazel
  devel/addon/traefik/install.sh
  devel/run-e2e.sh
  devel/setup-e2e-deps.sh
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/apis/acme/v1beta1/zz_generated.deepcopy.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/context.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/http/BUILD.bazel
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/httproute.go
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/service.go
  test/e2e/framework/config/BUILD.bazel
  test/e2e/framework/config/acme.go
  test/e2e/framework/config/addons.go
  test/e2e/framework/config/gateway.go
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/images.bzl
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificates/tests.go
Labels: approved, area/acme, area/acme/http01, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#4299 Update bazel docker rules & go.mod dependencies
  LICENSES
  WORKSPACE
  go.mod
  go.sum
  hack/build/repos.bzl
  test/e2e/bin/cloudflare-clean/BUILD.bazel
  test/e2e/bin/cloudflare-clean/main.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XXL

#4050 explicitly specify port protocol field to allow server side apply
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#4298 Improve certificate condition checking and error logging
  test/e2e/framework/helper/BUILD.bazel
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/validate.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/notafter.go
  test/e2e/suite/issuers/ca/certificate.go
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/approle_custom_mount.go
  test/e2e/suite/issuers/venafi/tpp/certificate.go
  test/e2e/suite/serving/cainjector.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XL

#4306 Bump k8s v1.22 test image sha
  devel/cluster/create-kind.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4312 [release-1.3] Update old references to replaced/obsolete email addresses
  CODE_OF_CONDUCT.md
  deploy/charts/cert-manager/Chart.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved, area/deploy

#4313 Disable the TPP E2E tests
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/conformance/certificatesigningrequests/venafi/tpp.go
  test/e2e/suite/issuers/venafi/tpp/certificate.go
  test/e2e/suite/issuers/venafi/tpp/certificaterequest.go
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, area/testing, kind/flake

#4314 [release-1.3] Helm Chart k8s compat update
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved, area/deploy

#4309 Fix chart prerequisites Kubernetes version
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4315 [release-1.4] Helm chart k8s compat update
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved, area/deploy

#4311 Adds an explicit timeout when pre-checking HTTP-01 challenges
  pkg/issuer/acme/http/http.go
Labels: release-note, approved, lgtm, kind/bug, size/M, area/acme, dco-signoff: yes, area/acme/http01

#4310 Put Gateway-API support behind a feature-gate.
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  devel/addon/certmanager/install.sh
  devel/run-e2e.sh
  pkg/feature/features.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes

#4300 Cleanup tests
  cmd/webhook/app/testing/testwebhook.go
  devel/addon/certmanager/install.sh
  devel/ci-run-e2e.sh
  pkg/webhook/authority/BUILD.bazel
  pkg/webhook/authority/authority.go
  pkg/webhook/server/tls/dynamic_source.go
  test/e2e/framework/config/BUILD.bazel
  test/e2e/framework/config/addons.go
  test/e2e/framework/config/tiller.go
  test/e2e/framework/helper/BUILD.bazel
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/describe.go
  test/e2e/framework/helper/validate.go
  test/e2e/suite/conformance/certificates/suite.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/revisionmanager_controller_test.go
  test/integration/certificates/trigger_controller_test.go
  test/integration/framework/apiserver.go
  test/integration/webhook/dynamic_authority_test.go
  test/integration/webhook/dynamic_source_test.go
  test/internal/apiserver/apiserver.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, ok-to-test

#4321 [release-1.5] Fix chart prerequisites Kubernetes version
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved, area/deploy

#4308 Fix chart readme install command
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4333 add krew automation for releases
  .github/workflows/release.yml
  .krew.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes

#4336 Fix upgrade tests
  hack/verify-upgrade.sh
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#4341 Use the official kind image for testing against Kubernetes v1.22
  devel/cluster/create-kind.sh
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4335 Integration tests cleanup
  cmd/webhook/app/testing/BUILD.bazel
  cmd/webhook/app/testing/testwebhook.go
  pkg/api/testing/BUILD.bazel
  pkg/webhook/server/server.go
  test/integration/acme/orders_controller_test.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/revisionmanager_controller_test.go
  test/integration/certificates/trigger_controller_test.go
  test/integration/conversion/conversion_test.go
  test/integration/ctl/ctl_create_cr_test.go
  test/integration/ctl/ctl_install.go
  test/integration/ctl/ctl_renew_test.go
  test/integration/ctl/ctl_status_certificate_test.go
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
  test/integration/framework/helpers.go
  test/integration/validation/certificaterequest_test.go
  test/integration/webhook/dynamic_authority_test.go
  test/integration/webhook/dynamic_source_test.go
  test/internal/apiserver/BUILD.bazel
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, ok-to-test

#4347 Don't wait for hooks in kubectl cert-manager x install integration test (part 2)
  cmd/ctl/pkg/install/install.go
  test/internal/util/paths.go
Labels: release-note-none, approved, lgtm, size/S, kind/bug, dco-signoff: yes, area/testing, ok-to-test

#4353 Fix mistakenly changed CRDs for v1beta1
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1beta1/types_issuer.go
Labels: release-note, approved, lgtm, size/S, area/api, kind/bug, dco-signoff: yes, area/deploy

#4363 rerun git tags command when //:version changes
  pkg/util/versionchecker/testdata/BUILD.bazel
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, ok-to-test

#4348 Upgrade deps (kube v0.22.0)
  LICENSES
  WORKSPACE
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/build/repos.bzl
  hack/update-codegen.sh
  pkg/client/clientset/versioned/fake/clientset_generated.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/testing, ok-to-test, area/deploy

#4359 Make leader election defaults consistent
  cmd/cainjector/app/BUILD.bazel
  cmd/cainjector/app/start.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  cmd/util/BUILD.bazel
  cmd/util/defaults.go
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, ok-to-test

#4366 update trigger for gh action, add arm64 darwin for krew
  .github/workflows/release.yml
  .krew.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#4383 Explicitly set Venafi Cloud e2e tests to use v2 endpoint
  test/e2e/framework/addon/venafi/cloud.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4373 Fix regression in ACME HTTP-01 Ingress Solver introduced in v1.5.0
  pkg/issuer/acme/http/ingress.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/http01

#4379 Removes status fields from CRD definitions
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/deploy

#4369 Improve owner not found errors
  pkg/controller/BUILD.bazel
  pkg/controller/util.go
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#4384 finalisers -> finalizers
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#4386 Fix codegen script on Darwin
  hack/update-codegen.sh
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#4390 Verify crd status
  hack/BUILD.bazel
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/verify-crds.sh
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#4393 Regression: restore the previous service type defaulting behaviour
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/issuer/acme/http/service.go
  pkg/issuer/acme/http/service_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/bug, area/acme, dco-signoff: yes, area/acme/http01, area/deploy

#4392 Fix manually specified Certificate and CertificateRequest versions
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/kube_test.go
  pkg/webhook/authority/authority.go
  pkg/webhook/server/tls/dynamic_source.go
  pkg/webhook/server/tls/file_source_test.go
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#4365 fix: flaky test when comparing unordered elements
  pkg/internal/apis/certmanager/validation/certificate_test.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, ok-to-test

#4402 refactor: move from io/ioutil to io and os package
  cmd/ctl/pkg/create/certificaterequest/certificaterequest.go
  cmd/ctl/pkg/create/certificaterequest/certificaterequest_test.go
  cmd/ctl/pkg/inspect/secret/util.go
  cmd/webhook/app/testing/testwebhook.go
  pkg/controller/cainjector/setup.go
  pkg/internal/vault/vault_test.go
  pkg/issuer/acme/dns/clouddns/clouddns.go
  pkg/issuer/acme/http/http.go
  pkg/webhook/server/server.go
  pkg/webhook/server/tls/file_source.go
  pkg/webhook/server/tls/file_source_test.go
  test/acme/dns/options.go
  test/e2e/e2e.go
  test/e2e/framework/addon/chart/addon.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/ctl/ctl_convert_test.go
  test/integration/ctl/ctl_create_cr_test.go
  test/integration/framework/apiserver.go
  tools/cobra/main_test.go
Labels: release-note, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/testing, ok-to-test, area/acme/dns01, area/acme/http01

#4399 Fix renewalTime skew issue
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#4406 Remove krew automation
  .github/workflows/release.yml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes
