Repository cert-manager/cert-manager, pull requests merged in 2021-07, with the labels that each got.

#4168 Bumps base image versions
  build/images.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4169 add -s and -w flags to the go_binary linkopts
  build/go_binary.bzl
Labels: approved, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XS

#4147 Cloudflare: refactor DNS01 challenge to use API for finding the nearest Zone
  LICENSES
  pkg/issuer/acme/dns/cloudflare/BUILD.bazel
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
  pkg/issuer/acme/dns/cloudflare/cloudflare_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/L

#3797 DESIGN: document the behaviour and implementation of CRs Approved/Denied conditions
  design/20190708.certificate-request-crd.md
Labels: approved, dco-signoff: yes, kind/design, kind/feature, lgtm, release-note-none, size/L

#4138 Basic install functionality for kubectl plugin
  LICENSES
  cmd/ctl/BUILD.bazel
  cmd/ctl/pkg/experimental/BUILD.bazel
  cmd/ctl/pkg/experimental/experimental.go
  cmd/ctl/pkg/install/BUILD.bazel
  cmd/ctl/pkg/install/helm/BUILD.bazel
  cmd/ctl/pkg/install/helm/applycrd.go
  cmd/ctl/pkg/install/helm/resource.go
  cmd/ctl/pkg/install/helm/settings.go
  cmd/ctl/pkg/install/install.go
  cmd/ctl/pkg/install/util.go
  deploy/charts/cert-manager/templates/NOTES.txt
  devel/bin/kubectl-cert_manager
  go.mod
  go.sum
  hack/bin/BUILD.bazel
  hack/build/repos.bzl
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XXL

#4181 Set linkopts "-w" instead of "-w -s" when building go binaries
  build/go_binary.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/XS

#4128 Refactor the end-to-end ACME HTTP01 tests (continuation of #3836)
  pkg/controller/certificates/trigger/policies/gatherer.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/dns01.go
  test/e2e/suite/issuers/acme/certificate/http01.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XL

#4178 vault issuer: specify that the caBundle must be base64-encoded
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/certmanager/v1beta1/types_issuer.go
  pkg/internal/apis/certmanager/types_issuer.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, priority/backlog, release-note-none, size/M

#3963 Static analysis tool party: fix my batch of linter warnings
  pkg/controller/certificates/issuing/BUILD.bazel
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/internal/apis/certmanager/validation/certificaterequest.go
  pkg/issuer/acme/dns/acmedns/acmedns_test.go
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
  pkg/issuer/acme/dns/cloudflare/cloudflare_test.go
  pkg/issuer/acme/dns/rfc2136/rfc2136.go
  pkg/issuer/ca/setup.go
  pkg/logs/testing/log_testing.go
  pkg/util/kube/pki.go
Labels: approved, area/acme, area/acme/dns01, area/acme/http01, area/ca, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#4183 Upgrade all "hack" tools to the latest version
  BUILD.bazel
  LICENSES
  WORKSPACE
  devel/bin/kustomize
  devel/lib/lib.sh
  go.mod
  go.sum
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/build/repos.bzl
  test/acme/dns/BUILD.bazel
  test/acme/dns/fixture.go
  test/acme/dns/options.go
  test/acme/dns/util.go
  test/integration/conversion/conversion_test.go
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
  test/internal/apiserver/BUILD.bazel
  test/internal/apiserver/apiserver.go
  test/internal/apiserver/paths.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XL

#4172 Restrict api versions
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#4200 Fix vscode crash
  .gitignore
Labels: approved, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#4201 add -prune=true & go mod tidy to update-deps.sh
  go.sum
  hack/build/repos.bzl
  hack/update-deps.sh
  pkg/issuer/acme/dns/akamai/BUILD.bazel
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XL

#4182 Upgrade test
  Makefile
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/build/version.sh
  hack/verify-upgrade.sh
  test/fixtures/cert-manager-resources.yaml
  test/fixtures/upgrade/overlay/cainjector-ops.yaml
  test/fixtures/upgrade/overlay/controller-ops.yaml
  test/fixtures/upgrade/overlay/values.yaml
  test/fixtures/upgrade/overlay/webhook-ops.yaml
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#4208 Bump the version of Go SDK being downloaded
  WORKSPACE
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4206 test/integration/acme: fix dropped error
  test/integration/acme/orders_controller_test.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#4190 Remove Helm-specific labels & add version label
  build/helm.bzl
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/cainjector-psp.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/psp.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/webhook-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/webhook-psp.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/crds/BUILD.bazel
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  deploy/manifests/BUILD.bazel
  go.mod
  hack/BUILD.bazel
  hack/filter-crd/BUILD.bazel
  hack/filter-crd/main.go
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/L

#4149 ingress-shim: untangle logic for "looking for cert owners"
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/checks.go
  pkg/controller/ingress-shim/controller.go
  pkg/controller/ingress-shim/controller_test.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, area/ingress-shim, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#4158 Implement the Gateway API shim ("gateway-shim" controller)
  LICENSES
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  cmd/controller/app/start.go
  deploy/charts/cert-manager/templates/rbac.yaml
  devel/BUILD.bazel
  devel/addon/certmanager/install.sh
  devel/addon/gatewayapi/BUILD.bazel
  devel/addon/gatewayapi/install.sh
  devel/setup-e2e-deps.sh
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/controller/BUILD.bazel
  pkg/controller/certificate-shim/BUILD.bazel
  pkg/controller/certificate-shim/gateways/BUILD.bazel
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/certificate-shim/gateways/controller_test.go
  pkg/controller/certificate-shim/helper.go
  pkg/controller/certificate-shim/helper_test.go
  pkg/controller/certificate-shim/ingresses/BUILD.bazel
  pkg/controller/certificate-shim/ingresses/controller.go
  pkg/controller/certificate-shim/ingresses/controller_test.go
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/context.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/controller/test/BUILD.bazel
  pkg/controller/test/context_builder.go
  test/e2e/framework/BUILD.bazel
  test/e2e/framework/framework.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
Labels: approved, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#4205 Add kubectl 'cert-manager check api' command
  cmd/ctl/BUILD.bazel
  cmd/ctl/cmd/BUILD.bazel
  cmd/ctl/cmd/cmd.go
  cmd/ctl/main.go
  cmd/ctl/pkg/check/BUILD.bazel
  cmd/ctl/pkg/check/api/BUILD.bazel
  cmd/ctl/pkg/check/api/api.go
  cmd/ctl/pkg/check/check.go
  devel/addon/certmanager/install.sh
  pkg/util/BUILD.bazel
  pkg/util/cmapichecker/BUILD.bazel
  pkg/util/cmapichecker/cmapichecker.go
  pkg/util/cmapichecker/cmapichecker_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XL

#4232 CA Basic Constraint checks in e2e tests
  Makefile
  hack/update-codegen.sh
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/framework/helper/validation/certificates/certificates.go
  test/e2e/framework/helper/validation/validation.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/external/external.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#4236 Fix how last published release version is calculated for upgrade tests
  hack/build/version.sh
  hack/verify-upgrade.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4237 Fix check for self-signed certs in EncodeX509Chain
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/parse_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4218 Use 'kubectl cert-manager check api' in verify-upgrade.sh
  hack/verify-upgrade.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/M

#4240 Adds an option to build k8s 1.22 kind cluster
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
  devel/addon/sample-external-issuer/install.sh
  devel/addon/samplewebhook/chart/templates/apiservice.yaml
  devel/cluster/create-kind.sh
  devel/lib/lib.sh
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4229 Fire event when CertificateSigningRequest hasn't been Approved yet
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/controller/certificatesigningrequests/controller_test.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned_test.go
  pkg/controller/certificatesigningrequests/sync.go
  pkg/controller/certificatesigningrequests/vault/vault_test.go
  pkg/controller/certificatesigningrequests/venafi/venafi_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, release-note, size/S

#4184 Add basic tests to kubectl cert-manager x install
  cmd/ctl/pkg/install/install.go
  test/integration/ctl/BUILD.bazel
  test/integration/ctl/ctl_install.go
  test/integration/ctl/install_framework/BUILD.bazel
  test/integration/ctl/install_framework/framework.go
Labels: approved, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/L

#4233 Memory leak: fix the scheduler's goroutine leakage
  pkg/controller/acmeorders/controller.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/scheduler/BUILD.bazel
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, area/acme, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4231 Data race: fix concurrent read and write of secret annotations and certificaterequests
  pkg/controller/certificaterequests/approver/sync.go
  pkg/controller/certificates/internal/secretsmanager/secret.go
Labels: approved, area/acme, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#4239 Resolve test flakes "the object has been modified"
  test/e2e/framework/helper/certificates.go
  test/e2e/suite/serving/cainjector.go
  test/e2e/util/util.go
Labels: approved, area/testing, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/M

#3646 DESIGN: certificates.k8s.io Adoption
  design/20210209.certificates.k8s.io-adoption.md
Labels: approved, dco-signoff: yes, kind/design, lgtm, release-note-none, size/L

#4251 Allows to configure which annotations get copied from Certificate
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  pkg/controller/BUILD.bazel
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificatesigningrequests/acme/acme.go
  pkg/controller/context.go
  pkg/controller/util.go
  pkg/controller/util_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#4260 Enabling serviceLabels for webhook service.
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/XS

#4225 Feature: Support both v1 and v1beta1 ingresses.
  BUILD.bazel
  cmd/controller/app/controller.go
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/certificate-shim/BUILD.bazel
  pkg/controller/certificate-shim/ingresses/BUILD.bazel
  pkg/controller/certificate-shim/ingresses/controller.go
  pkg/controller/certificate-shim/ingresses/controller_test.go
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/context.go
  pkg/controller/test/BUILD.bazel
  pkg/controller/test/context_builder.go
  pkg/internal/BUILD.bazel
  pkg/internal/apis/certmanager/validation/plugins/BUILD.bazel
  pkg/internal/apis/certmanager/validation/plugins/approval_test.go
  pkg/internal/ingress/BUILD.bazel
  pkg/internal/ingress/convert.go
  pkg/internal/ingress/ingress.go
  pkg/internal/ingress/ingress_test.go
  pkg/internal/ingress/v1.go
  pkg/internal/ingress/v1beta1.go
  pkg/issuer/acme/http/BUILD.bazel
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
  pkg/issuer/acme/http/util_test.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
  test/unit/discovery/BUILD.bazel
  test/unit/discovery/discovery.go
Labels: approved, area/acme, area/acme/http01, area/ingress-shim, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#4243 Cleanup goroutine management
  cmd/acmesolver/app/app.go
  cmd/cainjector/app/start.go
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
  cmd/controller/app/start.go
  cmd/controller/main.go
  pkg/controller/controller.go
  pkg/metrics/metrics.go
  pkg/webhook/authority/authority.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
  pkg/webhook/server/tls/dynamic_source.go
  test/integration/certificates/metrics_controller_test.go
Labels: approved, area/acme, area/monitoring, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/XL

#4261 CA chain fix without root
  pkg/internal/vault/vault_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, priority/important-soon, release-note, size/M

#4267 Move exported cmd util func to package where it is used
  cmd/ctl/BUILD.bazel
  cmd/ctl/pkg/create/certificaterequest/BUILD.bazel
  cmd/ctl/pkg/create/certificaterequest/certificaterequest.go
  cmd/ctl/pkg/util/BUILD.bazel
  cmd/ctl/pkg/util/util.go
Labels: approved, area/ctl, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#4279 [release-1.3] Cherry-pick memory leak fixes into 1.3
  pkg/scheduler/BUILD.bazel
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4271 Revert the `Forget` call that was happening on every Certificates and Orders sync
  pkg/controller/acmeorders/controller.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/scheduler/scheduler.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4278 [release-1.4] Cherry-pick memory leak fixes into 1.4
  pkg/scheduler/BUILD.bazel
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#4252 Change admissionregistration.k8s.io v1beta1 to v1 in integration tests
  test/integration/conversion/conversion_test.go
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4282 Updates the kind cluster for v1.22 to v1.22.0-rc.0
  devel/cluster/create-kind.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4253 Conversion: Apiextensions v1beta1 -> v1
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  devel/addon/samplewebhook/sample/BUILD.bazel
  devel/addon/samplewebhook/sample/main.go
  pkg/acme/webhook/apis/acme/v1alpha1/BUILD.bazel
  pkg/acme/webhook/apis/acme/v1alpha1/types.go
  pkg/acme/webhook/apis/acme/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/acme/v1/BUILD.bazel
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha2/BUILD.bazel
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/BUILD.bazel
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/acme/v1beta1/BUILD.bazel
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/apis/acme/v1beta1/zz_generated.deepcopy.go
  pkg/internal/apis/acme/BUILD.bazel
  pkg/internal/apis/acme/fuzzer/BUILD.bazel
  pkg/internal/apis/acme/fuzzer/fuzzer.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1/BUILD.bazel
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/BUILD.bazel
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/BUILD.bazel
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/BUILD.bazel
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/issuer/acme/dns/BUILD.bazel
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/rfc2136/BUILD.bazel
  pkg/issuer/acme/dns/rfc2136/provider.go
  pkg/issuer/acme/dns/webhook/BUILD.bazel
  pkg/issuer/acme/dns/webhook/webhook.go
  pkg/webhook/handlers/BUILD.bazel
  pkg/webhook/handlers/conversion.go
  pkg/webhook/handlers/conversion_test.go
  pkg/webhook/handlers/interfaces.go
  pkg/webhook/server/BUILD.bazel
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
  test/acme/dns/BUILD.bazel
  test/acme/dns/fixture.go
  test/acme/dns/options.go
  test/e2e/suite/issuers/acme/certificate/BUILD.bazel
  test/e2e/suite/issuers/acme/certificate/webhook.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/L

#4283 Bump base image versions
  build/images.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS
