Repository cert-manager/cert-manager, pull requests merged in 2021-12, with the labels that each got.

#4637 Change Certificates controller to no longer error for a Certificate that no longer exists
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller.go
  pkg/controller/certificates/trigger/trigger_controller.go
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#4639 Removes v1beta1 from webhook's admissionReviewVersions as we no longer support Kubernetes v1.16
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/deploy

#4640 Adds `clock_time_seconds_gauge` metric which returns the current clock time, based on unix time since time began
  pkg/metrics/BUILD.bazel
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  test/integration/certificates/metrics_controller_test.go
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing, area/monitoring

#4608 allow to honor the labels of cert-manager on conflicts
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#4665 add jahrlin to OWNERS
  OWNERS
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4636 Refactor the webhook testing code so that alternative CRDs and conversion handlers can be loaded in tests
  cmd/webhook/app/testing/BUILD.bazel
  cmd/webhook/app/testing/testwebhook.go
  cmd/webhook/app/webhook.go
  hack/update-crds.sh
  internal/apis/config/webhook/types.go
  pkg/webhook/handlers/testdata/apis/testgroup/BUILD.bazel
  pkg/webhook/handlers/testdata/apis/testgroup/crds/BUILD.bazel
  pkg/webhook/handlers/testdata/apis/testgroup/crds/README.md
  pkg/webhook/handlers/testdata/apis/testgroup/crds/testgroup.testing.cert-manager.io_testtypes.yaml
  pkg/webhook/handlers/testdata/apis/testgroup/v2/types.go
  test/integration/conversion/BUILD.bazel
  test/integration/conversion/conversion_test.go
  test/integration/framework/BUILD.bazel
  test/integration/framework/apiserver.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, area/deploy

#4635 Remove deprecated APIs from the CRD templates
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
Labels: release-note, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/deploy

#4554 Makefile flow
  .dockerignore
  .gitignore
  deploy/charts/cert-manager/signkey_annotation.txt
  deploy/manifests/namespace.yaml
  hack/artifact-metadata.template.json
  hack/concat-yaml.sh
  hack/containers/Containerfile.acmesolver
  hack/containers/Containerfile.cainjector
  hack/containers/Containerfile.controller
  hack/containers/Containerfile.ctl
  hack/containers/Containerfile.webhook
  hack/latest-base-images.sh
  hack/util/checkhash.sh
  hack/util/hash.sh
  make/Makefile
  make/base_images.mk
  make/cmctl.mk
  make/containers.mk
  make/git.mk
  make/licenses.mk
  make/manifests.mk
  make/release_containers.mk
  make/server.mk
  make/tools.mk
Labels: release-note, approved, lgtm, kind/feature, size/XXL, dco-signoff: yes, area/deploy

#4669 Update runc dependency to 1.0.3
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test

#4656 Minor clean-up to helm chart
  deploy/charts/cert-manager/.helmignore
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4674 Add a specific link to the LICENSES file in the repo
  make/licenses.mk
Labels: release-note-none, approved, lgtm, kind/feature, dco-signoff: yes

#4677 Mark Venafi TPP [Cluster]Issuer tests with 'Venafi TPP'
  test/e2e/suite/conformance/certificates/venafi/venafi.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4680 make: Don't write tools if hash doesn't match
  make/tools.mk
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#4689 Uses upstream kind image for creating Kubernetes 1.23 cluster
  devel/cluster/create-kind.sh
  devel/cluster/kind_cluster_node_versions.sh
  devel/lib/lib.sh
  hack/latest-kind-images.sh
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes
