Repository cert-manager/cert-manager, pull requests merged in 2021-11, with the labels that each got.

#4581 Bumps timeout to wait for cm api in upgrade test
  hack/verify-upgrade.sh
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4579 Fix some lint issues regarding comments
  cmd/ctl/pkg/check/check.go
  internal/apis/certmanager/types_issuer.go
  pkg/apis/acme/v1/types.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/controller/certificaterequests/ca/ca.go
  pkg/logs/logs.go
  pkg/metrics/metrics.go
  test/e2e/framework/testenv.go
  test/e2e/suite/conformance/certificates/tests.go
Labels: release-note-none, approved, lgtm, area/api, kind/cleanup, size/M, dco-signoff: yes, area/testing, ok-to-test, area/monitoring

#4582 add comments to satisfy linter
  internal/apis/certmanager/types_issuer.go
  internal/vault/fake/vault.go
  pkg/api/util/names.go
  pkg/controller/certificaterequests/fake/fake.go
  pkg/issuer/acme/dns/akamai/akamai.go
  pkg/issuer/acme/dns/akamai/akamai_test.go
  pkg/issuer/ca/setup.go
  pkg/issuer/helper.go
  pkg/issuer/vault/setup.go
  pkg/metrics/metrics.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, area/acme, area/ca, area/vault, dco-signoff: yes, ok-to-test, area/acme/dns01, area/monitoring

#4588 Bump base images to latest versions
  build/images.bzl
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4590 [release-1.5] Bump base images to latest versions
  build/images.bzl
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved

#3883 No need to specify namespaceSelector when in same namespace
  deploy/charts/cert-manager/templates/servicemonitor.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4586 Remove old draft release notes
  design/release-notes/release-0.1/draft-release-notes.md
  design/release-notes/release-0.10/draft-release-notes.md
  design/release-notes/release-0.11/draft-release-notes.md
  design/release-notes/release-0.2/draft-release-notes.md
  design/release-notes/release-0.3/draft-release-notes.md
  design/release-notes/release-0.4/draft-release-notes.md
  design/release-notes/release-0.5/draft-release-notes.md
  design/release-notes/release-0.6/draft-release-notes.md
  design/release-notes/release-0.7/draft-release-notes.md
  design/release-notes/release-0.8/draft-release-notes.md
  design/release-notes/release-0.9/draft-release-notes.md
Labels: release-note-none, approved, lgtm, kind/cleanup, kind/design, size/XXL, dco-signoff: yes

#4592 Fix kyverno images for CI
  devel/addon/kyverno/install.sh
  test/e2e/images.bzl
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4574 Add a script + flow for getting latest kind images
  Makefile
  devel/cluster/create-kind.sh
  devel/cluster/kind_cluster_node_versions.sh
  devel/lib/lib.sh
  hack/latest-kind-images.sh
Labels: size/L, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#4593 Bump kind versions + add comments about a footgun
  Makefile
  devel/addon/haproxy/install.sh
  devel/ci-cluster.sh
  devel/cluster/kind_cluster_node_versions.sh
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#4556 Cleanup helm templates & fix empty 'resources' in deployment
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/cainjector-psp.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/templates/startupapicheck-job.yaml
  deploy/charts/cert-manager/templates/startupapicheck-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/startupapicheck-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/startupapicheck-psp.yaml
  deploy/charts/cert-manager/templates/startupapicheck-rbac.yaml
  deploy/charts/cert-manager/templates/startupapicheck-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-psp.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  devel/addon/samplewebhook/chart/templates/deployment.yaml
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4607 Update supported k8s versions in chart README
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/deploy

#4611 Add an option to create a kube 1.23 cluster
  devel/cluster/create-kind.sh
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4616 Don't make extra ACME calls for Order CRs that have failed
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
Labels: release-note, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes

#4617 Update helm, opencontainers, containerd.
  go.mod
  go.sum
  hack/build/repos.bzl
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#4623 Installs v1 ingress-nginx for e2e tests against kube 1.23
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
  test/e2e/images.bzl
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#4615 Only consider running pods when determining version
  pkg/util/versionchecker/fromservice.go
  pkg/util/versionchecker/getpodfromtemplate_test.go
Labels: size/XS, release-note, approved, lgtm, kind/feature, dco-signoff: yes, ok-to-test, area/ctl
