Repository cert-manager/cert-manager, pull requests merged in 2021-05, with the labels that each got.

#3970 Add @munnerz to SECURITY_CONTACTS.md
  SECURITY_CONTACTS.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, priority/important-soon, release-note, size/XS

#3962 Static Analysis fixes
  pkg/acme/client/interfaces.go
  pkg/acme/webhook/apis/acme/v1alpha1/register.go
  pkg/api/util/duration.go
  pkg/controller/acmeorders/checks.go
  pkg/controller/acmeorders/selectors/selector.go
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/util/reporter.go
  pkg/controller/certificates/internal/secretsmanager/secret.go
  pkg/controller/certificates/metrics/controller.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller_test.go
  pkg/controller/certificates/util.go
  pkg/controller/helper.go
  pkg/controller/register.go
  pkg/controller/test/util.go
  pkg/internal/api/mutation/registry_test.go
  pkg/internal/apis/acme/validation/order.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/internal/vault/fake/vault.go
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
  pkg/util/coverage/coverage.go
  pkg/util/pki/csr_test.go
  pkg/webhook/server/tls/BUILD.bazel
  pkg/webhook/server/tls/file_source_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3960 Fix some linting errors
  pkg/controller/acmechallenges/scheduler/BUILD.bazel
  pkg/controller/acmechallenges/scheduler/scheduler_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  pkg/controller/controller.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/sync_test.go
  pkg/internal/api/mutation/registry.go
  pkg/internal/apis/certmanager/validation/certificaterequest_test.go
  pkg/issuer/acme/dns/akamai/akamai.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/rfc2136/BUILD.bazel
  pkg/issuer/acme/dns/rfc2136/rfc2136_test.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/venafi/client/venaficlient_test.go
  pkg/webhook/server/tls/file_source.go
Labels: approved, area/acme, area/acme/dns01, area/acme/http01, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3989 Controller-gen can now update CRDs like before
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#3997 Temporarily revert "Re-enable the Venafi TPP E2E tests"
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/issuers/venafi/tpp/doc.go
Labels: approved, area/testing, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/XS

#3982 Change Vault Issuer to construct the certificate chain to populate the CertificateRequest CA with the root most cert.
  pkg/internal/vault/vault.go
  pkg/internal/vault/vault_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#4000 Re-enable e2e tests that connect to Venafi TPP.
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/issuers/venafi/tpp/doc.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4015 Change default devel K8S_VERSION to 1.20
  devel/lib/lib.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XS

#3926 Update to k8s 1.21.0 tool chain
  LICENSES
  cmd/cainjector/app/start.go
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
  hack/filter-crd/BUILD.bazel
  hack/filter-crd/main.go
  hack/update-codegen.sh
  pkg/acme/webhook/apiserver/apiserver.go
  pkg/controller/cainjector/BUILD.bazel
  pkg/controller/cainjector/controller.go
  pkg/controller/cainjector/indexers.go
  pkg/controller/cainjector/injectors.go
  pkg/controller/cainjector/setup.go
  pkg/controller/cainjector/sources.go
  pkg/internal/apis/acme/v1/BUILD.bazel
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/BUILD.bazel
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/BUILD.bazel
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/BUILD.bazel
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1/BUILD.bazel
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/BUILD.bazel
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/BUILD.bazel
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/BUILD.bazel
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  test/e2e/suite/serving/BUILD.bazel
  test/e2e/suite/serving/cainjector.go
  test/integration/conversion/BUILD.bazel
  test/integration/conversion/conversion_test.go
  test/integration/framework/apiserver.go
  test/integration/framework/helpers.go
  test/unit/coreclients/BUILD.bazel
  test/unit/coreclients/secrets.go
Labels: approved, area/acme, area/deploy, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XXL

#4016 Use ConfigmapsLeases Multilock for controller's leader election
  cmd/controller/app/BUILD.bazel
  cmd/controller/app/controller.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/M

#4029 Update to kind 0.11.0/K8s 1.21
  devel/cluster/config/v1beta2.yaml
  devel/cluster/create-kind.sh
  devel/lib/lib.sh
  hack/bin/deps.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#4018 Use gomodules.xyz/jsonpatch instead of mattbaird/jsonpatch
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/internal/api/mutation/BUILD.bazel
  pkg/internal/api/mutation/registry.go
  pkg/webhook/handlers/BUILD.bazel
  pkg/webhook/handlers/mutation_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#3860 Deprecate UsageContentCommittment and improve public comments
  pkg/api/util/usages.go
  pkg/apis/certmanager/v1/types.go
  pkg/apis/certmanager/v1alpha2/types.go
  pkg/apis/certmanager/v1alpha3/types.go
  pkg/apis/certmanager/v1beta1/types.go
  pkg/controller/ingress-shim/sync_test.go
  pkg/internal/apis/certmanager/types.go
Labels: approved, area/api, dco-signoff: yes, help wanted, kind/cleanup, lgtm, ok-to-test, release-note, size/L

#4038 Update old references to replaced/obsolete email addresses
  CODE_OF_CONDUCT.md
  deploy/charts/cert-manager/Chart.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, priority/important-soon, release-note-none, size/XS

#4039 Update distroless/static base images to latest version
  build/images.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, priority/important-soon, release-note, size/XS

#4034 e2e Vault intermediate CA optionally configured with root
  test/e2e/framework/addon/vault/setup.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/approle_custom_mount.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4040 Handle cert renewal correctly
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/readiness/readiness_controller_test.go
  pkg/controller/certificates/trigger/policies/policies.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, priority/important-soon, release-note, size/L

#4007 Update Aka issuer to use v2 API
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/issuer/acme/dns/akamai/BUILD.bazel
  pkg/issuer/acme/dns/akamai/akamai.go
  pkg/issuer/acme/dns/akamai/akamai_test.go
  pkg/issuer/acme/dns/akamai/edgegridauth.go
  pkg/issuer/acme/dns/akamai/edgegridauth_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XXL

#4046 Upgrade ingress-nginx Helm Chart and Docker image
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#4043 Issue #4042: Support make clean target
  Makefile
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#4009 add service labels to helm chart
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/XS

#4021 Deprecates old APIs
  pkg/internal/apis/acme/validation/BUILD.bazel
  pkg/internal/apis/acme/validation/challenge.go
  pkg/internal/apis/acme/validation/challenge_test.go
  pkg/internal/apis/acme/validation/deprecation.go
  pkg/internal/apis/acme/validation/order.go
  pkg/internal/apis/acme/validation/order_test.go
  pkg/internal/apis/certmanager/validation/BUILD.bazel
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/apis/certmanager/validation/certificaterequest.go
  pkg/internal/apis/certmanager/validation/certificaterequest_test.go
  pkg/internal/apis/certmanager/validation/clusterissuer.go
  pkg/internal/apis/certmanager/validation/clusterissuer_test.go
  pkg/internal/apis/certmanager/validation/deprecation.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XXL

#4036 Enable runAsNonRoot by default
  deploy/charts/cert-manager/values.yaml
  devel/BUILD.bazel
  devel/addon/bind/manifests/deployment.yaml
  devel/addon/kyverno/BUILD.bazel
  devel/addon/kyverno/install.sh
  devel/addon/kyverno/kustomization.yaml
  devel/addon/kyverno/policy.yaml
  devel/addon/pebble/BUILD.bazel
  devel/addon/pebble/chart/templates/deployment.yaml
  devel/addon/samplewebhook/chart/templates/deployment.yaml
  devel/addon/samplewebhook/sample/BUILD.bazel
  devel/setup-e2e-deps.sh
  pkg/issuer/acme/http/BUILD.bazel
  pkg/issuer/acme/http/pod.go
Labels: approved, area/acme, area/acme/http01, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XL

#4060 Updates duration and renewBefore field descriptions
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/cleanup, kind/documentation, lgtm, release-note-none, size/L

#4049 Add ArtifcactHUB pre-release annotation to the Helm chart
  build/helm.bzl
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/Chart.template.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#4065 Revert "Add ArtifcactHUB pre-release annotation to the Helm chart"
  build/helm.bzl
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/Chart.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/M

#4067 Add ArtifactHUB pre-release annotations to the Helm chart
  deploy/charts/cert-manager/BUILD.bazel
  deploy/charts/cert-manager/Chart.template.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/S
