Repository cert-manager/cert-manager, pull requests merged in 2021-03, with the labels that each got.

#3722 Add Irbe and Mael to the OWNERS list
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, size/XS

#3699 Add unit tests around the new ocspServers field
  pkg/controller/certificaterequests/ca/BUILD.bazel
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/ca/ca_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#3707 Fix expired certificate test in kubectl plugin
  cmd/ctl/pkg/inspect/secret/secret_test.go
  cmd/ctl/pkg/inspect/secret/util_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/M

#3710 Fix build on go1.16
  pkg/util/coverage/faketestdeps.go
Labels: approved, dco-signoff: yes, kind/flake, lgtm, ok-to-test, release-note-none, size/XS

#3652 use port from helm value for service targetPort
  deploy/charts/cert-manager/templates/service.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#3692 unit tests for readiness controller
  pkg/controller/certificates/internal/test/test.go
  pkg/controller/certificates/issuing/temporary.go
  pkg/controller/certificates/readiness/BUILD.bazel
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/readiness/readiness_controller_test.go
  pkg/controller/certificates/trigger/policies/BUILD.bazel
  pkg/controller/certificates/trigger/policies/constants.go
  pkg/controller/certificates/trigger/policies/policies.go
  pkg/controller/certificates/trigger/policies/policies_test.go
  pkg/controller/certificates/util.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XL

#3697 fix: correct permissions on edit aggregate role
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#3725 Add automountServiceAccountToken field to ca service accounts
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-serviceaccount.yaml
  deploy/charts/cert-manager/templates/serviceaccount.yaml
  deploy/charts/cert-manager/templates/webhook-serviceaccount.yaml
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note, size/S

#3731 Spelling
  deploy/charts/cert-manager/README.template.md
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  design/20200326.extensible-certificate-controller.md
  hack/verify-codegen.sh
  pkg/acme/accounts/client.go
  pkg/acme/client/http.go
  pkg/acme/util/util_test.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/certmanager/v1beta1/types_issuer.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/acmeorders/util.go
  pkg/controller/certificates/internal/secretsmanager/secret.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller_test.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/issuers/controller.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/issuer/acme/dns/util_test.go
  pkg/metrics/metrics.go
  pkg/util/pki/csr_test.go
Labels: approved, area/acme, area/acme/dns01, area/api, area/deploy, area/monitoring, dco-signoff: yes, kind/design, lgtm, ok-to-test, release-note-none, size/M

#3744 Match CONTRIBUTING language to existing copyright notices
  CONTRIBUTING.md
  devel/addon/certmanager/install.sh
  devel/addon/pebble/install.sh
  devel/addon/samplewebhook/install.sh
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#3613 Certificate condition observed generation
  cmd/ctl/pkg/renew/renew.go
  deploy/crds/crd-certificates.yaml
  pkg/api/util/conditions.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/validate.go
  test/e2e/framework/helper/validations/BUILD.bazel
  test/e2e/framework/helper/validations/certificates.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/ctl/ctl_status_certificate_test.go
  test/unit/gen/certificate.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3752 Skip Google Cloud DNS test when gcloud isn't initialized
  pkg/issuer/acme/dns/clouddns/clouddns_test.go
Labels: approved, area/acme, area/acme/dns01, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#3753 Adds sgtcodfish to root OWNERS
  OWNERS
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#3475 DataForCertificate: add unit tests
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificates/trigger/policies/BUILD.bazel
  pkg/controller/certificates/trigger/policies/gatherer.go
  pkg/controller/certificates/trigger/policies/gatherer_test.go
  pkg/controller/certificates/trigger/policies/policies.go
  pkg/controller/test/context_builder.go
  pkg/logs/testing/log_testing.go
  test/unit/gen/certificate.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#3763 Change vault auth misconfiguration to have more descriptive error messages
  pkg/issuer/vault/setup.go
Labels: approved, area/vault, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#3454 fix bug with hostNetwork false in webhook psp
  deploy/charts/cert-manager/templates/webhook-psp.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#3665 Fix multiple Certificate Requests issue
  pkg/controller/certificates/trigger/policies/BUILD.bazel
  pkg/controller/certificates/trigger/policies/policies.go
  pkg/controller/certificates/trigger/policies/policies_test.go
  pkg/controller/certificates/trigger/trigger_controller.go
  test/integration/certificates/trigger_controller_test.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#3765 fix(makefile): updated the docker_repo env var
  Makefile
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#3754 Issuer observed generation
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/api/util/conditions.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/certmanager/v1beta1/types_issuer.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  pkg/issuer/acme/setup.go
  pkg/issuer/ca/setup.go
  pkg/issuer/selfsigned/setup.go
  pkg/issuer/vault/setup.go
  pkg/issuer/venafi/setup.go
Labels: approved, area/acme, area/api, area/ca, area/deploy, area/vault, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3770 tests: allow setting DNSName and ChallengeKey for webhook integration tests
  test/acme/dns/fixture.go
  test/acme/dns/options.go
  test/acme/dns/util.go
Labels: approved, area/testing, dco-signoff: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/M

#3630 DESIGN: CertificateRequest UserInfo fields
  design/20210203.certificate-request-identity.md
Labels: approved, area/acme, area/ca, area/vault, area/venafi, dco-signoff: yes, kind/design, lgtm, priority/important-soon, release-note-none, size/L

#3774 Add Requestor to kubectl output, moves Issuer name from wide to default outpt
  deploy/crds/crd-certificaterequests.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/S

#3771 feat: added images_push target in Makefile
  Makefile
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/S

#3735 Certificate request approved condition
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  deploy/crds/crd-certificaterequests.yaml
  pkg/api/util/conditions.go
  pkg/apis/certmanager/v1/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha2/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha3/types_certificaterequest.go
  pkg/apis/certmanager/v1beta1/types_certificaterequest.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/approver/BUILD.bazel
  pkg/controller/certificaterequests/approver/approver.go
  pkg/controller/certificaterequests/approver/approver_test.go
  pkg/controller/certificaterequests/approver/sync.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/vault/vault_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/internal/apis/certmanager/types_certificaterequest.go
  pkg/internal/apis/certmanager/validation/certificaterequest.go
  pkg/internal/apis/certmanager/validation/certificaterequest_test.go
  test/e2e/framework/helper/certificaterequests.go
  test/unit/gen/certificaterequest.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#3781 test/e2e/suite/conformance/certificates: fix dropped error
  test/e2e/suite/conformance/certificates/tests.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#3789 Standardise the name of controllers so there is consistency across the project
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
  pkg/controller/certificates/metrics/controller.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificates/trigger/trigger_controller.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#3733 Clarify the default values for the renewBefore and duration fields
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#3741 fix bump distroless/static
  build/images.bzl
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/XS

#3793 Don't log from multiple controllers when a CertificateRequest is deleted
  pkg/controller/certificaterequests/controller.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#3786 Certificate Readiness controller only updates certificate's status if there is a change
  pkg/controller/certificates/readiness/BUILD.bazel
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/readiness/readiness_controller_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/S

#3788 Refactor trigger-controller unit tests
  pkg/controller/certificates/trigger/BUILD.bazel
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  test/integration/certificates/trigger_controller_test.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XL

#3792 Adds kubectl cert-manager [approve|deny] CLI commands
  cmd/ctl/BUILD.bazel
  cmd/ctl/cmd/BUILD.bazel
  cmd/ctl/cmd/cmd.go
  cmd/ctl/pkg/approve/BUILD.bazel
  cmd/ctl/pkg/approve/approve.go
  cmd/ctl/pkg/approve/approve_test.go
  cmd/ctl/pkg/deny/BUILD.bazel
  cmd/ctl/pkg/deny/deny.go
  cmd/ctl/pkg/deny/deny_test.go
Labels: approved, dco-signoff: yes, kind/feature, lgtm, release-note, size/XL

#3773 Certificate revision history limit
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
  pkg/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/certificates/BUILD.bazel
  pkg/controller/certificates/revisionmanager/BUILD.bazel
  pkg/controller/certificates/revisionmanager/revisionmanager_controller.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller_test.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/validation/certificate.go
  pkg/internal/apis/certmanager/validation/certificate_test.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  test/integration/certificates/BUILD.bazel
  test/integration/certificates/revisionmanager_controller_test.go
  test/unit/gen/certificate.go
  test/unit/gen/certificaterequest.go
Labels: approved, area/api, area/deploy, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#3791 Enables disabling enabled cert-manager-controller controllers
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  cmd/controller/app/options/options_test.go
  deploy/charts/cert-manager/values.yaml
Labels: approved, area/deploy, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3760 selfsigned: warn when certs are issued with empty issuer DNs
  pkg/controller/certificaterequests/selfsigned/BUILD.bazel
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/ingress-shim/sync.go
  pkg/util/pki/csr.go
  pkg/util/pki/generate.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#3582 Vault health check and namespace fix
  pkg/internal/vault/fake/vault.go
  pkg/internal/vault/vault.go
  pkg/internal/vault/vault_test.go
  pkg/issuer/vault/setup.go
Labels: approved, area/vault, dco-signoff: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#3811 Replace reflect.DeepEqual with semantic equality check
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/sync.go
  pkg/controller/clusterissuers/BUILD.bazel
  pkg/controller/clusterissuers/sync.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/sync.go
Labels: approved, area/acme, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/M

#3816 Bump versions of Gazelle, go_rules, Kazel, protobuf
  WORKSPACE
  hack/build/repos.bzl
  hack/update-bazel.sh
  hack/update-deps.sh
  hack/verify-bazel.sh
  pkg/internal/api/mutation/BUILD.bazel
  pkg/internal/api/validation/BUILD.bazel
  test/e2e/BUILD.bazel
  test/e2e/images.bzl
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XXL
