Repository cert-manager/cert-manager, pull requests merged in 2021-09, with the labels that each got.

#4338 Ginkgo skip/focus can be optionally passed in from CI
  devel/run-e2e.sh
  test/e2e/e2e_test.go
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#4416 Fix typo in error message
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#4364 Add startup api check job PSP
  deploy/charts/cert-manager/templates/startupapicheck-psp-clusterrole.yaml
  deploy/charts/cert-manager/templates/startupapicheck-psp-clusterrolebinding.yaml
  deploy/charts/cert-manager/templates/startupapicheck-psp.yaml
  deploy/charts/cert-manager/values.yaml
  hack/verify-chart-version.sh
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes, ok-to-test, area/deploy

#4332 Add option to specify managed identity id when using azure dns
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha2/types_issuer.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/types_issuer.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/acme/v1beta1/types_issuer.go
  pkg/apis/acme/v1beta1/zz_generated.deepcopy.go
  pkg/internal/apis/acme/types_issuer.go
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/issuer/acme/dns/azuredns/BUILD.bazel
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/util_test.go
Labels: release-note, size/XL, approved, lgtm, area/api, kind/feature, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01, area/deploy

#4429 Adds the ACME client middleware when create an ACME account
  pkg/acme/accounts/BUILD.bazel
  pkg/acme/accounts/client.go
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/monitoring

#4400 Update and verify scripts can be run from darwin-arm64
  devel/addon/ingressnginx/install.sh
  devel/lib/lib.sh
  hack/BUILD.bazel
  hack/bin/BUILD.bazel
  hack/bin/deps.bzl
  hack/update-deps-licenses.sh
  hack/update-deps.sh
  hack/verify-deps-licenses.sh
  hack/verify-staticcheck.sh
  hack/verify-upgrade.sh
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4433 Cleanup hook resources from previous failed installs
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#4428 Issue 4189 keystore upgrade
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/controller/certificates/internal/secretsmanager/BUILD.bazel
  pkg/controller/certificates/internal/secretsmanager/keystore.go
  pkg/controller/certificates/internal/secretsmanager/keystore_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#4430 Replace GetChallenge call with GetAuthorization call in ACME challenge controller
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
Labels: release-note, approved, lgtm, kind/bug, size/M, area/acme, dco-signoff: yes

#4462 Add help entry for build and release_tars in Makefile
  Makefile
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test

#4474 Update base images + update instructions for checking
  build/images.bzl
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#4456 Vault internal client should check health conn err before checking response status
  pkg/internal/vault/vault.go
Labels: release-note, approved, lgtm, size/S, kind/bug, area/vault, dco-signoff: yes

#4465 Clouldflare: Show API error messages (e.g., invalid access token)
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
  pkg/issuer/acme/dns/cloudflare/cloudflare_test.go
Labels: release-note, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#4419 Add Certificate RenewBefore prometheus metrics
  cmd/ctl/pkg/status/certificate/certificate_test.go
  pkg/metrics/acme.go
  pkg/metrics/certificates.go
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  test/integration/certificates/metrics_controller_test.go
  test/unit/gen/certificate.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test, area/monitoring

#4478 bumps Go version to 1.17, updates deps and kube libraries
  WORKSPACE
  cmd/util/signal_posix.go
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
  devel/addon/kyverno/BUILD.bazel
  devel/addon/kyverno/install.sh
  devel/lib/lib.sh
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/bin/tools.go
  hack/build/repos.bzl
  hack/update-codegen.sh
  hack/utils.sh
  hack/verify_boilerplate.py
  pkg/acme/webhook/apis/acme/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/acme/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/acme/v1beta1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  pkg/apis/meta/v1/zz_generated.deepcopy.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/internal/apis/acme/v1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1/zz_generated.defaults.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha2/zz_generated.defaults.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/acme/v1alpha3/zz_generated.defaults.go
  pkg/internal/apis/acme/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/acme/v1beta1/zz_generated.defaults.go
  pkg/internal/apis/acme/zz_generated.deepcopy.go
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1/zz_generated.defaults.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.defaults.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.defaults.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.defaults.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/internal/apis/meta/v1/zz_generated.conversion.go
  pkg/internal/apis/meta/v1/zz_generated.defaults.go
  pkg/internal/apis/meta/zz_generated.deepcopy.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.conversion.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.deepcopy.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.conversion.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.deepcopy.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/zz_generated.deepcopy.go
  test/e2e/images.bzl
  test/integration/framework/apiserver.go
  workspace.bzl
Labels: release-note, size/XL, approved, lgtm, area/api, kind/cleanup, area/acme, dco-signoff: yes, area/testing
