Repository cert-manager/cert-manager, pull requests merged in 2021-02, with the labels that each got.

#3623 Skips invalid Ingress tls entries instead of invalidating the Ingress
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#3538 Fix comments for docs on types_certificate.go
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1/types_certificaterequest.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificaterequest.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
  pkg/apis/certmanager/v1beta1/types_certificaterequest.go
  pkg/apis/certmanager/v1beta1/types_issuer.go
  pkg/internal/apis/certmanager/types_certificate.go
  pkg/internal/apis/certmanager/types_certificaterequest.go
  pkg/internal/apis/certmanager/types_issuer.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#3628 Fix duplication of the CRD definitions in cert-manager.yaml
  deploy/charts/cert-manager/templates/BUILD.bazel
Labels: approved, area/deploy, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/S

#3545 Allow ingress-shim to specify key usages + add server-auth to default
  pkg/apis/certmanager/v1/types.go
  pkg/controller/ingress-shim/BUILD.bazel
  pkg/controller/ingress-shim/helper.go
  pkg/controller/ingress-shim/helper_test.go
  pkg/controller/ingress-shim/sync.go
  pkg/controller/ingress-shim/sync_test.go
Labels: approved, area/api, area/testing, dco-signoff: yes, kind/feature, lgtm, release-note, size/L

#3505 Add option to specify OCSP server #3497
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha2/types_issuer.go
  pkg/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1alpha3/types_issuer.go
  pkg/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1beta1/types_issuer.go
  pkg/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/certificaterequests/ca/ca.go
  pkg/internal/apis/certmanager/types_issuer.go
  pkg/internal/apis/certmanager/v1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  pkg/internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  pkg/internal/apis/certmanager/validation/BUILD.bazel
  pkg/internal/apis/certmanager/validation/issuer.go
  pkg/internal/apis/certmanager/validation/issuer_test.go
  pkg/internal/apis/certmanager/zz_generated.deepcopy.go
Labels: approved, area/api, area/ca, area/deploy, dco-signoff: yes, kind/feature, lgtm, ok-to-test, priority/important-soon, release-note, size/L

#3647 Fix Helm chart type conversion bug
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
Labels: approved, area/api, area/deploy, dco-signoff: yes, kind/bug, lgtm, release-note, size/M

#3662 [release-1.1] Add Kubernetes 1.20 to the kind setup script
  devel/cluster/create-kind.sh
  hack/verify-codegen.sh
Labels: approved, cherry-pick-approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#3669 [release-1.1] Fix Helm chart type conversion bug
  deploy/crds/crd-certificates.v1beta1.yaml
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1alpha2/types_certificate.go
  pkg/apis/certmanager/v1alpha3/types_certificate.go
  pkg/apis/certmanager/v1beta1/types_certificate.go
Labels: approved, area/api, area/deploy, cherry-pick-approved, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/M

#3679 Label all the Venafi TPP tests so that they can be run in a separate, non-merge-blocking, prow job
  test/e2e/e2e_test.go
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/issuers/venafi/tpp/doc.go
Labels: approved, area/testing, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#3693 Removes the deprecated renew-before-expiry flag
  cmd/controller/app/controller.go
  cmd/controller/app/options/BUILD.bazel
  cmd/controller/app/options/options.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/context.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S

#3700 pkg/controller/certificaterequests/acme: fix dropped test error
  pkg/controller/certificaterequests/acme/acme_test.go
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS
