Repository cert-manager/cert-manager, pull requests merged in 2022-06, with the labels that each got.

#5152 Bump Go to 1.18
  WORKSPACE
  cmd/util/signal_posix.go
  go.mod
  go.sum
  hack/build/BUILD.bazel
  make/tools.mk
  pkg/issuer/acme/dns/clouddns/BUILD.bazel
  pkg/issuer/acme/dns/clouddns/clouddns.go
  pkg/issuer/acme/dns/clouddns/clouddns_test.go
  pkg/webhook/handlers/BUILD.bazel
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#5181 Fix `release-artifacts` target
  .gitignore
  make/manifests.mk
  make/release.mk
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#5184 Fix etcd flags
  make/config/kind/config_etcd_no_fsync.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, kind/design, area/acme, dco-signoff: yes, area/acme/dns01, area/deploy

#5191 Cleanup (removes unused addons and code for kube 1.18 and 1.19 )
  devel/addon/bind/manifests/configmap.yaml
  devel/addon/ingressnginx/BUILD.bazel
  devel/addon/ingressnginx/install.sh
  devel/cluster/kind_cluster_node_versions.sh
  devel/run-e2e.sh
  hack/latest-kind-images.sh
  make/config/bind/configmap.yaml
  make/config/haproxy/manifests.yaml
  make/config/traefik/gateway.yaml
  make/config/traefik/traefik-values.yaml
  make/e2e-setup.mk
  make/kind_images.sh
  test/e2e/images.bzl
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#5002 Add ability to provide literal subject to Certificate
  LICENSES
  deploy/crds/crd-certificates.yaml
  devel/addon/certmanager/install.sh
  devel/run-e2e.sh
  go.mod
  go.sum
  hack/build/repos.bzl
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_certificate.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/types_certificate.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/types_certificate.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  make/e2e-setup.mk
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/util.go
  pkg/util/pki/BUILD.bazel
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/kube_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_test.go
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/external/external.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
Labels: release-note, size/XL, approved, lgtm, area/api, kind/feature, dco-signoff: yes, area/testing, ok-to-test, area/deploy

#5200 Goimports improvement / rclone tool install
  hack/verify-goimports.sh
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/feature, size/M, dco-signoff: yes

#5190 Bump kind, use upstream 1.24 image
  devel/cluster/kind_cluster_node_versions.sh
  devel/lib/lib.sh
  hack/bin/deps.bzl
  hack/latest-kind-images.sh
  make/cluster.sh
  make/e2e-setup.mk
  make/kind_images.sh
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#5202 Reverts additional check for whether Prometheus APIs exist before creating ServiceMonitor
  deploy/charts/cert-manager/templates/servicemonitor.yaml
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, area/deploy

#5203 Bump patch version of Go
  WORKSPACE
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved

#5205 Add target for publishing a release to GCS using rclone
  make/release.mk
Labels: release-note, approved, lgtm, size/S, kind/feature, dco-signoff: yes

#5209 release-1.8: rclone
  make/release.mk
  make/tools.mk
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, cherry-pick-approved

#5219 fix(cmctl): typo in 'x install --help' text
  cmd/ctl/pkg/install/install.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test

#5222 Bumps base images
  build/images.bzl
  make/base_images.mk
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#5221 Add revision history limit Ingress annotation to set field on the Cer…
  pkg/apis/certmanager/v1/types.go
  pkg/controller/certificate-shim/BUILD.bazel
  pkg/controller/certificate-shim/helper.go
  pkg/controller/certificate-shim/helper_test.go
  pkg/controller/certificate-shim/sync_test.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/tests.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/M, dco-signoff: yes, area/testing, ok-to-test

#5187 Clean up kind config
  devel/cluster/config/kind.yaml
  devel/cluster/config/v1beta2.yaml
  devel/cluster/create-kind.sh
  devel/lib/lib.sh
  make/cluster.sh
  make/config/kind/cluster.yaml
  make/config/kind/config.yaml
  make/config/kind/config_etcd_no_fsync.yaml
  make/config/lib.sh
  make/e2e-setup.mk
  make/e2e.sh
  test/fixtures/kind/config-v1alpha2.yaml
  test/fixtures/kind/config-v1alpha3.yaml
  test/fixtures/kind/config-v1beta2.yaml
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#5224 Fix secrets informer race condition on CertificateRequests controllers
  pkg/controller/certificaterequests/BUILD.bazel
  pkg/controller/certificaterequests/controller.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, ok-to-test

#5214 Timeouts proposal
  design/20220614-timeouts.md
Labels: size/L, release-note-none, approved, lgtm, kind/design, dco-signoff: yes

#5130 Change name of `bin` dir to `_bin` and make it configurable
  Makefile
  hack/build/.kazelcfg.json
  hack/update-bazel.sh
  hack/verify-goimports.sh
  internal/test/paths/paths.go
  make/README.md
  make/ci.mk
  make/cluster.sh
  make/cmctl.mk
  make/containers.mk
  make/e2e-setup.mk
  make/e2e.sh
  make/git.mk
  make/licenses.mk
  make/manifests.mk
  make/release.mk
  make/server.mk
  make/test.mk
  make/tools.mk
  make/util.mk
Labels: release-note, size/XL, approved, lgtm, kind/feature, dco-signoff: yes

#5232 [release-1.7] ACME Timeout Increases
  .gitignore
  pkg/acme/accounts/client.go
  pkg/acme/client/middleware/logger.go
  pkg/controller/BUILD.bazel
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/clusterissuers/BUILD.bazel
  pkg/controller/clusterissuers/sync.go
  pkg/controller/globals/BUILD.bazel
  pkg/controller/globals/timeout.go
  pkg/controller/issuers/BUILD.bazel
  pkg/controller/issuers/sync.go
Labels: size/L, release-note, approved, lgtm, area/acme, dco-signoff: yes, cherry-pick-approved, needs-kind

#5235 [release-1.8] Base image version bumps
  .gitignore
  build/images.bzl
  make/base_images.mk
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, cherry-pick-approved

#5243 Implement license verification in make
  LICENSES
  hack/BUILD.bazel
  hack/update-deps-licenses.sh
  hack/verify-deps-licenses.sh
  make/ci.mk
  make/licenses.mk
  make/tools.mk
Labels: release-note, approved, lgtm, kind/feature, size/XXL, dco-signoff: yes

#5245 Don't require python to be installed for everything
  make/ci.mk
  make/e2e-setup.mk
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#5247 Increase Venafi issuer timeout on retrieving certificate
  pkg/issuer/venafi/client/request.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, ok-to-test

#5196 Corrects the --dns01-check-retry-period flag description
  cmd/controller/app/options/options.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5199 Fix keyrotation warning
  pkg/controller/certificates/keymanager/keymanager_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller_test.go
  pkg/controller/certificates/util.go
  pkg/controller/certificates/util_test.go
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes
