Repository cert-manager/cert-manager, pull requests merged in 2022-11, with the labels that each got.

#5478 Migrate Vault helm chart in e2e tests from ad-hoc version to official chart from hashicorp
  test/e2e/charts/vault/Chart.yaml
  test/e2e/charts/vault/templates/_helpers.tpl
  test/e2e/charts/vault/templates/vault-config.yaml
  test/e2e/charts/vault/templates/vault-deployment.yaml
  test/e2e/charts/vault/templates/vault-secret.yaml
  test/e2e/charts/vault/templates/vault-service.yaml
  test/e2e/charts/vault/values.yaml
  test/e2e/framework/addon/chart/addon.go
  test/e2e/framework/addon/vault/vault.go
Labels: size/L, release-note-none, approved, lgtm, dco-signoff: yes, area/testing, ok-to-test, needs-kind

#5556 Bump base / kind images
  hack/latest-base-images.sh
  make/base_images.mk
  make/kind_images.sh
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#5559 Bump to latest go minor version to fix vulns
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#5560 [release-1.10] Bump to latest go minor version to fix vulns
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, dco-signoff: yes, cherry-pick-approved

#5561 [release-1.9] Bump to latest go minor version to fix vulns
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, cherry-pick-approved

#5562 Fix x/text vuln and ignore AWS vuln
  .trivyignore
  LICENSES
  go.mod
  go.sum
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#5555 feat: add commonLabels on webhook configmap
  deploy/charts/cert-manager/templates/webhook-config.yaml
Labels: size/XS, do-not-merge/release-note-label-needed, approved, lgtm, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#5568 Use RenegotiateOnceAsClient in the Venafi Issuer client and explain why
  pkg/issuer/venafi/client/venaficlient.go
Labels: size/L, release-note, approved, lgtm, dco-signoff: yes, needs-kind

#5552 Fixing CA flag in basic constraints extension
  internal/controller/feature/features.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/keyusage.go
Labels: size/L, release-note, approved, lgtm, kind/bug, priority/important-soon, dco-signoff: yes, ok-to-test

#5571 Improve gen.CSR and use it in all tests
  internal/vault/vault_test.go
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/vault/vault_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned_test.go
  pkg/issuer/venafi/client/request_test.go
  test/e2e/suite/issuers/selfsigned/fixtures.go
  test/integration/ctl/ctl_status_certificate_test.go
  test/unit/gen/csr.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#5546 Adding support to elevate acme-solver pod to root during testing
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  pkg/controller/context.go
  pkg/issuer/acme/http/pod.go
Labels: do-not-merge/release-note-label-needed, approved, lgtm, size/S, area/acme, dco-signoff: yes, ok-to-test, area/acme/http01, needs-kind

#5584 fix: featureGates add webhook deployment in chart yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, ok-to-test, area/deploy

#5591 Set the Vault namespace using vault SDK client methods instead of using raw request object
  internal/vault/fake/client.go
  internal/vault/fake/vault.go
  internal/vault/vault.go
  internal/vault/vault_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#5587 Add support for required LDAP (rfc4514) RDNs in LiteralSubject
  internal/apis/certmanager/validation/certificate_test.go
  make/e2e.sh
  pkg/util/pki/parse.go
  test/e2e/suite/certificates/literalsubjectrdns.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test

#5605 Use distinct manifest dirs for signed / unsigned manifests
  make/manifests.mk
Labels: release-note-none, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#5570 feat(AzureDNS): Add support for Workload Identity
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
Labels: size/L, release-note, approved, lgtm, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01, needs-kind
