Repository cert-manager/cert-manager, pull requests merged in 2022-05, with the labels that each got.

#5092 Revert "Use Apply instead of Update to modify resources in tests"
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  internal/controller/certificaterequests/apply.go
  internal/controller/certificates/apply.go
  internal/controller/challenges/apply.go
  pkg/controller/certificate-shim/sync.go
  test/e2e/suite/approval/BUILD.bazel
  test/e2e/suite/approval/approval.go
  test/e2e/suite/approval/userinfo.go
  test/e2e/suite/certificates/BUILD.bazel
  test/e2e/suite/certificates/additionaloutputformats.go
  test/e2e/suite/certificates/secrettemplate.go
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/serving/BUILD.bazel
  test/e2e/suite/serving/cainjector.go
  test/integration/acme/BUILD.bazel
  test/integration/acme/orders_controller_test.go
  test/integration/certificates/BUILD.bazel
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/revisionmanager_controller_test.go
  test/integration/certificates/trigger_controller_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4307 Add minimum Kubernetes version constraint to chart
  deploy/charts/cert-manager/Chart.template.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#5095 Various README improvements for clarity and brevity
  README.md
  logo/README.md
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#5081 Challenge cleanup improvements
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
  test/unit/gen/challenge.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/testing

#5099 Delete mask
  logo/logo.svg
Labels: size/XS, do-not-merge/release-note-label-needed, approved, lgtm, needs-ok-to-test, dco-signoff: yes, needs-kind

#5104 Fix for kube 1.24 tests
  devel/addon/projectcontour/contour-gateway.yaml
  devel/addon/projectcontour/gateway-resources.yaml
  devel/addon/projectcontour/install.sh
  devel/ci-cluster.sh
  devel/cluster/create-kind.sh
  devel/cluster/kind_cluster_node_versions.sh
  devel/lib/lib.sh
  devel/run-e2e.sh
  hack/bin/deps.bzl
  hack/latest-kind-images.sh
  make/cluster.sh
  make/config/projectcontour/contour-gateway.yaml
  make/e2e-setup.mk
  make/e2e.sh
  make/tools.mk
  test/e2e/suite/approval/approval.go
  test/e2e/suite/approval/userinfo.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing, area/monitoring, area/deploy

#5109 Remove leftover cainjector annotations from our CRDs
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/deploy

#5113 Improve various verification scripts
  hack/verify-chart-version.sh
  hack/verify-errexit.sh
  hack/verify-goimports.sh
  hack/verify_boilerplate.py
  make/ci.mk
Labels: release-note-none, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#5116 Bump contour
  devel/addon/projectcontour/contour-gateway.yaml
  make/config/projectcontour/contour-gateway.yaml
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes

#5117 Backport Kube 1.24 test infra config to 1.8
  devel/addon/projectcontour/contour-gateway.yaml
  devel/addon/projectcontour/gateway-resources.yaml
  devel/addon/projectcontour/install.sh
  devel/ci-cluster.sh
  devel/cluster/create-kind.sh
  devel/cluster/kind_cluster_node_versions.sh
  devel/lib/lib.sh
  devel/run-e2e.sh
  hack/bin/deps.bzl
  make/cluster.sh
  make/config/projectcontour/contour-gateway.yaml
  make/e2e-setup.mk
  make/e2e.sh
  make/tools.mk
  test/e2e/suite/approval/approval.go
  test/e2e/suite/approval/userinfo.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, cherry-pick-approved

#5121 Refactor the update and updateStatus to a single deferred function
  pkg/controller/acmechallenges/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/finalizer.go
  pkg/controller/acmechallenges/finalizer_test.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
  pkg/controller/acmechallenges/update.go
  pkg/controller/acmechallenges/update_test.go
  pkg/controller/test/context_builder.go
  test/unit/gen/challenge.go
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#5133 Ensure that Venafi client for CSRs gets initialized with metrics
  pkg/controller/certificatesigningrequests/venafi/venafi.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5140 update base images
  build/images.bzl
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#5136 Set the startupapicheck nodeSelector to linux
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, ok-to-test, area/deploy

#5142 Improve logging output for webhook cert renewal
  pkg/webhook/server/tls/dynamic_source.go
Labels: size/XS, release-note, approved, lgtm, dco-signoff: yes, ok-to-test, needs-kind

#5165 Add URL for cert-manager website to chart + update logo URL
  README.md
  deploy/charts/cert-manager/Chart.template.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/deploy

#5155 Adds design template
  design/template.md
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, kind/design, dco-signoff: yes
