Repository cert-manager/cert-manager, pull requests merged in 2022-03, with the labels that each got.

#4905 Remove hardcoded cert from cmctl inspect secret unit tests
  cmd/ctl/pkg/inspect/secret/BUILD.bazel
  cmd/ctl/pkg/inspect/secret/secret_test.go
  cmd/ctl/pkg/inspect/secret/util_test.go
  test/unit/gen/certificate.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4791 Update the sig-network Gateway API support to v1alpha2
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  devel/addon/gatewayapi/install.sh
  devel/addon/projectcontour/contour-gateway.yaml
  devel/addon/projectcontour/install.sh
  devel/setup-e2e-deps.sh
  go.mod
  go.sum
  hack/build/repos.bzl
  internal/apis/acme/BUILD.bazel
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/BUILD.bazel
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/BUILD.bazel
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha2/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/zz_generated.deepcopy.go
  internal/apis/acme/v1alpha3/BUILD.bazel
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1alpha3/zz_generated.conversion.go
  internal/apis/acme/v1alpha3/zz_generated.deepcopy.go
  internal/apis/acme/v1beta1/BUILD.bazel
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/acme/v1beta1/zz_generated.conversion.go
  internal/apis/acme/v1beta1/zz_generated.deepcopy.go
  internal/apis/acme/zz_generated.deepcopy.go
  pkg/apis/acme/v1/BUILD.bazel
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/controller/BUILD.bazel
  pkg/controller/acmechallenges/controller.go
  pkg/controller/certificate-shim/BUILD.bazel
  pkg/controller/certificate-shim/gateways/BUILD.bazel
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/certificate-shim/gateways/controller_test.go
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/context.go
  pkg/controller/test/BUILD.bazel
  pkg/controller/test/context_builder.go
  pkg/issuer/acme/http/BUILD.bazel
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/httproute.go
  test/e2e/framework/BUILD.bazel
  test/e2e/framework/framework.go
  test/e2e/suite/conformance/certificates/acme/BUILD.bazel
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/XXL, area/acme, dco-signoff: yes, area/testing, area/acme/http01, area/deploy

#4911 e2e for issuers and cluster issuers ready state
  test/e2e/framework/helper/certificates.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/ca/ca.go
  test/e2e/suite/conformance/certificates/selfsigned/selfsigned.go
  test/e2e/suite/conformance/certificates/vault/vault_approle.go
  test/e2e/suite/conformance/certificates/venafi/venafi.go
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
  test/e2e/suite/conformance/certificatesigningrequests/acme/dns01.go
  test/e2e/suite/conformance/certificatesigningrequests/acme/http01.go
  test/e2e/suite/conformance/certificatesigningrequests/ca/ca.go
  test/e2e/suite/conformance/certificatesigningrequests/selfsigned/selfsigned.go
  test/e2e/suite/conformance/certificatesigningrequests/vault/approle.go
  test/e2e/suite/conformance/certificatesigningrequests/vault/kubernetes.go
  test/e2e/suite/conformance/certificatesigningrequests/venafi/cloud.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, ok-to-test

#4933 Simplify the CONTRIBUTING.md document
  CONTRIBUTING.md
Labels: release-note-none, approved, lgtm, size/M, dco-signoff: yes, needs-kind

#4935 Switch leader election to use Lease objects
  cmd/cainjector/app/BUILD.bazel
  cmd/cainjector/app/start.go
  cmd/controller/app/controller.go
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4934 Readme: link to the contributing guide instead of giving the information straight in the README
  README.md
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing, area/deploy

#4913 add validation for certificate.spec.privateKey.rotationPolicy
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
  test/integration/validation/BUILD.bazel
  test/integration/validation/certificate_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/bug, dco-signoff: yes, area/testing, area/deploy

#4789 Allow whitelist-source-range ingress annotation to be overridden
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
Labels: release-note, approved, lgtm, size/M, area/acme, dco-signoff: yes, ok-to-test, area/acme/http01, needs-kind

#4929 fix e2e test errors for Gateway tests
  devel/BUILD.bazel
  devel/addon/haproxy/BUILD.bazel
  devel/addon/haproxy/install.sh
  devel/addon/traefik/BUILD.bazel
  devel/addon/traefik/install.sh
  test/e2e/framework/BUILD.bazel
  test/e2e/framework/framework.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/util/BUILD.bazel
  test/e2e/util/util.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4924 Retry on conflict for the end-to-end test "added an additional dnsName"
  test/e2e/suite/conformance/certificates/BUILD.bazel
  test/e2e/suite/conformance/certificates/tests.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing

#4925 Retry on conflict for the end-to-end test "CA Injector for api services should update data when the certificate changes"
  test/e2e/suite/serving/BUILD.bazel
  test/e2e/suite/serving/cainjector.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing

#4914 Make: move the end-to-end tests from Bazel to Make with the new commands "make e2e-setup" and "make e2e"
  BUILD.bazel
  Makefile
  devel/addon/vault/BUILD.bazel
  devel/addon/vault/install.sh
  internal/test/paths/paths.go
  make/Makefile
  make/README.md
  make/ci.mk
  make/cluster.sh
  make/cmctl.mk
  make/config/bind/configmap.yaml
  make/config/bind/deployment.yaml
  make/config/bind/service.yaml
  make/config/haproxy/manifests.yaml
  make/config/kind/kind_cluster_node_versions.env
  make/config/kind/v1beta2.yaml
  make/config/kyverno/kustomization.yaml
  make/config/kyverno/policy.yaml
  make/config/lib.sh
  make/config/pebble/Containerfile.pebble
  make/config/pebble/chart/.helmignore
  make/config/pebble/chart/Chart.yaml
  make/config/pebble/chart/templates/_helpers.tpl
  make/config/pebble/chart/templates/configmap.yaml
  make/config/pebble/chart/templates/deployment.yaml
  make/config/pebble/chart/templates/service.yaml
  make/config/pebble/chart/values.yaml
  make/config/projectcontour/contour-gateway.yaml
  make/config/projectcontour/gateway.yaml
  make/config/samplewebhook/Containerfile.samplewebhook
  make/config/samplewebhook/chart/.helmignore
  make/config/samplewebhook/chart/Chart.yaml
  make/config/samplewebhook/chart/templates/NOTES.txt
  make/config/samplewebhook/chart/templates/_helpers.tpl
  make/config/samplewebhook/chart/templates/apiservice.yaml
  make/config/samplewebhook/chart/templates/deployment.yaml
  make/config/samplewebhook/chart/templates/pki.yaml
  make/config/samplewebhook/chart/templates/rbac.yaml
  make/config/samplewebhook/chart/templates/service.yaml
  make/config/samplewebhook/chart/values.yaml
  make/config/samplewebhook/sample/main.go
  make/config/traefik/gateway.yaml
  make/config/traefik/traefik-values.yaml
  make/containers.mk
  make/e2e-setup.mk
  make/e2e.sh
  make/help.mk
  make/manifests.mk
  make/release.mk
  make/server.mk
  make/test.mk
  make/tools.mk
  test/e2e/charts/vault/values.yaml
  test/e2e/e2e.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/suite.go
  test/e2e/suite/issuers/acme/certificate/http01.go
Labels: release-note-none, approved, lgtm, area/api, kind/cleanup, size/XXL, area/acme, area/ca, area/vault, dco-signoff: yes, area/testing, area/acme/dns01, area/acme/http01, area/monitoring, area/deploy

#4942 Bumps dependencies
  LICENSES
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/issuer/acme/dns/rfc2136/rfc2136.go
Labels: release-note-none, approved, lgtm, area/api, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/acme/dns01, area/deploy

#4961 Tweak release targets
  make/manifests.mk
  make/release.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#4937 Make aggregation to user-facing ClusterRoles optional
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#4955 Add permissions to update certificates/status to allow namespace admins to renew manually a Certificate
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#4957 Use Kubernetes CSR spec.expirationSeconds to express cert duration
  cmd/ctl/pkg/create/certificatesigningrequest/certificatesigningrequest.go
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned_test.go
  pkg/util/pki/kube.go
  pkg/util/pki/kube_test.go
  test/e2e/framework/helper/validation/certificatesigningrequests/certificatesigningrequests.go
  test/e2e/suite/conformance/certificatesigningrequests/BUILD.bazel
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/unit/gen/certificatesigningrequest.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test

#4772 Exponential backoff for retrying failed certificate issuances
  LICENSES
  deploy/crds/crd-certificates.yaml
  go.mod
  go.sum
  hack/build/repos.bzl
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_certificate.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  internal/apis/certmanager/v1alpha3/types_certificate.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  internal/apis/certmanager/v1beta1/types_certificate.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  internal/apis/certmanager/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/controller/certificates/issuing/BUILD.bazel
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/controller/certificates/trigger/BUILD.bazel
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  pkg/controller/certificates/util.go
  test/integration/certificates/BUILD.bazel
  test/integration/certificates/trigger_controller_test.go
  test/unit/gen/certificate.go
Labels: release-note, size/XL, approved, lgtm, area/api, kind/cleanup, dco-signoff: yes, area/testing, area/deploy

#4971 Add a build source indicator to metadata
  make/release.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/feature, dco-signoff: yes

#4758 Design Server Side Apply
  design/20220118.server-side-apply.md
Labels: size/L, release-note-none, approved, lgtm, kind/design, dco-signoff: yes

#4953 update: Setting allowPrivilegeEscalation to false
  deploy/charts/cert-manager/values.yaml
  pkg/issuer/acme/http/pod.go
Labels: release-note, approved, lgtm, size/S, area/acme, dco-signoff: yes, ok-to-test, area/acme/http01, area/deploy, needs-kind

#4958 Use our own implementation of miekg/dns.TsigProvider interface
  go.mod
  go.sum
  hack/build/repos.bzl
  pkg/issuer/acme/dns/rfc2136/BUILD.bazel
  pkg/issuer/acme/dns/rfc2136/rfc2136.go
  pkg/issuer/acme/dns/rfc2136/tsig.go
  pkg/issuer/acme/dns/rfc2136/tsig_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#4974 Use client-go scheme with core types added as event recorder scheme
  pkg/controller/BUILD.bazel
  pkg/controller/certificatesigningrequests/BUILD.bazel
  pkg/controller/certificatesigningrequests/sync_test.go
  pkg/controller/context.go
Labels: size/L, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#4977 [release-1.6] Remove hardcoded cert from cmctl inspect secret unit tests
  cmd/ctl/pkg/inspect/secret/BUILD.bazel
  cmd/ctl/pkg/inspect/secret/secret_test.go
  cmd/ctl/pkg/inspect/secret/util_test.go
  devel/cluster/create-kind.sh
  test/unit/gen/certificate.go
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes, area/testing, cherry-pick-approved

#4962 Route53 challenges: upsert records instead of create
  pkg/issuer/acme/dns/route53/route53.go
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#4988 make: in CI, copy binaries from "bin/downloaded" to "bin/tools"
  Makefile
  make/cmctl.mk
  make/manifests.mk
  make/release.mk
  make/tools.mk
Labels: size/L, release-note-none, approved, lgtm, dco-signoff: yes

#4985 Bump base images to latest versions
  build/images.bzl
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#4973 Enforce minimum value of experimental.cert-manager.io/request-duration to 600s
  pkg/apis/experimental/v1alpha1/types.go
  pkg/client/listers/acme/v1/BUILD.bazel
  pkg/client/listers/certmanager/v1/BUILD.bazel
  pkg/controller/certificatesigningrequests/BUILD.bazel
  pkg/controller/certificatesigningrequests/acme/acme.go
  pkg/controller/certificatesigningrequests/acme/acme_test.go
  pkg/controller/certificatesigningrequests/sync.go
  pkg/controller/certificatesigningrequests/sync_test.go
  pkg/controller/certificatesigningrequests/vault/vault.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes

#4799 Server Side Apply: Adds support for Order controllers to use SSA with Feature Gate
  deploy/charts/cert-manager/templates/rbac.yaml
  internal/BUILD.bazel
  internal/controller/orders/BUILD.bazel
  internal/controller/orders/OWNERS
  internal/controller/orders/apply.go
  internal/controller/orders/apply_test.go
  pkg/controller/acmeorders/BUILD.bazel
  pkg/controller/acmeorders/controller.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificatesigningrequests/acme/acme.go
  test/integration/acme/orders_controller_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, area/acme, dco-signoff: yes, area/testing, area/acme/dns01, area/acme/http01, area/deploy

#4811 Server Side Apply: Adds support for certificate-shim controllers to use SSA with Feature Gate
  internal/controller/certificates/apply.go
  internal/controller/certificates/apply_test.go
  pkg/controller/certificate-shim/BUILD.bazel
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/certificate-shim/ingresses/controller.go
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/deploy

#4986 [release-1.6] bump base image
  build/images.bzl
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, cherry-pick-approved

#4983 Speed up the end-to-end tests (from 34 minutes down to 26 minutes) by increasing the ginkgo node count from 10 to 20
  .gitignore
  make/cluster.sh
  make/config/kind/kind_cluster_node_versions.env
  make/config/kind/v1beta2.yaml
  make/config/lib.sh
  make/e2e-setup.mk
  make/e2e.sh
  make/test.mk
  make/tools.mk
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/certificatesigningrequests.go
  test/e2e/framework/helper/pod_start.go
  test/e2e/framework/helper/secret.go
  test/e2e/framework/log/BUILD.bazel
  test/e2e/framework/log/log.go
  test/e2e/suite/certificates/additionaloutputformats.go
  test/e2e/suite/certificates/secrettemplate.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/webhook.go
  test/e2e/suite/issuers/acme/certificaterequest/http01.go
  test/e2e/suite/serving/cainjector.go
  test/e2e/util/util.go
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#4994 Use absolute path of cmrel
  make/manifests.mk
  make/tools.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#4968 make: the AppVersion and AppGitCommit weren't set
  Makefile
  make/e2e-setup.mk
Labels: release-note-none, approved, lgtm, size/S, dco-signoff: yes, area/testing, needs-kind

#4888 Post Issuance Check: Owner Ref
  internal/controller/certificates/policies/BUILD.bazel
  internal/controller/certificates/policies/checks.go
  internal/controller/certificates/policies/checks_test.go
  internal/controller/certificates/policies/constants.go
  internal/controller/certificates/policies/policies.go
  pkg/controller/certificates/issuing/BUILD.bazel
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  test/integration/certificates/BUILD.bazel
  test/integration/certificates/issuing_controller_test.go
  test/unit/crypto/BUILD.bazel
  test/unit/crypto/crypto.go
Labels: release-note, size/XL, approved, lgtm, kind/feature, dco-signoff: yes, area/testing

#4987 Add controller_requeue_count metric
  pkg/controller/controller.go
  pkg/metrics/metrics.go
Labels: release-note, approved, lgtm, size/S, dco-signoff: yes, ok-to-test, area/monitoring, needs-kind

#4757 Design for exponential backoff
  design/20220118.certificate-issuance-exponential-backoff.md
Labels: size/L, release-note-none, approved, lgtm, kind/design, dco-signoff: yes

#4967 Gateway API: with v1alpha2, the labels have become optional
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/certmanager/validation/BUILD.bazel
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  pkg/apis/acme/v1/types_issuer.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/M, dco-signoff: yes, area/deploy

#5007 Gracefully handle 404s when fetching old CRDs
  hack/fetch-old-crd.sh
  make/test.mk
Labels: release-note-none, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#5001 make: GOFLAGS missing when building cmctl and kubectl_cert-manager
  Makefile
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#5008 Fix target when building containers for release
  make/release.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#5009 Add APU to USERS.MD
  USERS.md
Labels: size/XS, release-note-none, approved, lgtm, kind/documentation, dco-signoff: yes, ok-to-test
