Repository cert-manager/cert-manager, pull requests merged in 2022-09, with the labels that each got.

#5208 Add: Kubernetes recommended labels
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/_helpers.tpl
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/S, kind/design, dco-signoff: yes, area/testing, ok-to-test, area/deploy

#5459 Add kind 1.25
  devel/cluster/create-kind.sh
  devel/cluster/kind_cluster_node_versions.sh
  hack/latest-kind-images.sh
  make/cluster.sh
  make/kind_images.sh
Labels: size/L, release-note-none, approved, lgtm, dco-signoff: yes, needs-kind

#5451 Ensure forward-compatibility with k8s.io/apiserver's Storage interface
  pkg/acme/webhook/registry/challengepayload/challenge_payload.go
Labels: size/XS, release-note-none, approved, lgtm, area/acme, dco-signoff: yes, ok-to-test, needs-kind

#5417 helm: Add NetworkPolicy support
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/networkpolicy-egress.yaml
  deploy/charts/cert-manager/templates/networkpolicy-webhooks.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/M, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#5456 Bump k8s.io dependencies
  LICENSES
  go.mod
  go.sum
  make/tools.mk
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, ok-to-test

#5445 [release-1.8] E2E test flakes: SecretTemplate
  test/e2e/suite/certificates/secrettemplate.go
Labels: size/L, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, area/testing, cherry-pick-approved

#5346 Upgrade deps
  LICENSES
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  make/tools.mk
  pkg/controller/certificates/issuing/internal/keystore.go
  pkg/controller/certificates/issuing/internal/keystore_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/crds/testgroup.testing.cert-manager.io_testtypes.yaml
Labels: release-note-none, approved, lgtm, area/api, size/XXL, area/acme, dco-signoff: yes, area/testing, area/acme/dns01, area/acme/http01, area/deploy, needs-kind

#5466 Bump Go to 1.19
  LICENSES
  go.mod
  go.sum
  make/tools.mk
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
Labels: release-note, size/XL, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test

#5468 Fixing the documentation typo
  design/20220118.server-side-apply.md
Labels: size/XS, release-note-none, approved, lgtm, kind/design, dco-signoff: yes, ok-to-test
