Repository cert-manager/cert-manager, pull requests merged in 2022-12, with the labels that each got.

#5613 Return error when Gateway has a cross-namespace secret ref
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test

#5583 feature: update gateway api to v1beta1
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha2/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/zz_generated.deepcopy.go
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1alpha3/zz_generated.conversion.go
  internal/apis/acme/v1alpha3/zz_generated.deepcopy.go
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/acme/v1beta1/zz_generated.conversion.go
  internal/apis/acme/v1beta1/zz_generated.deepcopy.go
  internal/apis/acme/zz_generated.deepcopy.go
  internal/apis/certmanager/validation/issuer_test.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/certificate-shim/gateways/controller_test.go
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/context.go
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/httproute.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/util/util.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, area/acme, dco-signoff: yes, area/testing, ok-to-test, area/acme/http01

#5595 Updates Gateway API test setup
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  make/config/projectcontour/gateway.yaml
  make/e2e-setup.mk
  make/e2e.sh
  make/tools.mk
  pkg/apis/acme/v1/types_issuer.go
  test/e2e/util/util.go
Labels: release-note-none, approved, lgtm, area/api, kind/cleanup, size/M, dco-signoff: yes, area/testing, area/deploy

#5597 Refreshing secrets if keystore format change
  deploy/crds/crd-certificates.yaml
  internal/controller/certificates/policies/checks.go
  internal/controller/certificates/policies/policies.go
  pkg/apis/certmanager/v1/types.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/issuing/internal/keystore.go
  pkg/controller/certificates/issuing/internal/secret.go
  pkg/controller/certificates/issuing/secret_manager_test.go
Labels: release-note, size/XL, approved, lgtm, area/api, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#5619 Bump go to 1.19.4
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#5618 Remove verify-licenses from ci-presubmit
  make/ci.mk
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, kind/flake

#5604 End-to-end tests: use Vault 1.12.1 instead of the outdated Vault 1.2.3
  make/e2e-setup.mk
  test/e2e/framework/addon/vault/setup.go
  test/e2e/framework/addon/vault/vault.go
  test/e2e/suite/conformance/certificatesigningrequests/vault/kubernetes.go
  test/e2e/suite/issuers/vault/issuer.go
Labels: size/L, release-note-none, approved, lgtm, dco-signoff: yes, area/testing, needs-kind

#5638 feat: Add max-concurrent-challenges parameter to helm
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#5629 Bump k8s.io deps to v0.26.0
  LICENSES
  go.mod
  go.sum
  make/tools.mk
  pkg/client/clientset/versioned/clientset.go
  pkg/client/informers/externalversions/factory.go
  test/unit/discovery/discovery.go
Labels: release-note, size/XL, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, ok-to-test

#5637 fix kubebuilder tools arm64 sha256sum
  make/tools.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test

#5646 Enable + use k8s 1.26 for e2e tests by default
  hack/latest-kind-images.sh
  make/cluster.sh
  make/e2e-setup.mk
  make/kind_images.sh
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes

#5647 [release-1.10] Enable k8s 1.26 tests, bump base images and kind images
  devel/cluster/kind_cluster_node_versions.sh
  hack/latest-kind-images.sh
  make/base_images.mk
  make/cluster.sh
  make/e2e-setup.mk
  make/kind_images.sh
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, cherry-pick-approved

#5654 Update SECURITY policy to exclude vuln reports
  SECURITY.md
Labels: release-note-none, approved, lgtm, size/S, kind/documentation, dco-signoff: yes

#5656 Bump golang.org/x/net version to fix trivy vulns
  LICENSES
  go.mod
  go.sum
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#5657 Bump contour
  make/e2e-setup.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, cherry-pick-approved

#5658 Bump version of contour helm chart + images
  make/e2e-setup.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5659 Update base images to latest
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#5655 Experimental make targets for pushing images to a Docker registry and redeploying cert-manager
  Makefile
  make/ko.mk
  make/tools.mk
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes

#5644 Add CABundle for ACME Servers
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha2/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/zz_generated.deepcopy.go
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1alpha3/zz_generated.conversion.go
  internal/apis/acme/v1alpha3/zz_generated.deepcopy.go
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/acme/v1beta1/zz_generated.conversion.go
  internal/apis/acme/v1beta1/zz_generated.deepcopy.go
  internal/apis/acme/zz_generated.deepcopy.go
  internal/apis/certmanager/types_issuer.go
  internal/apis/certmanager/v1alpha2/types_issuer.go
  internal/apis/certmanager/v1alpha3/types_issuer.go
  internal/apis/certmanager/v1beta1/types_issuer.go
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  pkg/acme/accounts/client.go
  pkg/acme/accounts/registry.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/issuer/acme/setup.go
  test/e2e/suite/issuers/vault/issuer.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, area/acme, dco-signoff: yes, area/testing, area/deploy

#5661 Bump supported versions of k8s mentioned in the helm chart
  deploy/charts/cert-manager/Chart.template.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/deploy

#5554 helm: add option to override ACME HTTP-01 solver image
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
  make/e2e-setup.mk
Labels: release-note, approved, lgtm, size/S, kind/feature, dco-signoff: yes, ok-to-test, area/deploy
