Repository cert-manager/cert-manager, pull requests merged in 2022-10, with the labels that each got.

#5461 Add issuer_{group|kind|name} labels to prom metrics
  pkg/metrics/certificates.go
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  test/integration/certificates/metrics_controller_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test, area/monitoring

#5477 Update Chart kubeVersion to >=1.20.0-0
  deploy/charts/cert-manager/Chart.template.yaml
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#5490 Updates SHAs for kubebuilder-tools
  make/tools.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5469 Increasing unit test coverage for pkg/issuer/acme/setup.go
  pkg/issuer/acme/setup_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, ok-to-test

#5495 Updates base images
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#5497 Update devel/README.md to recommend make instead
  devel/README.md
Labels: size/L, release-note-none, approved, lgtm, kind/documentation, dco-signoff: yes

#5487 Generate Certificate Request with predictable name
  internal/controller/feature/features.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificates/requestmanager/requestmanager_controller_test.go
  test/unit/gen/certificaterequest.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test

#5387 Add option to load Vault CA bundle from Kubernetes Secret
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/types_issuer.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_issuer.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  internal/apis/certmanager/v1alpha3/types_issuer.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  internal/apis/certmanager/v1beta1/types_issuer.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  internal/apis/certmanager/zz_generated.deepcopy.go
  internal/vault/vault.go
  internal/vault/vault_test.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/controller/clusterissuers/checks.go
  pkg/controller/issuers/checks.go
  test/e2e/framework/addon/vault/vault.go
  test/e2e/suite/issuers/vault/issuer.go
  test/unit/gen/issuer.go
Labels: release-note, size/XL, approved, lgtm, area/api, kind/feature, dco-signoff: yes, area/testing, ok-to-test, area/deploy

#5529 Bump base and kind images / improve update script
  devel/cluster/kind_cluster_node_versions.sh
  hack/latest-kind-images.sh
  make/base_images.mk
  make/kind_images.sh
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#5523 Remove devel folder
  devel/README.md
  devel/addon/README.md
  devel/addon/bind/install.sh
  devel/addon/bind/manifests/configmap.yaml
  devel/addon/bind/manifests/deployment.yaml
  devel/addon/bind/manifests/service.yaml
  devel/addon/certmanager/install.sh
  devel/addon/gatewayapi/install.sh
  devel/addon/ingressnginx/install.sh
  devel/addon/kyverno/install.sh
  devel/addon/kyverno/kustomization.yaml
  devel/addon/kyverno/policy.yaml
  devel/addon/pebble/chart/.helmignore
  devel/addon/pebble/chart/Chart.yaml
  devel/addon/pebble/chart/templates/_helpers.tpl
  devel/addon/pebble/chart/templates/configmap.yaml
  devel/addon/pebble/chart/templates/deployment.yaml
  devel/addon/pebble/chart/templates/service.yaml
  devel/addon/pebble/chart/values.yaml
  devel/addon/pebble/install.sh
  devel/addon/projectcontour/contour-gateway.yaml
  devel/addon/projectcontour/gateway-resources.yaml
  devel/addon/projectcontour/install.sh
  devel/addon/sample-external-issuer/install.sh
  devel/addon/samplewebhook/chart/.helmignore
  devel/addon/samplewebhook/chart/Chart.yaml
  devel/addon/samplewebhook/chart/templates/NOTES.txt
  devel/addon/samplewebhook/chart/templates/_helpers.tpl
  devel/addon/samplewebhook/chart/templates/apiservice.yaml
  devel/addon/samplewebhook/chart/templates/deployment.yaml
  devel/addon/samplewebhook/chart/templates/pki.yaml
  devel/addon/samplewebhook/chart/templates/rbac.yaml
  devel/addon/samplewebhook/chart/templates/service.yaml
  devel/addon/samplewebhook/chart/values.yaml
  devel/addon/samplewebhook/install.sh
  devel/addon/samplewebhook/sample/main.go
  devel/addon/vault/install.sh
  devel/bin/ginkgo
  devel/bin/helm
  devel/bin/kind
  devel/bin/kubectl
  devel/bin/kubectl-cert_manager
  devel/ci-cluster.sh
  devel/ci-run-e2e.sh
  devel/cluster/config/kind.yaml
  devel/cluster/config/openshift-coredns.yaml
  devel/cluster/create-kind.sh
  devel/cluster/create-openshift3.sh
  devel/cluster/create.sh
  devel/cluster/export-logs.sh
  devel/cluster/kind_cluster_node_versions.sh
  devel/lib/lib.sh
  devel/run-e2e.sh
  devel/setup-e2e-deps.sh
  make/e2e-setup.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes

#5535 Fire event on CertificateRequest when it has not been Approved yet.
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned_test.go
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificaterequests/vault/vault_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
Labels: release-note, approved, lgtm, size/S, kind/feature, dco-signoff: yes

#5441 Enable OpenSSF Scorecard Github Action and Badge
  .github/workflows/scorecards.yml
  README.md
Labels: release-note-none, approved, lgtm, needs-ok-to-test, size/M, dco-signoff: yes, needs-kind

#5544 Fix Scorecard Github Action not running
  .github/workflows/scorecards.yml
Labels: size/XS, release-note-none, approved, lgtm, needs-ok-to-test, dco-signoff: yes, needs-kind
