Repository cert-manager/cert-manager, pull requests merged in 2023-03, with the labels that each got.

#5852 Remove tools/cobra script
  LICENSES
  go.mod
  go.sum
  tools/README.md
  tools/cobra/main.go
  tools/cobra/main_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5858 Adds Tim to security contacts
  SECURITY_CONTACTS.md
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, needs-kind

#5849 Add the ingressClassName field to the Issuer and ClusterIssuer resources to support the ingressClassName from Ingress v1
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha2/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/zz_generated.deepcopy.go
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1alpha3/zz_generated.conversion.go
  internal/apis/acme/v1alpha3/zz_generated.deepcopy.go
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/acme/v1beta1/zz_generated.conversion.go
  internal/apis/acme/v1beta1/zz_generated.deepcopy.go
  internal/apis/acme/zz_generated.deepcopy.go
  internal/apis/certmanager/types_issuer.go
  internal/apis/certmanager/v1alpha2/types_issuer.go
  internal/apis/certmanager/v1alpha3/types_issuer.go
  internal/apis/certmanager/v1beta1/types_issuer.go
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, area/acme, dco-signoff: yes, area/acme/http01, area/deploy

#5768 Bump gateway-api version to 0.6.0
  make/e2e-setup.mk
  make/tools.mk
Labels: release-note, approved, lgtm, size/S, kind/feature, dco-signoff: yes, ok-to-test

#5865 Add license preludes for a variety of files
  Makefile
  hack/containers/Containerfile.acmesolver
  hack/containers/Containerfile.cainjector
  hack/containers/Containerfile.controller
  hack/containers/Containerfile.ctl
  hack/containers/Containerfile.webhook
  hack/latest-base-images.sh
  make/base_images.mk
  make/ci.mk
  make/cmctl.mk
  make/config/pebble/Containerfile.pebble
  make/config/samplewebhook/Containerfile.samplewebhook
  make/containers.mk
  make/e2e-setup.mk
  make/git.mk
  make/help.mk
  make/ko.mk
  make/legacy.mk
  make/licenses.mk
  make/manifests.mk
  make/release.mk
  make/scan.mk
  make/server.mk
  make/test.mk
  make/tools.mk
  make/util.mk
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5869 digitalocean: Pass user agent string to godo client.
  pkg/issuer/acme/dns/digitalocean/digitalocean.go
  pkg/issuer/acme/dns/digitalocean/digitalocean_test.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/util_test.go
Labels: release-note, approved, lgtm, kind/feature, size/M, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#5871 Remove obsolete bazel documentation
  deploy/manifests/README.md
Labels: release-note-none, approved, lgtm, size/S, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#5820 Bump k8s.io dependencies
  LICENSES
  go.mod
  go.sum
  make/tools.mk
  pkg/webhook/handlers/testdata/apis/testgroup/crds/testgroup.testing.cert-manager.io_testtypes.yaml
Labels: size/L, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, ok-to-test

#5887 Fixes a race condition in retrying denied/invalid issuances
  design/20190708.certificate-request-crd.md
  pkg/controller/certificaterequests/sync.go
  pkg/controller/certificaterequests/sync_test.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
Labels: size/L, release-note, approved, lgtm, kind/cleanup, kind/design, dco-signoff: yes

#5896 Error if the resource name is omitted, unless --all is also used.
  cmd/ctl/pkg/renew/renew.go
  cmd/ctl/pkg/renew/renew_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, ok-to-test

#5903 Removes leftover replace statement
  LICENSES
  go.mod
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes
