Repository cert-manager/cert-manager, pull requests merged in 2023-08, with the labels that each got.

#6119 Use logging library with json support in cmctl (part 2)
  internal/cmd/util/exit.go
  pkg/util/cmapichecker/cmapichecker.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6247 Use logging library with json support in cmctl (part 3)
  cmd/ctl/cmd/cmd.go
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/ctl/main.go
  cmd/ctl/pkg/check/api/api.go
  cmd/ctl/pkg/install/helm/applycrd.go
  cmd/ctl/pkg/install/install.go
  cmd/ctl/pkg/uninstall/uninstall.go
  test/integration/go.mod
Labels: size/L, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6255 Update nameserver lookup test to use upstream targets
  pkg/issuer/acme/dns/util/wait_test.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#6259 Fix kubebuilder shas
  make/tools.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#6242 Restructure the controller configfile
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  cmd/controller/app/options/options_test.go
  deploy/charts/cert-manager/values.yaml
  internal/apis/config/controller/fuzzer/fuzzer.go
  internal/apis/config/controller/types.go
  internal/apis/config/controller/v1alpha1/defaults.go
  internal/apis/config/controller/v1alpha1/zz_generated.conversion.go
  internal/apis/config/controller/v1alpha1/zz_generated.defaults.go
  internal/apis/config/controller/validation/validation.go
  internal/apis/config/controller/zz_generated.deepcopy.go
  pkg/apis/config/controller/v1alpha1/types.go
  pkg/apis/config/controller/v1alpha1/zz_generated.deepcopy.go
Labels: release-note, approved, lgtm, area/api, kind/cleanup, size/XXL, dco-signoff: yes, area/deploy

#6268 cleanup: some redundant code clean up
  cmd/ctl/pkg/factory/validargs.go
  internal/apis/config/controller/v1alpha1/conversion_test.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificates/issuing/internal/keystore_test.go
  pkg/issuer/acme/dns/rfc2136/tsig_test.go
  pkg/issuer/acme/dns/util/wait_test.go
  test/integration/acme/orders_controller_test.go
Labels: release-note-none, approved, lgtm, size/S, area/acme, dco-signoff: yes, area/testing, ok-to-test, area/acme/dns01, needs-kind

#6267 distinguish dns names and ip address
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test

#6272 add tests for ipv6 in ingress-shim
  pkg/controller/certificate-shim/sync_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6275 WebhookConfiguration: change the types of ports from *int to *int32
  internal/apis/config/webhook/fuzzer/fuzzer.go
  internal/apis/config/webhook/types.go
  internal/apis/config/webhook/v1alpha1/defaults.go
  internal/apis/config/webhook/v1alpha1/zz_generated.conversion.go
  internal/apis/config/webhook/validation/validation.go
  internal/apis/config/webhook/zz_generated.deepcopy.go
  internal/webhook/webhook.go
  pkg/apis/config/webhook/v1alpha1/types.go
  pkg/apis/config/webhook/v1alpha1/zz_generated.deepcopy.go
  pkg/webhook/options/options.go
  test/webhook/testwebhook.go
Labels: release-note-none, approved, lgtm, area/api, kind/cleanup, size/M, dco-signoff: yes, area/testing

#6243 Move logging options to webhook config file
  cmd/webhook/app/webhook.go
  internal/apis/config/controller/types.go
  internal/apis/config/webhook/fuzzer/fuzzer.go
  internal/apis/config/webhook/types.go
  internal/apis/config/webhook/v1alpha1/defaults.go
  internal/apis/config/webhook/v1alpha1/zz_generated.conversion.go
  internal/apis/config/webhook/zz_generated.deepcopy.go
  pkg/apis/config/webhook/v1alpha1/types.go
  pkg/apis/config/webhook/v1alpha1/zz_generated.deepcopy.go
  pkg/logs/logs.go
  pkg/webhook/options/options.go
Labels: release-note, approved, lgtm, area/api, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/testing

#6253 Fix messageAppRoleAuthKeyRequired error message
  pkg/issuer/selfsigned/selfsigned.go
  pkg/issuer/vault/setup.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, area/vault, dco-signoff: yes, ok-to-test, area/monitoring

#6159 Further clarifications and updates to the proliferation design doc
  design/20230302.gomod.md
Labels: release-note-none, approved, lgtm, kind/design, size/M, dco-signoff: yes

#6285 Annual review of the OWNERS file (2023): Maartje moved to Emeritus Maintainer
  OWNERS
Labels: size/XS, release-note-none, approved, lgtm, kind/documentation, dco-signoff: yes

#6292 Make enableServiceLinks configurable for DeploymentLikes
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/startupapicheck-job.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test, area/deploy

#6290 Only set logging settings once
  cmd/controller/app/start.go
  cmd/controller/app/start_test.go
  cmd/webhook/app/webhook.go
  cmd/webhook/app/webhook_test.go
  cmd/webhook/go.mod
  pkg/logs/logs.go
Labels: release-note-none, approved, lgtm, size/M, dco-signoff: yes, needs-kind

#6291 Remove MaxPathLen CSR blob validation logic
  pkg/util/pki/certificatetemplate.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#6293 Fix invalid handling of ip addresses in comparisons
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  pkg/util/pki/csr.go
  pkg/util/pki/match.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#6289 Add openapi definitions to acme API server
  hack/k8s-codegen.sh
  hack/openapi_reports/acme.txt
  make/ci.mk
  make/tools.mk
  pkg/acme/webhook/apis/acme/v1alpha1/doc.go
  pkg/acme/webhook/apiserver/apiserver.go
  pkg/acme/webhook/apiserver/apiserver_test.go
  pkg/acme/webhook/cmd/server/start.go
  pkg/acme/webhook/openapi/zz_generated.openapi.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes

#6297 [release-1.12] fix invalid handling of ip addresses in comparisons
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  pkg/util/pki/csr.go
  pkg/util/pki/match.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#6287 Upgrade all dependencies
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/app/start.go
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/app/start_test.go
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/app/webhook_test.go
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  hack/latest-kind-images.sh
  hack/util/checkhash.sh
  make/cluster.sh
  make/e2e-setup.mk
  make/kind_images.sh
  make/tools.mk
  pkg/acme/webhook/openapi/zz_generated.openapi.go
  pkg/client/informers/externalversions/factory.go
  pkg/util/util.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
  test/unit/discovery/discovery.go
Labels: release-note-none, approved, lgtm, size/XXL, area/acme, dco-signoff: yes, area/testing, area/deploy, needs-kind

#5879 Deprecate klog flags and add a deprecation message
  pkg/logs/logs.go
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6299 Cleanup featuregate comments
  internal/cainjector/feature/features.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6300 Rename DontAllowInsecureCSRUsageDefinition feature flag and make it a Beta flag
  internal/apis/certmanager/validation/certificaterequest.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  test/integration/validation/certificaterequest_test.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#6301 Upgrade to k8s 1.28.1 & upgrade cert-manager dependency for ctl
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6304 Replace k8s.io/utils/pointer with k8s.io/utils/ptr
  internal/apis/acme/validation/order_test.go
  internal/apis/config/webhook/v1alpha1/defaults.go
  internal/controller/certificaterequests/apply.go
  internal/controller/certificates/apply.go
  internal/controller/certificates/policies/checks.go
  internal/controller/certificates/policies/checks_test.go
  internal/controller/challenges/apply.go
  internal/controller/issuers/apply.go
  internal/controller/orders/apply.go
  internal/vault/vault.go
  pkg/controller/acmeorders/util_test.go
  pkg/controller/cainjector/reconciler.go
  pkg/controller/certificate-shim/helper.go
  pkg/controller/certificate-shim/helper_test.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/certificates/issuing/internal/secret_test.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  pkg/controller/certificates/keymanager/keymanager_controller_test.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  pkg/issuer/acme/http/httproute.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
  pkg/util/predicate/certificate_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/fuzzer/fuzzer.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/defaults.go
  test/e2e/framework/addon/vault/vault.go
  test/e2e/suite/certificates/additionaloutputformats.go
  test/e2e/suite/certificates/secrettemplate.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/integration/certificates/condition_list_type_test.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/trigger_controller_test.go
  test/integration/conversion/conversion_test.go
  test/integration/framework/apiserver.go
  test/integration/validation/certificaterequest_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing, area/acme/http01

#6298 Feature gates: promote StableCertificateRequestName and SecretsFilteredCaching to Beta
  internal/controller/feature/features.go
  pkg/controller/certificates/requestmanager/requestmanager_controller_test.go
  pkg/controller/certificates/requestmanager/util_test.go
  test/integration/certificates/generates_new_private_key_per_request_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, area/acme, dco-signoff: yes, area/testing
