Repository cert-manager/cert-manager, pull requests merged in 2024-09, with the labels that each got.

#7259 Prevent aggressive Route53 retries caused by STS authentication failures by removing the Amazon Request ID from STS errors
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: release-note, approved, lgtm, kind/bug, size/M, area/acme, dco-signoff: yes, area/acme/dns01

#7192 add fuzz test for cert requests with vault issuer
  pkg/controller/certificaterequests/vault/fuzz_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/feature, dco-signoff: yes, ok-to-test

#7250 BUGFIX: adhere to RFC 5280 - Section 4.2.1.3 and don't include empty KeyUsages extensions
  pkg/util/pki/csr.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#7271 fix SHA for bind image which changed upstream
  make/e2e-setup.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7270 Helm: Remove empty apiGroup from 'subjects.ServiceAccount' refs
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, needs-ok-to-test, dco-signoff: yes, area/deploy

#7159 changed the scorecard badge link to the standard format
  README.md
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, needs-ok-to-test, dco-signoff: yes

#7283 Add further text explaining why we use an old license year
  make/licenses.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7280 Clarify how to use the Kind section of the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS, release-note-none, approved, lgtm, kind/documentation, dco-signoff: yes

#7084 feat: Use OAuth endpoint for Venafi Issuer when user/pass provided
  pkg/issuer/venafi/client/venaficlient.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, area/deploy

#7104 6898: Add validity duration to Venafi certificates
  pkg/controller/certificaterequests/venafi/venafi.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificatesigningrequests/venafi/venafi.go
  pkg/controller/certificatesigningrequests/venafi/venafi_test.go
  pkg/issuer/venafi/client/fake/venafi.go
  pkg/issuer/venafi/client/request.go
  pkg/issuer/venafi/client/request_test.go
  pkg/issuer/venafi/client/venaficlient.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test

#7273 Support a domain qualified finalizer instead of one that triggers a warning from kubernetes
  internal/apis/config/controller/v1alpha1/defaults_test.go
  internal/apis/config/webhook/v1alpha1/defaults_test.go
  internal/cainjector/feature/features.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  pkg/apis/acme/v1/const.go
  pkg/controller/acmechallenges/finalizer.go
  pkg/controller/acmechallenges/finalizer_test.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/bug, area/acme, dco-signoff: yes

#7132 Add design for pushing charts to OCI registry
  design/20240625.push-charts-to-oci.md
Labels: size/L, release-note-none, approved, lgtm, kind/design, dco-signoff: yes

#7285 Remove issuer argument from CleanUp function
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
  pkg/controller/helper.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
  pkg/issuer/acme/dns/util_test.go
  pkg/issuer/acme/http/http.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01, area/acme/http01

#7243 Enable and fix usestdlibvars, misspell and staticcheck linters
  .golangci.yaml
  pkg/acme/webhook/registry/challengepayload/challenge_payload.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/test/context_builder.go
  pkg/issuer/acme/setup.go
  pkg/util/pki/generate_test.go
  test/e2e/suite/certificaterequests/approval/userinfo.go
  test/e2e/suite/certificates/secrettemplate.go
  test/e2e/suite/issuers/acme/certificate/webhook.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/testing

#7287 Optional AWS Route53 region
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  pkg/apis/acme/v1/types_issuer.go
  test/integration/validation/files/issuers.valid.yaml
  test/integration/validation/issuer_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/bug, dco-signoff: yes, area/testing, area/deploy

#7154 Add managed-by label to webhook CA
  pkg/server/tls/authority/authority.go
Labels: size/XS, release-note, approved, lgtm, kind/feature, dco-signoff: yes, ok-to-test

#7291 Prevent aggressive Route53 retries caused by IRSA authentication failures by removing the Amazon Request ID from errors wrapped by the default credential cache
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7292 Log AWS SDK warnings and API requests at cert-manager debug level
  pkg/issuer/acme/dns/route53/route53.go
Labels: release-note, approved, lgtm, size/S, kind/feature, area/acme, dco-signoff: yes, area/acme/dns01

#7295 Append cert-manager user-agent string to all AWS API requests
  pkg/issuer/acme/dns/route53/route53.go
Labels: release-note, approved, lgtm, size/S, kind/feature, area/acme, dco-signoff: yes, area/acme/dns01

#7296 Use context logger for Route53 operations
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/acme/dns01

#7297 go-mod-upgrade
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing

#7175 Reduce load on the Kubernetes API server and reduce the peak memory use of the cert-manager components by enabling the use of the WatchList (Streaming Lists) feature
  internal/cainjector/feature/features.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  make/config/kind/cluster.yaml
  pkg/util/feature/client_adapter.go
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#7302 Add support for Kubernetes 1.31 in kind v0.24
  make/cluster.sh
  make/e2e-setup.mk
  make/kind_images.sh
Labels: release-note-none, approved, lgtm, size/S, kind/feature, dco-signoff: yes

#7305 [release-1.15] update kind to enable testing k8s 1.31
  make/_shared/klone/01_mod.mk
  make/_shared/tools/00_mod.mk
  make/cluster.sh
  make/kind_images.sh
Labels: release-note-none, approved, lgtm, kind/feature, size/M, dco-signoff: yes

#7299 Route53 DNS01 Solver: Always fall back on the ambient region
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, area/acme, dco-signoff: yes, area/acme/dns01, area/deploy

#7308 Fix makestage OOM failures
  gcb/build_cert_manager.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes
