Repository cert-manager/cert-manager, pull requests merged in 2024-08, with the labels that each got.

#5373 Allow config of http01 solver pod security context
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha2/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/zz_generated.deepcopy.go
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1alpha3/zz_generated.conversion.go
  internal/apis/acme/v1alpha3/zz_generated.deepcopy.go
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/acme/v1beta1/zz_generated.conversion.go
  internal/apis/acme/v1beta1/zz_generated.deepcopy.go
  internal/apis/acme/zz_generated.deepcopy.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/controller/test/context_builder.go
  pkg/issuer/acme/http/pod.go
  pkg/issuer/acme/http/pod_test.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/XXL, area/acme, dco-signoff: yes, ok-to-test, area/acme/http01, area/deploy

#7224 [release-1.12] Update cmd/cmctl's go.mod to v1.12.13
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#7230 BUGFIX: fix incorrect tls server renewal time check and add unit tests
  pkg/server/tls/authority/authority.go
  pkg/server/tls/authority/authority_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#7202 error out ACME Challenges when encountering non-ACME errors
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
Labels: release-note, approved, lgtm, kind/bug, size/M, area/acme, dco-signoff: yes, ok-to-test

#7227 Improve ordering consistency of policy chain results (issuance, ready ...)
  internal/controller/certificates/policies/checks.go
  internal/controller/certificates/policies/checks_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7213 Add RBAC for the serviceaccount to create tokens
  deploy/charts/cert-manager/templates/rbac.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test, area/deploy

#7242 Fix staticcheck linter: use types.NamespacedName in workqueue
  .golangci.yaml
  pkg/acme/webhook/apiserver/apiserver.go
  pkg/acme/webhook/cmd/server/start.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmeorders/checks.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/certificate-shim/gateways/controller_test.go
  pkg/controller/certificate-shim/ingresses/controller.go
  pkg/controller/certificate-shim/ingresses/controller_test.go
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/approver/approver.go
  pkg/controller/certificaterequests/approver/approver_test.go
  pkg/controller/certificaterequests/checks.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificaterequests/selfsigned/checks.go
  pkg/controller/certificaterequests/selfsigned/checks_test.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/controller/certificates/informers.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller_test.go
  pkg/controller/certificates/metrics/controller.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/readiness/readiness_controller_test.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificates/requestmanager/requestmanager_controller_test.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller_test.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  pkg/controller/certificatesigningrequests/acme/acme.go
  pkg/controller/certificatesigningrequests/acme/acme_test.go
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/controller/certificatesigningrequests/checks.go
  pkg/controller/certificatesigningrequests/controller.go
  pkg/controller/certificatesigningrequests/controller_test.go
  pkg/controller/certificatesigningrequests/selfsigned/checks.go
  pkg/controller/certificatesigningrequests/selfsigned/checks_test.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned.go
  pkg/controller/certificatesigningrequests/selfsigned/selfsigned_test.go
  pkg/controller/certificatesigningrequests/vault/vault_test.go
  pkg/controller/certificatesigningrequests/venafi/venafi_test.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/controller.go
  pkg/controller/issuers/controller.go
  pkg/controller/util.go
  pkg/metrics/certificates.go
  pkg/metrics/certificates_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/test/fake.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/monitoring

#7238 Upgrade all go dependencies
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  pkg/metrics/certificates_test.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing, area/monitoring

#7246 [CI] Self-upgrade merging self-upgrade-master into master
  .github/workflows/make-self-upgrade.yaml
  klone.yaml
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7229 Add unit tests for tls authority logic
  pkg/server/tls/authority/authority.go
  pkg/server/tls/authority/authority_test.go
  pkg/server/tls/dynamic_source_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes
