Repository cert-manager/cert-manager, pull requests merged in 2024-10, with the labels that each got.

#7317 Allow extra environment variables to be added to cainjector, webhook and startupapicheck
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/startupapicheck-job.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/deploy

#7323 make update-base-images
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7339 BUGFIX: use correct resource namespace for Cluster Issuers
  pkg/controller/helper.go
  pkg/controller/test/context_builder.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7343 BUGFIX: Update schema validation to accept both string and integer values
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, area/deploy

#7346 [CI] Self-upgrade merging self-upgrade-master into master
  .github/workflows/govulncheck.yaml
  .github/workflows/make-self-upgrade.yaml
  deploy/charts/cert-manager/values.schema.json
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/repository-base/base-dependabot/.github/dependabot.yaml
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
  make/_shared/tools/00_mod.mk
Labels: approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/deploy

#7351 Helm chart: fix documentation for service accounts annotations
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, ok-to-test, area/deploy

#7350 Helm: add enabled to json schema
  deploy/charts/cert-manager/values.linter.exceptions
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, area/deploy

#7354 Chart docs: Add enableGatewayAPI feature gates
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/documentation, size/M, dco-signoff: yes, ok-to-test, area/deploy

#7240 Use new go 1.23 iterators
  cmd/acmesolver/go.mod
  cmd/cainjector/go.mod
  cmd/controller/go.mod
  cmd/startupapicheck/go.mod
  cmd/webhook/go.mod
  go.mod
  pkg/util/pki/parse_certificate_chain_test.go
  test/e2e/framework/addon/globals.go
  test/e2e/framework/framework.go
  test/e2e/go.mod
  test/integration/go.mod
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#7366 [CI] Self-upgrade merging self-upgrade-master into master
  .github/workflows/govulncheck.yaml
  .github/workflows/make-self-upgrade.yaml
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7367 add IPv6 example for recursive DNS arg
  cmd/controller/app/options/options.go
Labels: size/XS, release-note, approved, lgtm, kind/documentation, dco-signoff: yes

#7370 [release-1.16] add IPv6 example for recursive DNS arg
  cmd/controller/app/options/options.go
Labels: size/XS, release-note-none, approved, lgtm, kind/documentation, dco-signoff: yes

#7368 Use different hash algorithms for larger RSA keys
  pkg/controller/certificaterequests/ca/ca.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes

#7363 Remove unused test functions
  test/e2e/e2e.go
  test/e2e/framework/addon/globals.go
  test/e2e/framework/framework.go
  test/e2e/framework/helper/pod_start.go
  test/e2e/framework/testenv.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#7381 Cleanup key gen / RSA key sizes
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  pkg/acme/util/util.go
  pkg/controller/certificate-shim/helper.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/framework/addon/vault/vault.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#7376 add tenantID option to azureDNS managedIdentity
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/issuer/acme/dns/azuredns/azuredns.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/M, area/acme, dco-signoff: yes, area/testing, ok-to-test, area/acme/dns01, area/deploy
