Repository cert-manager/cert-manager, pull requests merged in 2024-07, with the labels that each got.

#7141 Tests: add bind resource request to improve availability during tests
  make/config/bind/configmap.yaml
  make/config/bind/deployment.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7142 Tests: use supported bind9 image and run as non-root
  make/config/bind/configmap.yaml
  make/config/bind/deployment.yaml
  make/config/bind/service.yaml
  make/e2e-setup.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7146 Fix API fields description for Venafi TPP credentialsRef
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/types_issuer.go
  pkg/apis/certmanager/v1/types_issuer.go
Labels: release-note-none, approved, lgtm, size/S, area/api, kind/bug, kind/documentation, needs-ok-to-test, dco-signoff: yes, area/deploy

#7148 pki match: remove return values that are always nil
  internal/controller/certificates/policies/checks.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
  pkg/util/pki/match.go
  pkg/util/pki/match_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7164 Fix GHSA-xr7q-jx4m-x55m
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, area/testing

#7167 [release-1.15] Bump go-grpc to fix GHSA-xr7q-jx4m-x55m
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, area/testing

#7161 Reduce memory usage by only caching the metadata of Secret resources
  cmd/cainjector/app/controller.go
  cmd/cainjector/go.mod
  design/20221205-memory-management.md
  pkg/controller/cainjector/indexers.go
  pkg/controller/cainjector/reconciler.go
  pkg/controller/cainjector/setup.go
  pkg/controller/cainjector/sources.go
Labels: size/L, release-note, approved, lgtm, kind/design, kind/feature, dco-signoff: yes

#7108 BUGFIX: AWS route53: Set global region for sts
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7180 Run 'make upgrade-klone' and 'make generate'
  .github/workflows/govulncheck.yaml
  .github/workflows/make-self-upgrade.yaml
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/help/help.sh
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7185 [CI] Self-upgrade merging self-upgrade-master into master
  .github/workflows/govulncheck.yaml
  .github/workflows/make-self-upgrade.yaml
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7178 fix: HTTP01 challenge HTTPRoute creation for GatewayAPI
  pkg/issuer/acme/http/http.go
  pkg/issuer/acme/http/httproute.go
  pkg/issuer/acme/http/httproute_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, needs-ok-to-test, area/acme, dco-signoff: yes, area/acme/http01

#7187 [release-1.15] Run 'make upgrade-klone' and 'make generate'
  .github/workflows/govulncheck.yaml
  .github/workflows/make-self-upgrade.yaml
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/help/help.sh
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
  make/_shared/tools/00_mod.mk
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7177 fix: Handle case of Azure returning auth error
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#7190 Fix incorrect indentation of the PodMonitor template in the Helm chart
  deploy/charts/cert-manager/templates/podmonitor.yaml
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#7191 [release-1.15] Fix incorrect value and indentation of the PodMonitor endpointAdditionalProperties
  deploy/charts/cert-manager/templates/podmonitor.yaml
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#7182 [VC-34401] Add a metrics server to the webhook
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/podmonitor.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/templates/webhook-rbac.yaml
  deploy/charts/cert-manager/templates/webhook-service.yaml
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
  internal/apis/config/webhook/fuzzer/fuzzer.go
  internal/apis/config/webhook/types.go
  internal/apis/config/webhook/v1alpha1/defaults.go
  internal/apis/config/webhook/v1alpha1/testdata/defaults.json
  internal/apis/config/webhook/v1alpha1/zz_generated.conversion.go
  internal/apis/config/webhook/v1alpha1/zz_generated.defaults.go
  internal/apis/config/webhook/zz_generated.deepcopy.go
  internal/webhook/webhook.go
  pkg/apis/config/webhook/v1alpha1/types.go
  pkg/apis/config/webhook/v1alpha1/zz_generated.deepcopy.go
  pkg/webhook/configfile/configfile.go
  pkg/webhook/options/options.go
  pkg/webhook/server/server.go
  test/integration/framework/apiserver.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, area/testing, area/deploy

#7194 [VC-34401] Add a metrics server to the cainjector
  cmd/cainjector/LICENSES
  cmd/cainjector/app/controller.go
  cmd/cainjector/app/options/options.go
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/cainjector-rbac.yaml
  deploy/charts/cert-manager/templates/cainjector-service.yaml
  deploy/charts/cert-manager/templates/podmonitor.yaml
  deploy/charts/cert-manager/templates/servicemonitor.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
  internal/apis/config/cainjector/fuzzer/fuzzer.go
  internal/apis/config/cainjector/types.go
  internal/apis/config/cainjector/v1alpha1/defaults.go
  internal/apis/config/cainjector/v1alpha1/testdata/defaults.json
  internal/apis/config/cainjector/v1alpha1/zz_generated.conversion.go
  internal/apis/config/cainjector/v1alpha1/zz_generated.defaults.go
  internal/apis/config/cainjector/zz_generated.deepcopy.go
  pkg/apis/config/cainjector/v1alpha1/types.go
  pkg/apis/config/cainjector/v1alpha1/zz_generated.deepcopy.go
  pkg/cainjector/configfile/configfile.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, area/deploy

#7199 Update the Google CloudBuild job image
  gcb/build_cert_manager.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes
