Repository cert-manager/cert-manager, pull requests merged in 2024-05, with the labels that each got.

#6979 Add note about build requirements for cert-manager
  README.md
Labels: release-note-none, approved, lgtm, size/S, kind/documentation, dco-signoff: yes

#6981 Revert removal of required feature gate gating e2e-tests
  test/e2e/suite/certificates/additionaloutputformats.go
  test/e2e/suite/issuers/ca/certificate.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6424 Helm chart: Allow the creation of extra manifests via values
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/extras-objects.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test, area/deploy

#6994 Remove deprecated ParseSubjectStringToRawDERBytes function
  pkg/util/pki/parse_test.go
  pkg/util/pki/subject.go
  pkg/util/pki/subject_test.go
Labels: size/L, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6995 Revert in-tree ParseDN function now that upstream ParseDN function has been fixed
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  pkg/util/pki/internal/dn.go
  pkg/util/pki/internal/dn_test.go
  pkg/util/pki/subject.go
  pkg/util/pki/subject_test.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6997 Move roadmap to community repo
  ROADMAP.md
Labels: release-note-none, approved, lgtm, kind/documentation, size/M, dco-signoff: yes

#7008 [release-1.14] Bump go to 1.21.10
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6878 support assumeRoleWithWebIdentity for Route53 issuer
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/v1/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/types_issuer.go
  internal/apis/acme/v1alpha2/zz_generated.conversion.go
  internal/apis/acme/v1alpha2/zz_generated.deepcopy.go
  internal/apis/acme/v1alpha3/types_issuer.go
  internal/apis/acme/v1alpha3/zz_generated.conversion.go
  internal/apis/acme/v1alpha3/zz_generated.deepcopy.go
  internal/apis/acme/v1beta1/types_issuer.go
  internal/apis/acme/v1beta1/zz_generated.conversion.go
  internal/apis/acme/v1beta1/zz_generated.deepcopy.go
  internal/apis/acme/zz_generated.deepcopy.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/zz_generated.deepcopy.go
  pkg/issuer/acme/dns/dns.go
  pkg/issuer/acme/dns/dns_test.go
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
  pkg/issuer/acme/dns/util_test.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/XXL, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01, area/deploy

#6775 LiteralSubject: Add support for numeric OID subject attribute type
  pkg/util/pki/subject.go
  pkg/util/pki/subject_test.go
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, area/testing

#7022 Fix script error: "make/e2e-ci.sh: line 27: K8S_VERSION: command not found"
  make/e2e-ci.sh
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#7025 [release-1.13] manual backport of #7022
  make/e2e-ci.sh
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#7026 [release-1.14] manual backport of #7022
  make/e2e-ci.sh
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#7013 Deduplicate shared config API structs
  cmd/controller/app/controller.go
  hack/k8s-codegen.sh
  internal/apis/config/cainjector/types.go
  internal/apis/config/cainjector/v1alpha1/defaults.go
  internal/apis/config/cainjector/v1alpha1/zz_generated.conversion.go
  internal/apis/config/cainjector/v1alpha1/zz_generated.defaults.go
  internal/apis/config/cainjector/zz_generated.deepcopy.go
  internal/apis/config/controller/types.go
  internal/apis/config/controller/v1alpha1/conversion.go
  internal/apis/config/controller/v1alpha1/defaults.go
  internal/apis/config/controller/v1alpha1/testdata/defaults.json
  internal/apis/config/controller/v1alpha1/zz_generated.conversion.go
  internal/apis/config/controller/v1alpha1/zz_generated.defaults.go
  internal/apis/config/controller/validation/validation_test.go
  internal/apis/config/controller/zz_generated.deepcopy.go
  internal/apis/config/shared/doc.go
  internal/apis/config/shared/types_leaderelection.go
  internal/apis/config/shared/types_tlsconfig.go
  internal/apis/config/shared/v1alpha1/conversion.go
  internal/apis/config/shared/v1alpha1/defaults.go
  internal/apis/config/shared/v1alpha1/doc.go
  internal/apis/config/shared/v1alpha1/register.go
  internal/apis/config/shared/v1alpha1/zz_generated.conversion.go
  internal/apis/config/shared/v1alpha1/zz_generated.defaults.go
  internal/apis/config/shared/zz_generated.deepcopy.go
  internal/apis/config/webhook/types.go
  internal/apis/config/webhook/v1alpha1/testdata/defaults.json
  internal/apis/config/webhook/v1alpha1/zz_generated.conversion.go
  internal/apis/config/webhook/v1alpha1/zz_generated.defaults.go
  internal/apis/config/webhook/validation/validation_test.go
  internal/apis/config/webhook/zz_generated.deepcopy.go
  internal/webhook/webhook.go
  pkg/apis/config/cainjector/v1alpha1/types.go
  pkg/apis/config/cainjector/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/controller/v1alpha1/types.go
  pkg/apis/config/controller/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/shared/doc.go
  pkg/apis/config/shared/v1alpha1/doc.go
  pkg/apis/config/shared/v1alpha1/types_leaderelection.go
  pkg/apis/config/shared/v1alpha1/types_tlsconfig.go
  pkg/apis/config/shared/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/webhook/v1alpha1/types.go
  pkg/apis/config/webhook/v1alpha1/zz_generated.deepcopy.go
Labels: release-note-none, approved, lgtm, area/api, kind/cleanup, size/XXL, dco-signoff: yes

#7028 [release-1.14] Remove kind update script
  hack/latest-kind-images.sh
  make/kind_images.sh
  make/tools.mk
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7027 [release-1.13] Remove kind update script, add 1.29, update 1.28
  hack/latest-kind-images.sh
  make/cluster.sh
  make/kind_images.sh
  make/tools.mk
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7029 [release-1.12] Update kind, remove kind update script, add 1.29 + 1.28
  hack/latest-kind-images.sh
  make/cluster.sh
  make/kind_images.sh
  make/tools.mk
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6456 Add optional hostAliases to cert-manager pod
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/S, area/api, kind/design, kind/feature, area/acme, area/vault, dco-signoff: yes, area/testing, ok-to-test, area/acme/dns01, area/acme/http01, area/monitoring, area/deploy

#7030 Promote the LiteralCertificateSubject feature to Beta
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1alpha2/types_certificate.go
  internal/apis/certmanager/v1alpha3/types_certificate.go
  internal/apis/certmanager/v1beta1/types_certificate.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  pkg/apis/certmanager/v1/types_certificate.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/M, dco-signoff: yes, area/deploy

#7033 [release-1.12] Read admin groups from the client certificate instead of hard coding them
  test/e2e/suite/certificaterequests/approval/userinfo.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing

#7014 Improve config validation
  cmd/cainjector/app/cainjector.go
  cmd/controller/app/options/options_test.go
  cmd/controller/app/start.go
  cmd/webhook/app/webhook.go
  internal/apis/certmanager/validation/issuer_test.go
  internal/apis/config/cainjector/validation/validation.go
  internal/apis/config/cainjector/validation/validation_test.go
  internal/apis/config/controller/validation/validation.go
  internal/apis/config/controller/validation/validation_test.go
  internal/apis/config/shared/validation/validation.go
  internal/apis/config/shared/validation/validation_test.go
  internal/apis/config/webhook/validation/validation.go
  internal/apis/config/webhook/validation/validation_test.go
  pkg/logs/logs.go
Labels: size/XL, release-note-none, approved, lgtm, area/api, kind/cleanup, dco-signoff: yes

#7015 Support duration strings in config API
  internal/apis/config/cainjector/v1alpha1/testdata/defaults.json
  internal/apis/config/controller/v1alpha1/defaults.go
  internal/apis/config/controller/v1alpha1/testdata/defaults.json
  internal/apis/config/controller/v1alpha1/zz_generated.conversion.go
  internal/apis/config/shared/v1alpha1/conversion.go
  internal/apis/config/shared/v1alpha1/defaults.go
  internal/apis/config/shared/v1alpha1/zz_generated.conversion.go
  internal/apis/config/webhook/v1alpha1/testdata/defaults.json
  pkg/apis/config/controller/v1alpha1/types.go
  pkg/apis/config/controller/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/shared/v1alpha1/types_duration.go
  pkg/apis/config/shared/v1alpha1/types_leaderelection.go
  pkg/apis/config/shared/v1alpha1/types_tlsconfig.go
  pkg/apis/config/shared/v1alpha1/zz_generated.deepcopy.go
Labels: size/L, release-note-none, approved, lgtm, area/api, kind/cleanup, dco-signoff: yes

#6821 Bump all dependencies
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  hack/k8s-codegen.sh
  hack/openapi_reports/acme.txt
  klone.yaml
  make/_shared/tools/00_mod.mk
  make/ci.mk
  pkg/acme/webhook/openapi/zz_generated.openapi.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/framework/helpers.go
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing, area/deploy

#7044 Re-add hash.sh, which was also used by the release Make target
  hack/util/hash.sh
Labels: release-note-none, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#7049 Add Helm options to extend auto-approval or disable it
  cmd/controller/app/options/options.go
  cmd/controller/app/options/options_test.go
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, area/deploy

#7052 BUGFIX: correctly mount config files for components
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, area/deploy
