Repository cert-manager/cert-manager, pull requests merged in 2024-11, with the labels that each got.

#7394 Do not propagate applyset labels
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, ok-to-test

#7400 Restrict max size of PEM inputs
  internal/controller/certificates/policies/checks_test.go
  internal/controller/certificates/secrets.go
  internal/pem/decode.go
  internal/pem/decode_test.go
  internal/pem/testdata/issue-ghsa-r4pg-vg54-wxx4.bin
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificates/issuing/internal/secret_test.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  pkg/util/pki/generate_keysize_test.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/nameconstraints_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_certificate_chain.go
  pkg/util/pki/parse_certificate_chain_test.go
  pkg/util/pki/sans_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes

#7401 [release-1.16] Restrict max size of PEM inputs
  internal/controller/certificates/policies/checks_test.go
  internal/controller/certificates/secrets.go
  internal/pem/decode.go
  internal/pem/decode_test.go
  internal/pem/testdata/issue-ghsa-r4pg-vg54-wxx4.bin
  make/base_images.mk
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificates/issuing/internal/secret_test.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  pkg/util/pki/generate_keysize_test.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/nameconstraints_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_certificate_chain.go
  pkg/util/pki/parse_certificate_chain_test.go
  pkg/util/pki/sans_test.go
Labels: release-note, size/XL, approved, lgtm, kind/bug, area/acme, dco-signoff: yes

#7402 [release-1.15] Restrict max size of PEM inputs
  internal/controller/certificates/policies/checks_test.go
  internal/controller/certificates/secrets.go
  internal/pem/decode.go
  internal/pem/decode_test.go
  internal/pem/testdata/issue-ghsa-r4pg-vg54-wxx4.bin
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificates/issuing/internal/secret_test.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  pkg/util/pki/generate_keysize_test.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/nameconstraints_test.go
  pkg/util/pki/parse.go
  pkg/util/pki/parse_certificate_chain.go
  pkg/util/pki/parse_certificate_chain_test.go
  pkg/util/pki/sans_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes

#7407 [release-1.12] fix CVE-2024-5174 in jwt dependency
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  go.mod
  go.sum
  test/integration/go.sum
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, area/testing

#7406 [release-1.15] Update go version, base images
  make/_shared/tools/00_mod.mk
  make/base_images.mk
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7403 [release-1.12] Restrict max size of PEM inputs
  internal/controller/certificates/secrets.go
  internal/pem/decode.go
  internal/pem/decode_test.go
  internal/pem/testdata/issue-ghsa-r4pg-vg54-wxx4.bin
  pkg/controller/acmeorders/sync.go
  pkg/util/pki/csr.go
  pkg/util/pki/generate_keysize_test.go
  pkg/util/pki/parse.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7423 [Release v1.12.14] Update cmd/cmctl's go.mod to v1.12.14
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#7424 [release-1.15] bump go + base images
  make/_shared/tools/00_mod.mk
  make/base_images.mk
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7425 [CI] Self-upgrade merging self-upgrade-master into master
  .github/workflows/govulncheck.yaml
  .github/workflows/make-self-upgrade.yaml
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/repository-base/base/.github/workflows/make-self-upgrade.yaml
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7431 [release-1.16] Bump go + base images
  make/_shared/klone/01_mod.mk
  make/_shared/tools/00_mod.mk
  make/base_images.mk
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7421 Fix renewBeforePercentage to comply with its spec
  pkg/util/pki/renewaltime.go
  pkg/util/pki/renewaltime_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, ok-to-test

#7395 fix: don't install cainjector service when cainjector is disabled
  deploy/charts/cert-manager/templates/cainjector-service.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, needs-ok-to-test, dco-signoff: yes, area/deploy

#7364 Move duration validation test functions to helper
  test/e2e/framework/framework.go
  test/e2e/framework/helper/validate.go
  test/e2e/framework/helper/validation/certificaterequests/certificaterequests.go
  test/e2e/framework/helper/validation/certificates/certificates.go
  test/e2e/framework/helper/validation/validation.go
  test/e2e/suite/issuers/ca/certificate.go
  test/e2e/suite/issuers/ca/certificaterequest.go
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/e2e/suite/issuers/selfsigned/certificaterequest.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/cert_auth.go
  test/e2e/suite/issuers/vault/certificaterequest/approle.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing
