Repository cert-manager/cert-manager, pull requests merged in 2024-01, with the labels that each got.

#6578 CVE: upgrade golang.org/x/crypto
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/cainjector/LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6575 docs: declare updated kube version in artifact hub doc
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, needs-ok-to-test, dco-signoff: yes, area/deploy, needs-kind

#6579 Enable gosec G505
  .golangci.ci.yaml
  pkg/issuer/acme/dns/rfc2136/tsig.go
  pkg/issuer/acme/dns/rfc2136/tsig_test.go
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#6581 Enable gosec G501: Blocklisted import crypto/md5
  .golangci.ci.yaml
  pkg/issuer/acme/dns/rfc2136/tsig.go
  pkg/issuer/acme/dns/rfc2136/tsig_test.go
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#6583 Upgrade base images from debian11 to debian12
  hack/latest-base-images.sh
  make/base_images.mk
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#6582 Enable gosec 404: Use of weak random number generator
  .golangci.ci.yaml
  pkg/controller/test/util.go
  pkg/util/util.go
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6585 Deprecate RandStringBytes and RandStringRunes
  pkg/api/util/names_test.go
  pkg/controller/acmechallenges/scheduler/scheduler_test.go
  pkg/controller/test/context_builder.go
  pkg/controller/test/util.go
  pkg/util/util.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/vault/kubernetes.go
  test/e2e/suite/conformance/certificatesigningrequests/venafi/tpp.go
  test/e2e/suite/issuers/ca/clusterissuer.go
  test/e2e/suite/issuers/vault/issuer.go
  test/e2e/suite/issuers/venafi/tpp/certificate.go
  test/e2e/suite/issuers/venafi/tpp/certificaterequest.go
  test/e2e/util/domains.go
  test/integration/versionchecker/getpodfromtemplate_test.go
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6586 Replace calls to deprecated sets.String functions
  .golangci.ci.yaml
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  cmd/controller/app/options/options_test.go
  cmd/ctl/pkg/upgrade/migrateapiversion/migrator.go
  internal/plugin/plugins.go
  internal/webhook/webhook.go
  pkg/controller/acmeorders/sync.go
  pkg/util/pki/match.go
  pkg/webhook/admission/handler.go
Labels: release-note, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes

#5860 Fix helm loglevel parsing
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
Labels: size/XS, release-note-none, approved, lgtm, needs-ok-to-test, lifecycle/rotten, dco-signoff: yes, area/deploy, needs-kind

#6549 Add separate startupapicheck binary
  cmd/startupapicheck/LICENSE
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/startupapicheck/main.go
  cmd/startupapicheck/pkg/check/api/api.go
  cmd/startupapicheck/pkg/check/check.go
  cmd/startupapicheck/pkg/factory/factory.go
  deploy/charts/cert-manager/values.yaml
  hack/containers/Containerfile.startupapicheck
  make/ci.mk
  make/containers.mk
  make/e2e-setup.mk
  make/ko.mk
  make/release.mk
  make/server.mk
  make/tools.mk
Labels: release-note, approved, lgtm, kind/feature, size/XXL, dco-signoff: yes, area/deploy

#6548 New option to specify encryption and MAC algorithms for PKCS#12 keystores.
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_certificate.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/types_certificate.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/types_certificate.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/issuing/internal/keystore.go
  pkg/controller/certificates/issuing/internal/keystore_test.go
  pkg/controller/certificates/issuing/internal/secret.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#6404 Other name sans support in Certificates
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_certificate.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  internal/apis/certmanager/v1alpha3/types_certificate.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  internal/apis/certmanager/v1beta1/types_certificate.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  internal/apis/certmanager/zz_generated.deepcopy.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  make/e2e-setup.mk
  make/e2e.sh
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/util/pki/asn1_util.go
  pkg/util/pki/asn1_util_test.go
  pkg/util/pki/certificatetemplate.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/kube_test.go
  pkg/util/pki/nameconstraints.go
  pkg/util/pki/sans.go
  pkg/util/pki/sans_test.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/framework/matcher/san_matchers.go
  test/e2e/suite/certificates/othernamesan.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/external/external.go
  test/e2e/suite/conformance/certificates/tests.go
Labels: release-note, approved, lgtm, area/api, size/XXL, dco-signoff: yes, area/testing, ok-to-test, area/deploy, needs-kind

#6120 add comments explaining the Sync function & small test bugfix
  pkg/controller/test/context_builder.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, lifecycle/rotten, dco-signoff: yes

#6589 Rename UseCertificateRequestNameConstraints to NameConstraints
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1alpha2/types_certificate.go
  internal/apis/certmanager/v1alpha3/types_certificate.go
  internal/apis/certmanager/v1beta1/types_certificate.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  make/e2e-setup.mk
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
Labels: size/L, release-note-none, approved, lgtm, area/api, kind/cleanup, dco-signoff: yes, area/deploy

#6587 Bump dependencies
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  pkg/acme/webhook/cmd/server/start.go
  pkg/acme/webhook/openapi/zz_generated.openapi.go
  pkg/controller/certificaterequests/selfsigned/checks_test.go
  pkg/controller/certificatesigningrequests/selfsigned/checks_test.go
  pkg/logs/logs.go
  pkg/webhook/handlers/conversion_test.go
  pkg/webhook/server/server_test.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/suite/issuers/acme/issuer.go
  test/integration/LICENSES
  test/integration/acme/orders_controller_test.go
  test/integration/certificates/trigger_controller_test.go
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing, area/deploy

#6595 [Release v1.14.0-alpha.0] Update cmd/cmctl's go.mod to v1.14.0-alpha.0
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: release-note-none, approved, lgtm, size/S, dco-signoff: yes, area/testing, needs-kind

#6592 Add tests for the improvements made in #6561
  pkg/util/pki/parse_certificate_chain_test.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6593 Use slices go library
  cmd/cainjector/LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  go.mod
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/util/reporter_test.go
  pkg/controller/certificatesigningrequests/acme/acme.go
  pkg/issuer/acme/setup_test.go
  pkg/issuer/venafi/setup_test.go
  pkg/util/pki/certificatetemplate.go
  pkg/util/util.go
  test/e2e/LICENSES
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/validation/certificates/certificates.go
  test/e2e/framework/helper/validation/certificatesigningrequests/certificatesigningrequests.go
  test/e2e/go.mod
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6598 Use io instead of deprecated ioutil package
  .golangci.ci.yaml
  pkg/healthz/healthz_test.go
  pkg/issuer/acme/dns/util/wait.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#6600 Ignore warnings about deprecated eab.KeyAlgorithm field
  .golangci.ci.yaml
  internal/apis/certmanager/validation/issuer.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6599 Don't extract vendored go in _bin/downloaded folder
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6604 Use generics for mustAllSync variants
  pkg/controller/test/context_builder.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6606 Replace util contains function with slices.Contains
  test/e2e/framework/helper/validation/certificates/certificates.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing

#6607 Deprecate URLsFromStrings which is only used in other deprecated functions
  pkg/util/pki/csr.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6608 Fix bug in CertificateOwnsSecret and add unit test
  internal/controller/certificates/certificates.go
  internal/controller/certificates/certificates_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#6603 Improve CertificateOwnsSecret
  internal/controller/certificates/certificates.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6605 Use k8s.io/apimachinery/pkg/util/sets for FeatureSet
  test/e2e/framework/helper/featureset/featureset.go
  test/e2e/framework/helper/validation/validation.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificatesigningrequests/suite.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6618 Hef/missed other name changes
  internal/apis/certmanager/validation/certificate.go
  pkg/util/pki/asn1_util.go
  pkg/util/pki/asn1_util_test.go
  test/e2e/suite/certificates/othernamesan.go
Labels: do-not-merge/release-note-label-needed, approved, lgtm, size/M, dco-signoff: yes, area/testing, ok-to-test, needs-kind

#6609 Add startupapicheck image to the server bundle of `make release`
  make/release.mk
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, needs-kind

#6601 Stop using deprecated hashicorp/vault/api RawRequest functions
  .golangci.ci.yaml
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/cainjector/LICENSES
  cmd/controller/LICENSES
  cmd/ctl/LICENSES
  cmd/startupapicheck/LICENSES
  cmd/webhook/LICENSES
  test/e2e/LICENSES
  test/e2e/framework/addon/vault/setup.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6620 Other name change detection
  pkg/util/pki/asn1_util.go
  pkg/util/pki/match.go
  pkg/util/pki/match_test.go
  pkg/util/util.go
Labels: size/L, release-note, approved, lgtm, dco-signoff: yes, ok-to-test, needs-kind

#6248 feat: allow changing the default Deployment revisionHistoryLimit
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/S, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#6627 Stop using deprecated f.environment.ControlPlane.KubeCtl function
  .golangci.ci.yaml
  test/acme/fixture.go
  test/acme/util.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing

#6629 [release-1.12] bump go to latest patch version
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6630 [release-1.13] bump go to latest patch version
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6628 Bump go to latest version
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6631 Use ParseRevocationList instead of deprecated x509.ParseCRL
  .golangci.ci.yaml
  cmd/ctl/pkg/inspect/secret/util.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#5452 Update Azure SDK and remove deprecated autorest dependency
  .golangci.ci.yaml
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  go.mod
  go.sum
  pkg/apis/acme/v1/types_issuer.go
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
Labels: size/XL, release-note-none, approved, lgtm, area/api, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01, area/deploy, needs-kind

#6635 Require feature gate in otherName SAN cert e2e
  test/e2e/suite/certificates/othernamesan.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, ok-to-test

#6637 [Release v1.14.0-alpha.1] Update cmd/cmctl's go.mod to v1.14.0-alpha.1
  cmd/controller/go.mod
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: release-note-none, approved, lgtm, size/S, dco-signoff: yes, area/testing, needs-kind

#6638 [helm] Support custom spec.namespaceSelector for webhooks
  deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml
  deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/M, dco-signoff: yes, ok-to-test, area/deploy, needs-kind

#6641 Add Kind kindest node image for Kubernetes 1.29
  hack/latest-kind-images.sh
  make/cluster.sh
  make/kind_images.sh
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#6643 Fix broken build-status badge in README.md
  README.md
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6647 Fix E2E test failure caused by hard coded group names which are no longer used in Kubernetes >=1.29
  test/e2e/suite/certificaterequests/approval/userinfo.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, area/testing

#6648 Skip the OtherNames conformance tests on Venafi Cloud
  test/e2e/suite/conformance/certificates/venaficloud/cloud.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6654 no-op: add GOEXPERIMENT var
  Makefile
  make/tools.mk
Labels: release-note-none, approved, lgtm, size/S, kind/feature, dco-signoff: yes

#6658 Tweak checkhash script
  hack/util/checkhash.sh
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6661 [Release v1.14.0-beta.0] Update cmd/cmctl's go.mod to v1.14.0-beta.0
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6642 Remove KIND_IMAGE_FULL_ variables and use KIND_IMAGE_K8S_ instead
  hack/latest-kind-images.sh
  make/cluster.sh
  make/kind_images.sh
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6668 Parse the kind release notes for compatible kindest/node images
  hack/boilerplate-sh.txt
  hack/latest-kind-images.sh
  make/kind_images.sh
  make/tools.mk
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6669 Stop using the deprecated SingleInflight field of miekg/dns
  .golangci.ci.yaml
  pkg/issuer/acme/dns/rfc2136/rfc2136.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#6672 Upgrade and cleanup dependencies
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/startupapicheck/main.go
  cmd/startupapicheck/pkg/check/api/api.go
  cmd/startupapicheck/pkg/factory/factory.go
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  hack/bin/tools.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing

#6670 Remove versionchecker, because it was moved to cert-manager/cmctl
  .github/workflows/golangci-lint.yml
  make/ci.mk
  make/git.mk
  make/test.mk
  pkg/util/versionchecker/fromcrd.go
  pkg/util/versionchecker/fromlabels.go
  pkg/util/versionchecker/fromservice.go
  pkg/util/versionchecker/versionchecker.go
  test/integration/versionchecker/getpodfromtemplate_test.go
  test/integration/versionchecker/testdata/.gitignore
  test/integration/versionchecker/testdata/fetch.sh
  test/integration/versionchecker/versionchecker_test.go
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6675 Fix CVE 2023 48795
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6678 Fix CVE 2023 48795
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6677 Remove remaining references to cmctl, which was moved to cert-manager/cmctl
  .krew.yaml
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.yaml
  hack/sha256-of-plugin-tar.sh
  make/containers.mk
  make/ko.mk
  make/release.mk
  make/scan.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/deploy

#6676 Replace the azcore.ResponseError error message to make it stable across retries
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#6679 Remove unnecessary Azure workload identity setting: DisableInstanceDiscovery: true
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#6684 Fix GHSA-7ww5-4wqc-m92c for release 1.13
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#6685 Add Make target for trivy startupapicheck image scan
  make/scan.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6683 Redact the body of failed authentication requests
  pkg/issuer/acme/dns/azuredns/azuredns.go
  pkg/issuer/acme/dns/azuredns/azuredns_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#6687 [release-1.14] Add Make target for trivy startupapicheck image scan
  make/scan.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6689 Fix GHSA-7ww5-4wqc-m92c for release 1.12
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#6690 [Release v1.14.0] Update cmd/cmctl's go.mod to v1.14.0
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6692 Fix mistakenly changed cainjector image value
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy
