Repository cert-manager/cert-manager, pull requests merged in 2024-02, with the labels that each got.

#6694 Clearify prometheus options and fix error in Helm chart
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#6695 Run update-helm-docs to fix Helm README
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#6698 [release-1.14] fix helm readme
  deploy/charts/cert-manager/README.template.md
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#6699 Fix backwards incompatible change: include a prometheus service by default
  deploy/charts/cert-manager/templates/service.yaml
  deploy/charts/cert-manager/values.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes, area/deploy

#6701 Update helm tool to latest version and regenerate helm README
  deploy/charts/cert-manager/README.template.md
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/deploy

#6702 [release-1.14] Update helm-tool to latest and regenerate helm readme
  deploy/charts/cert-manager/README.template.md
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/feature, size/XXL, dco-signoff: yes, area/deploy

#6706 [release-1.14] CLI flags parsing bugfix
  cmd/ctl/pkg/factory/factory.go
  cmd/ctl/pkg/install/helm/settings.go
Labels: release-note-none, approved, lgtm, kind/bug, size/M, dco-signoff: yes

#6711 [Release v1.14.1] Update cmd/cmctl's go.mod to v1.14.1
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6708 Remove webhook conversion logic
  internal/plugin/admission/apideprecation/apideprecation.go
  internal/plugin/admission/apideprecation/apideprecation_test.go
  internal/plugin/plugins.go
  internal/webhook/webhook.go
  pkg/webhook/handlers/conversion.go
  pkg/webhook/handlers/conversion_test.go
  pkg/webhook/handlers/interfaces.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
  test/integration/conversion/conversion_test.go
  test/integration/framework/apiserver.go
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6718 Add vault extra audiences
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/types_issuer.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_issuer.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  internal/apis/certmanager/v1alpha3/types_issuer.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  internal/apis/certmanager/v1beta1/types_issuer.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  internal/apis/certmanager/zz_generated.deepcopy.go
  internal/vault/vault.go
  internal/vault/vault_test.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#6713 Fix the Helm trick that we use to differentiate between 0 and an empty value
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, area/deploy

#6732 Bump golang to 1.21.7
  make/tools.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6733 [release-1.12] bump go to latest 1.20.x version
  make/tools.mk
Labels: size/XS, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes

#6728 Upgrade to kind 0.21.0
  hack/latest-kind-images.sh
  make/kind_images.sh
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#6738 [release-1.13]: backport: bump base images
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#6742 [Release v1.14.2] Update cmd/cmctl's go.mod to v1.14.2
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, area/testing, needs-kind

#6739 [release-1.13]: backport: update owners for supported releases
  OWNERS
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6730 Remove deprecated files and functions
  .bazelignore
  .bazelrc
  .gitignore
  Makefile
  deploy/charts/cert-manager/.helmignore
  hack/check-crds.sh
  hack/update-all.sh
  hack/update-codegen.sh
  hack/update-crds.sh
  hack/update-deps-licenses.sh
  hack/update-deps.sh
  hack/update-gofmt.sh
  hack/verify-codegen.sh
  hack/verify-crds.sh
  hack/verify-deps-licenses.sh
  hack/verify-deps.sh
  hack/verify-errexit.sh
  hack/verify-gofmt.sh
  hack/verify-staticcheck.sh
  internal/cmd/util/defaults.go
  make/legacy.mk
  pkg/controller/certificates/util.go
  pkg/controller/test/context_builder.go
  pkg/controller/test/util.go
  pkg/util/pki/certificatetemplate.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
  test/integration/internal/util/paths.go
Labels: release-note, size/XL, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing, area/deploy

#6745 Rename `$(BINDIR)` to `$(bin_dir)` in preparation for makefile modules
  Makefile
  make/README.md
  make/ci.mk
  make/containers.mk
  make/e2e-setup.mk
  make/git.mk
  make/ko.mk
  make/licenses.mk
  make/manifests.mk
  make/release.mk
  make/scan.mk
  make/server.mk
  make/test.mk
  make/tools.mk
  make/util.mk
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#6671 Migrate to AWS library to v2
  .trivyignore
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  go.mod
  go.sum
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing, area/acme/dns01

#6667 Scarf Proposal
  design/20240122.scarf.md
  design/template.md
Labels: do-not-merge/release-note-label-needed, approved, lgtm, kind/design, size/M, dco-signoff: yes

#6744 Move token audiences under the SA ref for the Vault kubernetes auth
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/types_issuer.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_issuer.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  internal/apis/certmanager/v1alpha3/types_issuer.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  internal/apis/certmanager/v1beta1/types_issuer.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  internal/apis/certmanager/zz_generated.deepcopy.go
  internal/vault/vault.go
  internal/vault/vault_test.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
Labels: size/L, release-note, approved, lgtm, area/api, needs-ok-to-test, dco-signoff: yes, area/deploy, needs-kind

#6747 Add erikgb to reviewers
  OWNERS
Labels: size/XS, release-note-none, approved, lgtm, dco-signoff: yes, needs-kind

#6750 Remove dead & deprecated code from cert-manager codebase
  internal/apis/certmanager/validation/certificate_for_issuer.go
  internal/apis/certmanager/validation/certificate_for_issuer_test.go
  internal/plugin/plugins.go
  pkg/controller/builder.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/certificaterequests/approver/approver_test.go
  pkg/controller/certificates/issuing/secret_manager_test.go
  pkg/controller/certificates/keymanager/keymanager_controller_test.go
  pkg/controller/certificates/readiness/readiness_controller_test.go
  pkg/controller/certificates/requestmanager/requestmanager_controller_test.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller_test.go
  pkg/controller/test/context_builder.go
  pkg/controller/test/reactors.go
  pkg/issuer/acme/http/httproute.go
  pkg/util/pki/csr.go
  pkg/util/pki/parse.go
  test/e2e/framework/helper/validation/certificates/certificates.go
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing, area/acme/http01

#6455 Switch Webhook to controller-runtime.
  cmd/controller/app/controller.go
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  internal/plugin/plugins.go
  internal/webhook/admission/certificaterequest/approval/certificaterequest_approval.go
  internal/webhook/admission/certificaterequest/approval/certificaterequest_approval_test.go
  internal/webhook/admission/certificaterequest/identity/certificaterequest_identity.go
  internal/webhook/admission/certificaterequest/identity/certificaterequest_identity_test.go
  internal/webhook/admission/resourcevalidation/resourcevalidation.go
  internal/webhook/admission/resourcevalidation/resourcevalidation_test.go
  internal/webhook/scheme.go
  internal/webhook/webhook.go
  pkg/server/tls/dynamic_source.go
  pkg/server/tls/file_source.go
  pkg/server/tls/file_source_test.go
  pkg/server/tls/source.go
  pkg/webhook/admission/custom_decoder.go
  pkg/webhook/admission/custom_mutation_webhook.go
  pkg/webhook/admission/custom_validator_webhook.go
  pkg/webhook/admission/initializer/initializer.go
  pkg/webhook/admission/initializer/initializer_test.go
  pkg/webhook/admission/initializer/interfaces.go
  pkg/webhook/admission/interfaces.go
  pkg/webhook/admission/plugins.go
  pkg/webhook/admission/plugins_test.go
  pkg/webhook/admission/request_handler.go
  pkg/webhook/admission/request_handler_test.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/webhook/dynamic_source_test.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/testing

#6759 Improve Chart.yaml and README.md
  deploy/charts/cert-manager/Chart.template.yaml
  deploy/charts/cert-manager/README.template.md
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/deploy

#6751 Use unstructured.Unstructured in Mutation webhook
  hack/k8s-codegen.sh
  internal/webhook/admission/certificaterequest/identity/certificaterequest_identity.go
  internal/webhook/admission/certificaterequest/identity/certificaterequest_identity_test.go
  make/ci.mk
  pkg/webhook/admission/chain.go
  pkg/webhook/admission/chain_test.go
  pkg/webhook/admission/custom_decoder.go
  pkg/webhook/admission/custom_mutation_webhook.go
  pkg/webhook/admission/custom_validator_webhook.go
  pkg/webhook/admission/interfaces.go
  pkg/webhook/admission/util_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/crds/README.md
  pkg/webhook/handlers/testdata/apis/testgroup/crds/testgroup.testing.cert-manager.io_testtypes.yaml
  pkg/webhook/handlers/testdata/apis/testgroup/doc.go
  pkg/webhook/handlers/testdata/apis/testgroup/fuzzer/fuzzer.go
  pkg/webhook/handlers/testdata/apis/testgroup/install/install.go
  pkg/webhook/handlers/testdata/apis/testgroup/install/roundtrip_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/register.go
  pkg/webhook/handlers/testdata/apis/testgroup/types.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/doc.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/register.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/types.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.conversion.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.deepcopy.go
  pkg/webhook/handlers/testdata/apis/testgroup/v1/zz_generated.defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/convert.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/doc.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/register.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/types.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/validation.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.conversion.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.deepcopy.go
  pkg/webhook/handlers/testdata/apis/testgroup/v2/zz_generated.defaults.go
  pkg/webhook/handlers/testdata/apis/testgroup/validation/validation.go
  pkg/webhook/handlers/testdata/apis/testgroup/validation/validation_test.go
  pkg/webhook/handlers/testdata/apis/testgroup/zz_generated.deepcopy.go
  pkg/webhook/server/server.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/testing

#6614 feat: Add the ability to communicate with Vault via mTLS
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/types_issuer.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/types_issuer.go
  internal/apis/certmanager/v1alpha2/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha2/zz_generated.deepcopy.go
  internal/apis/certmanager/v1alpha3/types_issuer.go
  internal/apis/certmanager/v1alpha3/zz_generated.conversion.go
  internal/apis/certmanager/v1alpha3/zz_generated.deepcopy.go
  internal/apis/certmanager/v1beta1/types_issuer.go
  internal/apis/certmanager/v1beta1/zz_generated.conversion.go
  internal/apis/certmanager/v1beta1/zz_generated.deepcopy.go
  internal/apis/certmanager/validation/issuer.go
  internal/apis/certmanager/validation/issuer_test.go
  internal/apis/certmanager/zz_generated.deepcopy.go
  internal/vault/vault.go
  internal/vault/vault_test.go
  pkg/apis/certmanager/v1/types_issuer.go
  pkg/apis/certmanager/v1/zz_generated.deepcopy.go
  test/e2e/framework/addon/globals.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/framework/addon/vault/vault.go
  test/e2e/suite/issuers/vault/mtls.go
  test/unit/gen/issuer.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/XXL, dco-signoff: yes, area/testing, ok-to-test, area/deploy

#6124 Add design/20230601.gateway-route-hostnames.
  design/20230601.gateway-route-hostnames.md
Labels: size/L, release-note-none, approved, lgtm, kind/design, needs-ok-to-test, dco-signoff: yes

#6767 Fix webhook validation bug for cert subjects
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  pkg/util/pki/csr.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, ok-to-test

#6770 Fix a memory bug in ldap's ParseDN function by disabling part of the functionality
  pkg/util/pki/parse_test.go
  pkg/util/pki/subject.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#6763 Upgrade dependencies
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing

#6764 Replace deprecated functions
  .golangci.ci.yaml
  internal/vault/vault_test.go
  pkg/controller/certificates/issuing/internal/secret_test.go
  pkg/controller/certificates/issuing/issuing_controller_test.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/notafter.go
  test/e2e/suite/issuers/ca/certificate.go
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/e2e/suite/issuers/venafi/tpp/certificate.go
  test/e2e/suite/serving/cainjector.go
  test/e2e/util/util.go
  test/unit/gen/certificate.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6755 bugfix: wrong certificate chain is used if preferredChain is configured
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  test/unit/gen/issuer.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/bug, area/acme, dco-signoff: yes, area/testing, ok-to-test, area/deploy

#6778 Fix broken best-practice e2e tests
  make/config/kyverno/kustomization.yaml
  make/config/kyverno/policy.yaml
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#6779 Fix broken json logging
  pkg/logs/logs.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, dco-signoff: yes

#6788 [release-1.14] bump base images and fix CVE dependencies
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  make/base_images.mk
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#6761 Stop using github.com/go-ldap/ldap/v3 ParseDN and use a custom ParseDN function instead
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  pkg/util/pki/internal/dn.go
  pkg/util/pki/internal/dn_test.go
  pkg/util/pki/parse_test.go
  pkg/util/pki/subject.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/XL, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6790 [release-1.12] bump base images and add CVE exception
  .trivyignore
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6789 [release-1.13] bump base images and add CVE exception
  .trivyignore
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#6791 Bump controller-gen to v0.14.0
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  make/tools.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/deploy

#6797 [release-1.13] Update cmd/ctl's go.mod to v1.13.4
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6796 [release-1.12] Update cmd/ctl's go.mod to v1.12.8
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6798 [release-1.14] Update cmd/ctl's go.mod to v1.14.3
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6793 Remove github.com/pkg/errors as a direct dependency
  cmd/controller/LICENSES
  cmd/controller/go.mod
  go.mod
  pkg/controller/acmechallenges/update.go
  pkg/issuer/acme/dns/akamai/akamai.go
  pkg/issuer/acme/dns/dns.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/acme/dns01

#6800 Helm: fix matchLabels selector - select on minimum subset of labels that uniquely identifies the resources
  deploy/charts/cert-manager/templates/networkpolicy-egress.yaml
  deploy/charts/cert-manager/templates/networkpolicy-webhooks.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/deploy
