Repository cert-manager/cert-manager, pull requests merged in 2025-05, with the labels that each got.

#7723 [VC-39805] Change the default `privateKey.rotationPolicy` to `Always`
  deploy/charts/cert-manager/templates/NOTES.txt
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/v1/defaults.go
  internal/apis/certmanager/v1/defaults_test.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  internal/apis/certmanager/validation/warnings.go
  internal/controller/feature/features.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
  test/e2e/suite/conformance/certificates/tests.go
  test/integration/certificates/generates_new_private_key_per_request_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, area/testing, area/deploy

#7740 spelling: e.g.
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature-request.md
  cmd/cainjector/app/cainjector.go
  cmd/controller/app/start.go
  cmd/startupapicheck/pkg/check/api/api.go
  cmd/webhook/app/webhook.go
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  design/20200326.extensible-certificate-controller.md
  design/20210209.certificates.k8s.io-adoption.md
  design/20230302.gomod.md
  design/20230601.gateway-route-hostnames.md
  design/20240122.scarf.md
  design/20240206.helm-resource-policy.md
  design/20240625.push-charts-to-oci.md
  design/acme-orders-challenges-crd.md
  internal/apis/acme/types_challenge.go
  internal/apis/acme/types_issuer.go
  internal/apis/acme/types_order.go
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/meta/types.go
  internal/pem/decode.go
  internal/test/paths/paths.go
  make/cluster.sh
  make/scan.mk
  make/test.mk
  pkg/acme/accounts/client.go
  pkg/acme/accounts/registry.go
  pkg/api/util/names.go
  pkg/apis/acme/v1/types_challenge.go
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/types_order.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/apis/meta/v1/types.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
  pkg/controller/cainjector/sources.go
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/context.go
  pkg/controller/helper.go
  pkg/healthz/clock_health.go
  pkg/healthz/healthz_test.go
  pkg/issuer/acme/dns/akamai/akamai_test.go
  test/e2e/framework/addon/globals.go
  test/e2e/framework/addon/internal/globals.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificatesigningrequests/suite.go
  test/e2e/util/domains.go
Labels: size/L, release-note-none, approved, lgtm, area/api, kind/cleanup, kind/design, area/acme, dco-signoff: yes, area/testing, area/acme/dns01, area/deploy

#7735 graduate `UseDomainQualifiedFinalizer` to GA
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
  internal/controller/feature/features.go
  pkg/controller/acmechallenges/finalizer.go
  pkg/controller/acmechallenges/finalizer_test.go
  pkg/controller/acmechallenges/sync.go
  pkg/controller/acmechallenges/sync_test.go
Labels: release-note, approved, lgtm, kind/feature, size/M, area/acme, dco-signoff: yes, area/deploy

#7744 Graduate AdditionalCertificateOutputFormats feature gate
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  internal/controller/feature/features.go
  internal/webhook/feature/features.go
  make/e2e-setup.mk
  make/e2e.sh
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/issuing/internal/secret.go
  test/e2e/suite/certificates/additionaloutputformats.go
  test/e2e/suite/issuers/ca/certificate.go
Labels: size/L, release-note-none, approved, lgtm, area/api, kind/cleanup, dco-signoff: yes, area/testing, area/deploy

#7743 Avoid mutating the client-go informer cache
  internal/apis/certmanager/v1/defaults.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
Labels: release-note-none, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#7579 Quote node selector values
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/startupapicheck-job.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  make/config/samplewebhook/chart/templates/deployment.yaml
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, ok-to-test, area/deploy

#7753 refactor: use slices.Contains to simplify code
  pkg/controller/acmeorders/selectors/dns_names.go
  test/acme/util.go
Labels: release-note, approved, lgtm, size/S, kind/cleanup, area/acme, dco-signoff: yes, area/testing, ok-to-test
