Repository cert-manager/cert-manager, pull requests merged in 2025-07, with the labels that each got.

#7818 Add global.nodeSelector to helm chart
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/cainjector-deployment.yaml
  deploy/charts/cert-manager/templates/deployment.yaml
  deploy/charts/cert-manager/templates/startupapicheck-job.yaml
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test, area/deploy

#7736 feat(metrics): adding `certmanager_certificate_challenge_status` metric
  cmd/controller/app/controller.go
  internal/collectors/acme_collector.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  test/integration/certificates/metrics_controller_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/design, kind/feature, area/acme, area/ca, area/vault, dco-signoff: yes, area/testing, ok-to-test, area/acme/dns01, area/acme/http01, area/monitoring, area/deploy

#7844 Let x509.CreateCertificate set Version and SerialNumber
  internal/cainjector/bundle/bundle_test.go
  internal/controller/certificates/secrets_test.go
  pkg/controller/certificaterequests/acme/acme_test.go
  pkg/controller/certificaterequests/ca/ca_test.go
  pkg/controller/certificaterequests/venafi/venafi_test.go
  pkg/controller/certificatesigningrequests/ca/ca_test.go
  pkg/server/tls/authority/authority.go
  pkg/server/tls/authority/authority_test.go
  pkg/server/tls/dynamic_source.go
  pkg/server/tls/dynamic_source_test.go
  pkg/server/tls/file_source_test.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/generate_test.go
  pkg/util/pki/parse_certificate_chain_test.go
  test/e2e/framework/addon/vault/vault.go
  test/e2e/suite/conformance/certificatesigningrequests/ca/ca.go
  test/webhook/testwebhook.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#7850 Refactor ACME client registry (part 1)
  cmd/controller/app/controller.go
  cmd/controller/go.mod
  make/02_mod.mk
  pkg/acme/accounts/client.go
  pkg/acme/accounts/registry.go
  pkg/acme/accounts/registry_test.go
  pkg/acme/accounts/test/registry.go
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/context.go
  pkg/issuer/acme/acme.go
  pkg/issuer/acme/setup.go
  pkg/issuer/acme/setup_test.go
  test/integration/acme/orders_controller_test.go
  test/integration/certificates/generates_new_private_key_per_request_test.go
  test/integration/certificates/issuing_controller_test.go
  test/integration/certificates/metrics_controller_test.go
  test/integration/certificates/trigger_controller_test.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#7851 Use ginkgo context
  test/e2e/framework/util.go
  test/e2e/suite/certificaterequests/approval/approval.go
  test/e2e/suite/certificaterequests/approval/userinfo.go
  test/e2e/suite/certificaterequests/selfsigned/secret.go
  test/e2e/suite/certificates/additionaloutputformats.go
  test/e2e/suite/certificates/duplicatesecretname.go
  test/e2e/suite/certificates/foregrounddeletion.go
  test/e2e/suite/certificates/literalsubjectrdns.go
  test/e2e/suite/certificates/othernamesan.go
  test/e2e/suite/certificates/secrettemplate.go
  test/e2e/suite/certificatesigningrequests/selfsigned/selfsigned.go
  test/e2e/suite/conformance/certificates/suite.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/tests.go
  test/e2e/suite/conformance/rbac/certificate.go
  test/e2e/suite/conformance/rbac/certificaterequest.go
  test/e2e/suite/conformance/rbac/issuer.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/suite/issuers/acme/certificate/notafter.go
  test/e2e/suite/issuers/acme/certificate/webhook.go
  test/e2e/suite/issuers/acme/certificaterequest/dns01.go
  test/e2e/suite/issuers/acme/certificaterequest/http01.go
  test/e2e/suite/issuers/acme/certificaterequest/profiles.go
  test/e2e/suite/issuers/acme/issuer.go
  test/e2e/suite/issuers/ca/certificate.go
  test/e2e/suite/issuers/ca/certificaterequest.go
  test/e2e/suite/issuers/ca/clusterissuer.go
  test/e2e/suite/issuers/ca/issuer.go
  test/e2e/suite/issuers/selfsigned/certificate.go
  test/e2e/suite/issuers/selfsigned/certificaterequest.go
  test/e2e/suite/issuers/vault/certificate/approle.go
  test/e2e/suite/issuers/vault/certificate/cert_auth.go
  test/e2e/suite/issuers/vault/certificaterequest/approle.go
  test/e2e/suite/issuers/vault/issuer.go
  test/e2e/suite/issuers/vault/mtls.go
  test/e2e/suite/issuers/venafi/cloud/setup.go
  test/e2e/suite/issuers/venafi/tpp/certificate.go
  test/e2e/suite/issuers/venafi/tpp/certificaterequest.go
  test/e2e/suite/issuers/venafi/tpp/setup.go
  test/e2e/suite/serving/cainjector.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/testing

#7858 Don't set x509.CreateCertificate Version and SerialNumber
  pkg/util/pki/certificatetemplate.go
  pkg/util/pki/certificatetemplate_test.go
  pkg/util/pki/csr.go
  pkg/util/pki/kube_test.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes

#7861 Sort CRD YAML
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  make/ci.mk
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, dco-signoff: yes, area/deploy

#7874 Re-enable Dependabot upgrades
  .github/dependabot.yaml
  make/00_mod.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7856 feat(metrics): refactoring certificate metrics to collector
  cmd/controller/app/controller.go
  internal/collectors/certificate_collector.go
  pkg/controller/certificates/metrics/certificates.go
  pkg/metrics/certificates.go
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  test/integration/certificates/metrics_controller_test.go
Labels: release-note, size/XL, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test, area/monitoring

#7877 Bump most direct dependencies to their latest release
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note-none, approved, lgtm, kind/cleanup, size/XXL, area/acme, dco-signoff: yes, area/testing

#7880 fix: Also generate apply configurations for metav1 types
  hack/k8s-codegen.sh
  pkg/apis/meta/doc.go
  pkg/apis/meta/v1/doc.go
  pkg/client/applyconfigurations/acme/v1/acmeexternalaccountbinding.go
  pkg/client/applyconfigurations/acme/v1/acmeissuer.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01provideracmedns.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providerakamai.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providerazuredns.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providerclouddns.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providercloudflare.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providerdigitalocean.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providerrfc2136.go
  pkg/client/applyconfigurations/acme/v1/acmeissuerdns01providerroute53.go
  pkg/client/applyconfigurations/acme/v1/challengespec.go
  pkg/client/applyconfigurations/acme/v1/orderspec.go
  pkg/client/applyconfigurations/certmanager/v1/certificaterequestspec.go
  pkg/client/applyconfigurations/certmanager/v1/certificatespec.go
  pkg/client/applyconfigurations/certmanager/v1/jkskeystore.go
  pkg/client/applyconfigurations/certmanager/v1/pkcs12keystore.go
  pkg/client/applyconfigurations/certmanager/v1/vaultapprole.go
  pkg/client/applyconfigurations/certmanager/v1/vaultauth.go
  pkg/client/applyconfigurations/certmanager/v1/vaultissuer.go
  pkg/client/applyconfigurations/certmanager/v1/vaultkubernetesauth.go
  pkg/client/applyconfigurations/certmanager/v1/venaficloud.go
  pkg/client/applyconfigurations/certmanager/v1/venafitpp.go
  pkg/client/applyconfigurations/meta/v1/localobjectreference.go
  pkg/client/applyconfigurations/meta/v1/objectreference.go
  pkg/client/applyconfigurations/meta/v1/secretkeyselector.go
  pkg/client/applyconfigurations/utils.go
Labels: size/XL, release-note-none, approved, lgtm, area/api, kind/bug, dco-signoff: yes

#7726 [helm] Add IPv6 rules to the default network policy
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/S, kind/feature, dco-signoff: yes, ok-to-test, area/deploy
