Repository cert-manager/cert-manager, pull requests merged in 2025-02, with the labels that each got.

#7405 add fuzz tests for ProcessItem APIs
  cmd/controller/go.sum
  go.mod
  go.sum
  pkg/controller/certificates/issuing/fuzz_test.go
  pkg/controller/certificates/keymanager/fuzz_test.go
  pkg/controller/certificates/readiness/fuzz_test.go
  pkg/controller/certificates/requestmanager/fuzz_test.go
  pkg/controller/certificates/revisionmanager/fuzz_test.go
  pkg/controller/certificates/trigger/fuzz_test.go
  test/integration/go.sum
Labels: size/XL, release-note-none, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test

#7553 Remove ValidateCAA code, leaving a warning
  cmd/controller/app/options/options.go
  internal/controller/feature/features.go
  make/e2e-setup.mk
  pkg/controller/acmechallenges/sync.go
  pkg/issuer/acme/dns/util/livedns_test.go
  pkg/issuer/acme/dns/util/wait.go
  pkg/issuer/acme/dns/util/wait_test.go
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/acme/dns01

#7562 [release-1.16] bump go to v1.23.6
  make/_shared/tools/00_mod.mk
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#7563 [release-1.17] Bump go to v1.23.6
  make/_shared/klone/01_mod.mk
  make/_shared/tools/00_mod.mk
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes

#7549 chore(issuer/cloudflare): ensure we set ZoneID
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#7568 [release-1.12] chore(issuer/cloudflare): ensure we set ZoneID
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7570 [release-1.12] bump go to supported version
  deploy/crds/crd-certificaterequests.yaml
  deploy/crds/crd-certificates.yaml
  deploy/crds/crd-challenges.yaml
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  make/tools.mk
  pkg/webhook/handlers/testdata/apis/testgroup/crds/testgroup.testing.cert-manager.io_testtypes.yaml
Labels: release-note, approved, lgtm, kind/bug, size/XXL, dco-signoff: yes, area/deploy

#7571 [Release v1.12.16] Update cmd/cmctl's go.mod to v1.12.16
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#6986 Skip gateway TLS listener in passthrough mode
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, ok-to-test

#7582 chore: fix some function names in comment
  test/unit/gen/certificate.go
  test/unit/gen/certificaterequest.go
  test/unit/gen/challenge.go
  test/unit/gen/order.go
Labels: size/XS, release-note-none, approved, lgtm, kind/documentation, needs-ok-to-test, dco-signoff: yes, area/testing
