Repository cert-manager/cert-manager, pull requests merged in 2025-06, with the labels that each got.

#7758 Set the default RevisionHistoryLimit to 1 for CertificateRequest revisions
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types_certificate.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller_test.go
Labels: release-note, approved, lgtm, area/api, kind/feature, size/M, dco-signoff: yes, ok-to-test, area/deploy

#7771 Upgrade to Pebble v2.7.0
  make/config/pebble/chart/templates/configmap.yaml
  make/e2e-setup.mk
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/certificates.go
  test/e2e/framework/helper/validation/validation.go
  test/e2e/suite/conformance/certificates/acme/acme.go
  test/e2e/suite/conformance/certificates/tests.go
  test/e2e/suite/conformance/certificatesigningrequests/acme/acme.go
  test/e2e/suite/issuers/acme/issuer.go
Labels: size/L, release-note, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#7776 [VC-39414] Patch the third_party/forked/acme package with support for ACME profiles
  third_party/forked/acme/acme.go
  third_party/forked/acme/rfc8555.go
  third_party/forked/acme/rfc8555_test.go
  third_party/forked/acme/types.go
  third_party/klone.yaml
Labels: size/L, release-note, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, area/testing

#7727 helm: use port names rather than numbers
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/webhook-deployment.yaml
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, size/S, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#7777 [VC-39414] Add support for ACME profiles
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  deploy/crds/crd-orders.yaml
  internal/apis/acme/types_issuer.go
  internal/apis/acme/types_order.go
  internal/apis/acme/v1/zz_generated.conversion.go
  make/config/pebble/chart/templates/configmap.yaml
  pkg/apis/acme/v1/types_issuer.go
  pkg/apis/acme/v1/types_order.go
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
  pkg/controller/certificaterequests/acme/acme.go
  pkg/controller/certificaterequests/acme/acme_test.go
  test/e2e/framework/helper/certificaterequests.go
  test/e2e/framework/helper/validation/certificaterequests/certificaterequests.go
  test/e2e/suite/issuers/acme/certificaterequest/profiles.go
  test/unit/gen/issuer.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, area/acme, dco-signoff: yes, area/testing, area/deploy

#7786 Update kind images to include the Kubernetes 1.33 node image
  make/cluster.sh
  make/e2e-setup.mk
  make/kind_images.sh
Labels: release-note, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7789 Fix typo in Certificate.Spec.SignatureAlgorithm documentation
  deploy/crds/crd-certificates.yaml
  pkg/apis/certmanager/v1/types_certificate.go
Labels: size/XS, release-note-none, approved, lgtm, area/api, kind/cleanup, dco-signoff: yes, area/deploy

#7793 fix(acme): Use ImplementationSpecific pathType until next breaking-change release
  pkg/issuer/acme/http/ingress.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, ok-to-test, area/acme/http01

#7796 fix(acmechallenges): increasing timeout
  pkg/controller/acmechallenges/sync.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, ok-to-test

#7799 [release-1.17] Bump Go to 1.23.10 to fix GO-2025-3749, GO-2025-3750, and GO-2025-3751
  cmd/acmesolver/go.mod
  cmd/cainjector/go.mod
  cmd/controller/go.mod
  cmd/startupapicheck/go.mod
  cmd/webhook/go.mod
  go.mod
  make/_shared/tools/00_mod.mk
  test/e2e/go.mod
  test/integration/go.mod
Labels: release-note, approved, lgtm, size/S, kind/bug, area/acme, dco-signoff: yes, area/testing

#7795 feat(acme): Add default feature gate for ACME HTTP01 Ingress pathType Exact
  internal/controller/feature/features.go
  make/e2e-setup.mk
  pkg/issuer/acme/http/ingress.go
  pkg/issuer/acme/http/ingress_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, area/acme, dco-signoff: yes, ok-to-test, area/acme/http01

#7806 Update Helm chart README
  deploy/charts/cert-manager/README.template.md
Labels: release-note-none, approved, lgtm, kind/documentation, size/M, dco-signoff: yes, area/deploy

#7813 Change ACMEHTTP01IngressPathTypeExact feature to beta
  internal/controller/feature/features.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes
