Repository cert-manager/cert-manager, pull requests merged in 2025-03, with the labels that each got.

#7595 fix SHAs for upstream bind images
  make/e2e-setup.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#7602 [release-1.16] bump jose dependency to address CVE-2025-27144
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7603 [release-1.17] bump jose dependency to address CVE-2025-27144
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7606 Bump go-jose to address CVE-2025-27144
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7609 Fix `certmanager_certificate_renewal_*_seconds` incorrect descriptions
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  test/integration/certificates/metrics_controller_test.go
Labels: release-note, approved, lgtm, size/S, kind/bug, dco-signoff: yes, area/testing, ok-to-test, area/monitoring

#7622 [release-1.17] bump x/net to address CVE-2025-22870 reported by trivy
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7618 Fix incorrect default in venafi issuer docs
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
  internal/apis/certmanager/types_issuer.go
  pkg/apis/certmanager/v1/types_issuer.go
Labels: size/XS, release-note-none, approved, lgtm, area/api, kind/documentation, dco-signoff: yes, area/deploy

#7627 fix DNS test broken by upstream change
  pkg/issuer/acme/dns/util/wait_test.go
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7577 add managed-by label to ACME account key
  pkg/issuer/acme/setup.go
Labels: size/XS, release-note, approved, lgtm, kind/feature, area/acme, dco-signoff: yes, ok-to-test

#7612 feat: Add certificate issuance time and duration metrics
  pkg/metrics/certificates.go
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics.go
  test/integration/certificates/metrics_controller_test.go
Labels: size/L, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/testing, ok-to-test, area/monitoring

#7624 [release-1.12] Bump x/net to fix CVE-2025-22870 reported by trivy
  .trivyignore
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  make/ci.mk
  make/tools.mk
  pkg/issuer/acme/dns/util/wait_test.go
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note, size/XL, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing, area/acme/dns01

#7631 [release-1.16] use a cert-manager mirrored version of bind
  make/e2e-setup.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes

#7632 [release-1.17] Use cert-manager mirrored version of bind + fix dns test
  make/e2e-setup.mk
  pkg/issuer/acme/dns/util/wait_test.go
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7633 Use a cert-manager mirrored version of bind for e2e tests
  make/e2e-setup.mk
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#7083 ingress-shim: optionally copy specific annotation
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  cmd/controller/app/start_test.go
  internal/apis/config/controller/types.go
  internal/apis/config/controller/v1alpha1/defaults.go
  internal/apis/config/controller/v1alpha1/zz_generated.conversion.go
  internal/apis/config/controller/zz_generated.deepcopy.go
  pkg/apis/config/controller/v1alpha1/types.go
  pkg/apis/config/controller/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/certificate-shim/sync.go
  pkg/controller/certificate-shim/sync_test.go
  pkg/controller/context.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, ok-to-test
