Repository cert-manager/cert-manager, pull requests merged in 2025-04, with the labels that each got.

#7653 Fix Route53 unit test
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes, ok-to-test, area/acme/dns01

#7666 More fine-grained control over powerful RBAC permission granted via Helm chart
  deploy/charts/cert-manager/README.template.md
  deploy/charts/cert-manager/templates/rbac.yaml
  deploy/charts/cert-manager/values.schema.json
  deploy/charts/cert-manager/values.yaml
Labels: release-note, approved, lgtm, kind/feature, size/M, dco-signoff: yes, ok-to-test, area/deploy

#7651 [release-1.15] chore(issuer/cloudflare): ensure we set ZoneID
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
Labels: size/XS, release-note, approved, lgtm, kind/bug, needs-ok-to-test, area/acme, dco-signoff: yes, area/acme/dns01

#7677 Migrate usage of deprecated logr testing package
  internal/controller/certificates/policies/gatherer_test.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller_test.go
  pkg/controller/certificates/trigger/trigger_controller_test.go
  pkg/metrics/certificates_test.go
  pkg/metrics/metrics_test.go
  pkg/server/tls/authority/authority_test.go
  pkg/server/tls/file_source_test.go
  test/integration/rfc2136_dns01/provider_test.go
  test/integration/rfc2136_dns01/rfc2136_test.go
  test/integration/webhook/dynamic_authority_test.go
  test/integration/webhook/dynamic_source_test.go
  test/webhook/testwebhook.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing, area/monitoring

#7679 Migrate use of deprecated functions/fields
  go.mod
  pkg/controller/acmechallenges/scheduler/scheduler_test.go
  pkg/issuer/acme/http/ingress_test.go
  pkg/issuer/acme/http/service.go
  pkg/issuer/acme/http/service_test.go
  test/e2e/framework/addon/vault/setup.go
  test/e2e/suite/issuers/acme/certificate/http01.go
  test/e2e/util/util.go
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, area/acme, dco-signoff: yes, area/testing, area/acme/http01

#7680 Make DynamicAuthority CN and secret labels configurable
  cmd/cainjector/app/controller.go
  cmd/controller/app/controller.go
  internal/webhook/webhook.go
  pkg/server/tls/authority/authority.go
  pkg/server/tls/authority/authority_test.go
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7373 Add short names for Issuer and ClusterIssuer
  deploy/crds/crd-clusterissuers.yaml
  deploy/crds/crd-issuers.yaml
Labels: size/XS, release-note, approved, lgtm, kind/feature, dco-signoff: yes, area/deploy

#7374 Allow removing default values for ServiceMonitor
  deploy/charts/cert-manager/templates/servicemonitor.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, needs-ok-to-test, dco-signoff: yes, area/deploy

#7442 Add note to kind configuration explaining how to configure it to trust a MITM corporate VPN CA
  make/config/kind/cluster.yaml
Labels: size/XS, release-note-none, approved, lgtm, kind/documentation, dco-signoff: yes

#7620 chore: fix some comments
  pkg/issuer/acme/dns/cloudflare/cloudflare.go
  pkg/webhook/configfile/configfile.go
  test/acme/server/rfc2136.go
  test/e2e/framework/addon/globals.go
  test/e2e/framework/helper/validation/certificatesigningrequests/certificatesigningrequests.go
Labels: release-note, approved, lgtm, size/S, kind/documentation, needs-ok-to-test, area/acme, dco-signoff: yes, area/testing, area/acme/dns01

#7638 Patch CVE CVE-2025-30204 and CVE-2025-22868
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note-none, approved, lgtm, kind/bug, needs-ok-to-test, area/acme, dco-signoff: yes, area/testing

#7550 skip score cards for forks with other default branches
  .github/workflows/scorecards.yml
Labels: size/XS, release-note-none, approved, lgtm, kind/bug, dco-signoff: yes

#7681 Remove remaining usage of deprecated CertificateRequest test helper
  test/e2e/suite/issuers/acme/certificaterequest/dns01.go
  test/e2e/suite/issuers/acme/certificaterequest/http01.go
  test/e2e/suite/issuers/ca/certificaterequest.go
  test/e2e/suite/issuers/vault/certificaterequest/approle.go
  test/e2e/suite/issuers/venafi/tpp/certificaterequest.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#7678 Fix behavior when running with --namespace=<namespace>
  cmd/controller/app/controller.go
  cmd/controller/app/options/options.go
  internal/apis/config/controller/v1alpha1/defaults.go
  pkg/controller/certificaterequests/selfsigned/selfsigned.go
Labels: release-note, approved, lgtm, kind/bug, size/M, dco-signoff: yes, ok-to-test

#7454 Don't unnecessarily reconcile resources marked for deletion and don't log that a resource no longer exist
  pkg/controller/acmechallenges/controller.go
  pkg/controller/acmeorders/controller.go
  pkg/controller/certificate-shim/gateways/controller.go
  pkg/controller/certificate-shim/ingresses/controller.go
  pkg/controller/certificaterequests/controller.go
  pkg/controller/certificates/issuing/issuing_controller.go
  pkg/controller/certificates/keymanager/keymanager_controller.go
  pkg/controller/certificates/readiness/readiness_controller.go
  pkg/controller/certificates/requestmanager/requestmanager_controller.go
  pkg/controller/certificates/revisionmanager/revisionmanager_controller.go
  pkg/controller/certificates/trigger/trigger_controller.go
  pkg/controller/certificatesigningrequests/controller.go
  pkg/controller/clusterissuers/controller.go
  pkg/controller/issuers/controller.go
Labels: size/L, release-note-none, approved, lgtm, kind/cleanup, area/acme, dco-signoff: yes

#7690 Fix AWS Route53 error detection for not-found errors during deletion
  pkg/issuer/acme/dns/route53/fixtures_test.go
  pkg/issuer/acme/dns/route53/route53.go
  pkg/issuer/acme/dns/route53/route53_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/acme/dns01

#7692 Backackport fixes for CVE CVE-2025-30204, CVE-2025-22868 and CVE-2025-22869
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing, ok-to-test

#7081 allow ip only certificates with common name as ip
  pkg/controller/acmeorders/sync.go
  pkg/controller/acmeorders/sync_test.go
Labels: release-note, approved, lgtm, kind/bug, size/M, area/acme, dco-signoff: yes, ok-to-test

#7591 allow customizing signature algorithm
  deploy/crds/crd-certificates.yaml
  internal/apis/certmanager/types.go
  internal/apis/certmanager/types_certificate.go
  internal/apis/certmanager/v1/zz_generated.conversion.go
  internal/apis/certmanager/validation/certificate.go
  internal/apis/certmanager/validation/certificate_test.go
  pkg/apis/certmanager/v1/types_certificate.go
  pkg/util/pki/csr.go
  pkg/util/pki/csr_test.go
  pkg/util/pki/generate_test.go
Labels: size/L, release-note, approved, lgtm, area/api, kind/feature, dco-signoff: yes, ok-to-test, area/deploy

#7704 [release-1.17] Bump base images
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7703 [release-1.17] Bump `golang.org/x/net` to fix CVE-2025-22872
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: release-note, approved, lgtm, kind/bug, size/M, area/acme, dco-signoff: yes, area/testing

#7705 [release-1.16] Bump base images
  make/base_images.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#7706 [release-1.16] Bump Go to v1.23.8 to fix CVE-2025-22871
  cmd/acmesolver/go.mod
  cmd/cainjector/go.mod
  cmd/controller/go.mod
  cmd/startupapicheck/go.mod
  cmd/webhook/go.mod
  go.mod
  make/_shared/tools/00_mod.mk
  test/e2e/go.mod
  test/integration/go.mod
Labels: release-note, approved, lgtm, size/S, kind/bug, area/acme, dco-signoff: yes, area/testing

#7707 [release-1.16] Bump `golang.org/x/net` to fix CVE-2025-22872
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/startupapicheck/LICENSES
  cmd/startupapicheck/go.mod
  cmd/startupapicheck/go.sum
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7708 [release-1.16] Bump `github.com/golang-jwt/jwt/v5` to `v5.2.2` to fix `CVE-2025-30204`
  LICENSES
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  go.mod
  go.sum
Labels: release-note, approved, lgtm, size/S, kind/bug, area/acme, dco-signoff: yes, area/testing

#7709 [release-1.12] Fix CVE-2025-22871, CVE-2025-22872, CVE-2025-30204
  .trivyignore
  LICENSES
  cmd/acmesolver/LICENSES
  cmd/acmesolver/go.mod
  cmd/acmesolver/go.sum
  cmd/cainjector/LICENSES
  cmd/cainjector/go.mod
  cmd/cainjector/go.sum
  cmd/controller/LICENSES
  cmd/controller/go.mod
  cmd/controller/go.sum
  cmd/ctl/LICENSES
  cmd/ctl/go.mod
  cmd/webhook/LICENSES
  cmd/webhook/go.mod
  cmd/webhook/go.sum
  go.mod
  go.sum
  make/tools.mk
  test/e2e/LICENSES
  test/e2e/go.mod
  test/e2e/go.sum
  test/integration/LICENSES
  test/integration/go.mod
  test/integration/go.sum
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing

#7710 [release-1.12] Fix CVE-2025-22872 in the ctl binary and ignore Helm CVEs which do not affect cert-manager cmctl
  .trivyignore
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes, area/testing

#7713 [Release v1.12.17] Update cmd/cmctl's go.mod to v1.12.17
  cmd/ctl/go.mod
  cmd/ctl/go.sum
  test/integration/go.mod
Labels: size/XS, release-note-none, approved, lgtm, kind/cleanup, dco-signoff: yes, area/testing

#7714 [CI] Self-upgrade merging self-upgrade-master into master
  .github/workflows/govulncheck.yaml
  klone.yaml
  make/_shared/go/base/.github/workflows/govulncheck.yaml
  make/_shared/tools/00_mod.mk
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes, skip-review
