Repository cert-manager/cert-manager, pull requests merged in 2025-10, with the labels that each got.

#8129 Revert "Start renovating release branches"
  .github/renovate.json5
Labels: release-note-none, approved, lgtm, size/S, kind/cleanup, dco-signoff: yes

#8109 [7883] - Fix uncontrolled cardinality for Prometheus metrics
  pkg/acme/client/http.go
  pkg/acme/client/http_test.go
  pkg/acme/client/middleware/logger.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  test/integration/certificates/metrics_controller_test.go
Labels: size/L, release-note, approved, lgtm, kind/bug, area/acme, dco-signoff: yes, area/testing, ok-to-test, area/monitoring, cybr

#5324 Create 20220720-per-certificate-owner-ref.md
  design/20220720-per-certificate-owner-ref.md
Labels: size/L, release-note-none, approved, lgtm, kind/design, dco-signoff: yes, cybr

#8150 [release-1.18] Backport Renovate config
  .github/renovate.json5
Labels: release-note-none, approved, lgtm, kind/cleanup, size/M, dco-signoff: yes
